[2013-07-29 18:31] StevenLawson opened #63 "/health command"
I don't believe we can do justice with our own implementation of the /health command. However, I've done some research, and it looks like we might want to try https://github.com/TheLunarFrog/LagMeter instead - which, as it's name suggests, is a plugin dedicated to measuring and reacting to lag events.

So, the question is - do we fix /health so it is more efficient and thread safe, do we switch to

[2013-08-10 17:06] #63 closed, assigned to nobody

[2013-09-07 15:11] StevenLawson opened #77 "Memo to self: add /config command"
Add a /config command to manipulate config options from the command line.

[2013-09-08 03:08] #77 closed, assigned to StevenLawson

[2013-09-08 03:11] StevenLawson opened #78 "Bukkit's "Magic Number" Depreciation"
It seems as if the Bukkit developers felt the need to deprecate a bunch of functions that take "magic" numbers in their latest commit, https://github.com/Bukkit/Bukkit/commit/1f83111208ab3612f384a2e6b65cc28423dc625e

This is currently creating a handful of deprecation warnings in TFM, however I'm going to leave these alone for the time being because several of these deprecated methods have no alte

[2013-09-28 15:35] StevenLawson opened #87 "Suggestion by CrafterSmith12 - Multiple blocks for /ro"
http://www.totalfreedom.boards.net/thread/6238/ro-block-ect

[2014-04-19 09:06] Wild1145 opened #151 "Ranks"
The ranks within TFM dont seem to work properly. @JeromSar Knows some of this, however it has just happened where telnets now show up in admin chat as [OP] after being verified... Just thought you'd like to know so you can fix it.

[2014-04-19 09:13] Wild1145 opened #152 "Duplicate admins"
With the new system, it looks like when you re-admin an imposter it creates a brand new record. This is obviously a issue as then it goes "XX is a admin on a different ip" or some crap.

[2014-04-22 06:55] #152 closed, assigned to nobody

[2014-04-22 06:55] #151 closed, assigned to nobody

[2014-04-22 21:20] Wild1145 opened #153 "Imposters"
Imposters dont actually show when logging into the game. While probably a easy fix I wanted to make sure you were aware so you can fix it!

This is probably linked into the wrong UUID's as part of #154 however could be 2 issues in one here.

[2014-04-22 21:21] Wild1145 opened #154 "Adding imposters to admin"
For some reason when you add someone who should actually be a imposer to admin it duplicates the entry and forms a new one. This means if a senior logs in they dont get flagged (see other issue) but then you cant add them back to senior.

This looks to be caused by a broken UUID either in Superadmin adding or the converters system from old Superadmin.yml to new.

One to add the what should have be

[2014-04-23 13:22] #153 closed, assigned to nobody

[2014-04-23 15:00] #87 closed, assigned to nobody

[2014-04-23 15:14] #78 closed, assigned to nobody

[2014-04-23 17:28] Wild1145 opened #156 "Imposers not un-impostering"
Found this while trying to fix the glitch with duplicate admin things.

https://pravi.us/CoQ

[2014-04-25 15:10] #156 closed, assigned to JeromSar

[2014-05-04 11:48] ghost opened #158 "Example issue"
Test

[2014-05-04 12:07] #158 closed, assigned to JeromSar

[2014-05-04 14:32] JeromSar opened #159 "Clean up Command_plugincontrol"
Command_plugincontrol has unclear usage and fails to provide handy tools such as reloading a specific plugin.

https://github.com/TotalFreedom/TotalFreedomMod/blob/master/src/me/StevenLawson/TotalFreedomMod/Commands/Command_plugincontrol.java

[2014-05-04 14:34] JeromSar opened #160 "Allow spaces in tags"
Continuing discussion from http://www.totalfreedom.boards.net/thread/11799/allow-spaces-tags?page=2

[2014-05-04 14:36] JeromSar opened #161 "Command_setl is broken"
From: http://www.totalfreedom.boards.net/thread/11759/fix-command

[2014-05-04 14:38] JeromSar opened #162 "Add /ro undo"
Continued discussion from: http://www.totalfreedom.boards.net/thread/11803/ro-undo

[2014-05-04 14:42] JeromSar opened #163 "Revamp backup system to perform daily/monthly backups"
Continued discussion from: http://www.totalfreedom.boards.net/thread/8744/superadmin-yml-corruption

[2014-05-04 21:26] JeromSar opened #164 "Revamp TwitterBot"
TwitterBot is old, outdated, counter-intuitive, slow and fails to work on occasion. The entire system needs to be redesigned.

[2014-05-04 21:34] #154 closed, assigned to JeromSar

[2014-05-04 21:38] JeromSar opened #165 "Warn when CB versions don't match"
There should be a warning on start up if the CraftBukkit version doesn't match the CraftBukkit TFM is compiled for.

[2014-05-04 22:02] #165 closed, assigned to JeromSar

[2014-05-05 09:26] JeromSar opened #166 "Remove listsync"
@markbyrn wants listsync to be removed. A senior admin tried it and it corrupted the superadmin config.

[2014-05-05 11:05] ExactObject opened #167 "Remove Individual Supered IPs"
Need a senior level command to remove an IP that an admin no longer wants to be supered.  For example, a hotel public WiFi IP.  Currently, the process requires a manual edit of the superadmin.yml file.

[2014-05-05 11:34] #166 closed, assigned to JeromSar

[2014-05-05 11:49] JeromSar opened #168 "Remove isStopCommand and isRemoveCommand"
TFM_Util.isStopCommand(String) and TFM_Util.isRemoveCommand(String) create ambiguity. Sticking with either "stop" or "remove" will probably be better.

[2014-05-05 12:27] #167 closed, assigned to JeromSar

[2014-05-05 13:31] #168 closed, assigned to JeromSar

[2014-05-05 13:39] JeromSar opened #169 "Lower block place/destroy threshold"
Continued discussion from http://www.totalfreedom.boards.net/thread/10876/remove-process

[2014-05-05 13:44] JeromSar opened #170 "Implement /tagnyan"
Continued discussion from: http://www.totalfreedom.boards.net/thread/10579/suggestion?page=2

[2014-05-05 14:03] #170 closed, assigned to JeromSar

[2014-05-05 15:37] Wild1145 opened #171 "Resolves Wrong UUID"
As I have said before, when the superadmin.yml is converted to the new system it resolves different UUID's to those when you add them to admin. This is causing major problems with imposers and will end up causing some major problems when 1.8 allows name changing.

[2014-05-06 03:05] StevenLawson opened #172 "New Feature: Fish Smack"
When you left click with a clownfish in your hand, and there is a person standing in front of you, it should use the "expel" effect on them.

Just putting this here so I don't forget to add this.

[2014-05-06 21:54] gladvlad1 opened #173 "Tab Colors"
This: http://www.totalfreedom.boards.net/thread/10906/tab-colors

[2014-05-07 10:53] #160 closed, assigned to JeromSar

[2014-05-10 21:27] #171 closed, assigned to JeromSar

[2014-05-10 21:44] #173 closed, assigned to Wild1145

[2014-05-11 12:09] Wild1145 opened #177 "Essentials UserData Wipe Command"
Continues from http://www.totalfreedom.boards.net/thread/12049/command-clear-essentials-player-data

Basically Mark would like a command that can wipe the essentials userdata.

[2014-05-11 16:05] #169 closed, assigned to JeromSar

[2014-05-11 16:16] JeromSar opened #178 "Make TFM friendlier for associated servers"
TFM should have a config option for server name, the MOTD and the ban message.

[2014-05-11 16:42] #163 closed, assigned to JeromSar

[2014-05-11 17:03] #177 closed, assigned to JeromSar

[2014-05-13 01:26] kingdr3647 opened #179 "<didn't mean to post this, so sorry>"

[2014-05-13 01:26] #179 closed, assigned to JeromSar

[2014-05-13 13:48] #162 closed, assigned to JeromSar

[2014-05-13 13:50] JeromSar opened #180 "Unbannable usernames can be banned again"
Since the 4.0 update, the banning system was switched to the new UUID system. Unbannable usernames were never re-implemented.

[2014-05-13 14:32] #159 closed, assigned to JeromSar

[2014-05-13 14:41] JeromSar opened #181 "Remove all singleton patterns"
Singleton patterns are used often in TFM but they don't formulate a good design structure. On top of that, we only use them for specific classes, whilst we stick with a purely static design structure for other classes.

Instead, we should move all classes over to a purely static code base.

References:
http://stackoverflow.com/questions/137975/what-is-so-bad-about-singletons

[2014-05-13 14:53] Wild1145 opened #182 "Offline Players"
You dont seem to be able to do the following with offline players:

Ban
Rollback
Unban
Anything else with offline players

[2014-05-13 15:02] #180 closed, assigned to JeromSar

[2014-05-13 15:11] #182 closed, assigned to JeromSar

[2014-05-15 15:00] SupItsDillon opened #184 "Auto-freeze imposters"
Ref: http://www.totalfreedom.boards.net/thread/12123/ides-tfm-agents-impostors
Ideas and comments appreciated.

[2014-05-16 13:18] #178 closed, assigned to JeromSar

[2014-05-16 13:33] JeromSar opened #187 "Fuzzy IPs do not get unbanned for admins."
Command_gtfo bans fuzzy IPs (127.0.*.*) but they never get unbanned when admins log back in.

[2014-05-16 13:39] #187 closed, assigned to JeromSar

[2014-05-19 00:14] zD12 opened #188 "How do you modify the MOTD"
I'm aware modifying the MOTD is possible, but how would that be possible and where would it be located?

[2014-05-19 14:39] StevenLawson opened #189 "/saconfig clear sounds dangerous"
I suggest that _/saconfig clear_ be changed to something like _/saconfig clearme_.

[2014-05-19 16:04] #188 closed, assigned to JeromSar

[2014-05-19 17:46] #189 closed, assigned to JeromSar

[2014-05-21 04:30] gladvlad1 opened #191 "clear chat"
Not sure if this would be useful but, ...

How about we have a command that clears chat completely? Maybe the alias for the command can be: "/cc" :3

(/clearchat)
(/cc)

[2014-05-21 20:47] #191 closed, assigned to JeromSar

[2014-05-25 02:31] Telesphoreo opened #192 "Bug with STA rank in tab"
In telnet it should be ChatColor.DARK_GREEN not ChatColor.GREEN

[2014-05-26 05:00] Telesphoreo opened #193 "/toggle doesn't work?"
I tried /toggle waterplace and it just keeps disabling it. /toggle doesn't work. It only works with /toggle disguise craft

[2014-05-26 12:38] ExactObject opened #194 "Could use List -i command"
I'd like to have a List -i command to quickly see any impostors.

[2014-05-26 14:38] robingall2910 opened #195 "Senior Admin commands are not working"
For somewhat reason senior admin commands don't work for seniors in my server. It just says you don't have permission for this command.

[2014-05-28 15:05] #192 closed, assigned to JeromSar

[2014-05-29 14:08] KingDragonRider opened #198 "Compass item allowing players to move if they're frozen"
Continues from: http://www.totalfreedom.boards.net/thread/12511/players-use-compasses-when-frozen

I believe it's just a setting which can be changed in the Essentials config file, I may be wrong though.

[2014-06-02 22:48] gladvlad1 opened #201 "Block listed ips from being supered"
See: http://www.totalfreedom.boards.net/thread/12673/tfm-suggestion-block-listed-supered :3

[2014-06-04 13:04] kingdr3647 opened #202 "Can't remove adminworld guests"
(sorry if this bug has been fixed in later versions of TFM, I have looked briefly and it doesn't appear to have been)
In the TFM version TF is currently using, the command "/adminworld guest remove" doesn't find the name of the guest to remove.

In the following image I have added player 'IAmTesting' to the adminworld guest list (as can be seen when I use "/adminworld guest list") but when I use "

[2014-06-11 16:41] SupItsDillon opened #208 "Persistent tags"
"Make it so it saves peoples tag, cause on reload or restart they clear"

Read more: http://www.totalfreedom.boards.net/thread/12890/tag-yml#ixzz34Lk0E6QV

[2014-06-19 14:57] SupItsDillon opened #211 "Auto-add IP to telnet file if user is telnet when they login."
It saves  the server owner having to add their IP if it changes or giving out the password

[2014-06-22 14:56] #193 closed, assigned to JeromSar

[2014-06-22 15:04] #211 closed, assigned to JeromSar

[2014-06-22 15:13] #184 closed, assigned to nobody

[2014-06-22 15:53] #202 closed, assigned to JeromSar

[2014-06-22 16:07] #194 closed, assigned to JeromSar

[2014-06-22 23:41] zD12 opened #212 "How do I setup TwitterBot?"
Hello, how do I set up TwitterBot?   I've been searching for information regarding this issue, but I'm unable to find out how.

Thanks,
zD12

[2014-06-23 15:40] #212 closed, assigned to JeromSar

[2014-06-26 19:38] #161 closed, assigned to JeromSar

[2014-06-26 19:55] JeromSar opened #213 "Rollback is broken"
Rollback does not seem to work.

[2014-06-26 19:59] JeromSar opened #214 "UUID polling is unreliable"
Some UUIDs are fetched wrongly, resulting in the message: "[admin] is an admin, but using an IP not registered to their IPs"

[2014-06-26 20:18] VjGamingUK opened #215 "test"
hi

[2014-06-26 20:27] #215 closed, assigned to JeromSar

[2014-06-27 17:37] JeromSar opened #217 "Block //snow"
//snow is a dangerous command. It serves nearly no use but it has potential to crash the server. It should be blocked.

[2014-06-27 18:19] Wild1145 opened #218 "Essentials"
Essentials will need to be updated to use the new Admin list system. I know @StevenLawson has previously updated Essentials but I just thought I should put this out as a reminder to @JeromSar too as until it updates there will be errors with a fair few essentials commands!

[2014-06-27 21:43] JeromSar opened #219 "/tfbanlist purge and /tfipbanlist purge don't save"
The bans for /tfbanlist purge and /tfipbanlist purge are only reflected in game. But the bans recur when the server is reloaded.

[2014-06-28 09:44] #195 closed, assigned to JeromSar

[2014-06-28 09:44] #219 closed, assigned to JeromSar

[2014-06-28 09:50] #217 closed, assigned to JeromSar

[2014-06-28 09:53] JeromSar opened #220 "/gamin <invalid> throws IndexOutOfBoundsException"
The command /gadmin is broken and throws an exception when an incorrect second parameter is used.

[2014-06-28 10:00] #220 closed, assigned to JeromSar

[2014-06-28 19:27] #213 closed, assigned to JeromSar

[2014-06-28 20:12] JeromSar opened #223 "Reduce RAM usage"
TFM is using a lot of ram. This is mostly due to all playerdata being cached at startup.

We should start removing RAM-insensitive tasks such as caching and rely more on processing tasks per-player.

[2014-06-28 20:33] #181 closed, assigned to JeromSar

[2014-06-29 10:11] #214 closed, assigned to JeromSar

[2014-06-29 12:34] #218 closed, assigned to JeromSar

[2014-06-29 19:38] JeromSar opened #224 "Forcing login with speficied hostname"
TFM should have have an options to force players to join using a specified hostname. That way, players would still have access to the server if their server changes IP.

[2014-06-29 19:53] JeromSar opened #225 "Jumppads can not be disabled"
_/jumppads off_ does not work. Wool keeps on bouncing.

[2014-06-29 20:05] JeromSar opened #226 "Announcement system"
Some sort of announcement system would be nice to have. Then, TF could broadcast about important messages.

Required:
- Customizable prefix
- Customizable timer
- Customizable announcements
- ~~Random/cycle~~

[2014-06-30 14:36] Robolord opened #227 "/tfm reload is open to ops"
Well i noticed i can do /tfm reload on FOP and some other servers, haven't tried it in TF - I'll have a go at fixing it :)

[2014-06-30 15:30] #227 closed, assigned to JeromSar

[2014-06-30 15:36] #225 closed, assigned to JeromSar

[2014-06-30 15:48] JeromSar opened #228 "Permban URL doesn't show up"
@markbyrn posted me this:
[image](https://dl.dropboxusercontent.com/u/21145471/Screen%20Shot%202014-06-30%20at%208.42.22%20AM.png)

[2014-06-30 15:51] #228 closed, assigned to JeromSar

[2014-06-30 16:30] robingall2910 opened #229 "Bypassing bans."
Players are bypassing bans. ![](http://i.imgur.com/Q1EtXkB.jpg)![](http://i.imgur.com/7WfEPEo.jpg)

[2014-06-30 17:09] #229 closed, assigned to JeromSar

[2014-07-02 04:27] Telesphoreo opened #230 "Adds a /report command"
This is a /report command since /wm report was removed

_`<snip>`_

[2014-07-02 18:24] #230 closed, assigned to JeromSar

[2014-07-03 06:14] zD12 opened #231 "'TotalFreedomMod is running in evil-mode' displays wrong domain"
https://github.com/TotalFreedom/TotalFreedomMod/blob/master/src/me/StevenLawson/TotalFreedomMod/TFM_FrontDoor.java

[code]

You may wish to modify the following IP address to say "play.totalfreedom.me" factoring tf.sauc.in isn't being updated anymore..

[2014-07-03 11:20] #231 closed, assigned to JeromSar

[2014-07-06 20:54] ExactObject opened #232 "Start and Reload Takes Too Long"
Starting the server or even doing a reload are taking upwards of 5 mins to complete with severe lag and disconnects during a reload. Not sure the cause but perhaps it's an issue where a plugin is taking too long to load.

[2014-07-06 21:08] #232 closed, assigned to JeromSar

[2014-07-09 03:13] SportguyMC opened #233 "OP's can fake /say with /tellraw"
There was a recent incident where a OP can fake /say by using /tellraw. Here is the command they used:

[03:05:06] [Server thread/INFO]: LouisLand123 issued server command: /tellraw 0sportguy0 {text:"[Server:LouisLand123] hi ",color:light_purple}
[03:05:06] [Server thread/INFO]: [PREPROCESS_COMMAND] LouisLand123([Helper] LouisLand123): /tellraw 0sportguy0 {text:"[Server:LouisLand123] hi ",color:li

[2014-07-10 01:37] VideoGameSmash12 opened #234 "Readding /wm to TFM"
If you have to, you may remove all unneeded

/wm report is the most useful command in TF.

[2014-07-10 05:59] Telesphoreo opened #235 "/adminworld setspawn"
I think that there should be /adminworld setspawn

(lrice11 suggested this)

[2014-07-10 17:12] Wild1145 opened #236 "Tweak the tab colour system"
As http://www.totalfreedom.boards.net/thread/13634/color-thing-tab-button-imposters I will be adding in a yellow color in the tab screen for imposters and a bright yellow [IMPOSTER] prefix.

This is more here to remind me that I need to do it, so please dont just close it ;)

[2014-07-10 17:34] #235 closed, assigned to JeromSar

[2014-07-12 11:54] StevenLawson opened #237 "Track and remove old superadmin IPs"
With regards to:
http://totalfreedom.boards.net/thread/13687/saconfig-clearme

If someone has more than, lets say, 3 superadmin IPs, their oldest ones should be automatically removed after a week or so.

Suggested Implementation - store IPs as a comma serialized object with a timestamp, don't add extra fields to reduce complexity of implementation.

[2014-07-12 23:33] StevenLawson opened #238 "Implement HTTP log retrieval functionality"
Since we're no longer using BukkitHTTPd, we need a new way for external log viewers to pull log information from the server (such as TFM's Logviewer). Right now, said logviewer is using FTP to pull the data, which is much slower.

I suggest this be implemented as a new module under me.StevenLawson.TotalFreedomMod.HTTPD

I'm assigning this to myself since the logviewer is partially running on my se

[2014-07-13 22:08] #238 closed, assigned to StevenLawson

[2014-07-13 22:32] kingdr3647 opened #239 "players don't get kicked by /nuke"
A player used the /nuke command but didn't get kicked:

![image](https://cloud.githubusercontent.com/assets/4896255/3565953/7236db1c-0add-11e4-994a-eb4e1face91d.png)

[2014-07-14 02:52] #239 closed, assigned to StevenLawson

[2014-07-15 23:56] KingDragonRider opened #240 "Adding region information to WorldEdit commands shown in cmdspy"
I think it would be a great feature if we could see the areas and dimensions of WorldEdit commands shown in command spy. This would really help when determining if a worldedit could be malicious.

![](https://www.screenshottr.us/v/acc64d2a88c565f4cf8ae2fa18efed3ac8c8eeb1/05156dbc60fa228fd98847c84b9c0ebb.png)

[2014-07-16 15:35] VideoGameSmash12 opened #241 "Destroyed tags"
When a Senior Admin speaks on my server, the tag adds itself again and just makes this:

http://i.gyazo.com/29f2f52874a8b549a7806930f1e6f032.png

[2014-07-17 18:05] jamell opened #242 "Mario Kart"
I think we should have the mariocart plugin in the adminworld. It would be fun kind of like mob arena, where admins can take a break and play this. I think it would be a great addtion to the server.

[2014-07-19 20:36] #241 closed, assigned to JeromSar

[2014-07-20 01:11] #172 closed, assigned to StevenLawson

[2014-07-20 01:49] StevenLawson opened #243 "Fix crash exploit"
See:

http://www.totalfreedom.boards.net/thread/13967/suggestion-limit-potions

I won't post details here till this is fixed.

[2014-07-20 11:48] #242 closed, assigned to JeromSar

[2014-07-21 21:08] kingdr3647 opened #244 "A local chat command, sends a message to all players within a specified radius"
Continues from http://www.totalfreedom.boards.net/thread/14034/local-chat-msgr-message-radius - This is Windows_i7_920's idea, not mine :)

<hr>

/msgr [radius] [msg]
or
/msgr [msg]
or
/msgr [radius]

The idea is simple... a command to send a chat message to everyone within <radius> of sender. It could be useful for asking people to leave an area for example. It could also be used by people to rol

[2014-07-25 21:10] kingdr3647 opened #245 "/gadmin list not working, shows one person then how to use the command"
I try using "/gadmin list" but it only shows the nickname/hash of one person and then shows me the information on how to use that command. Here's what it shows:

![image](https://cloud.githubusercontent.com/assets/4896255/3708219/2d8270b4-1440-11e4-9b60-81355eb67896.png)

[2014-07-26 03:12] #245 closed, assigned to StevenLawson

[2014-07-26 15:48] #243 closed, assigned to StevenLawson

[2014-07-28 21:54] MKVollmer25 opened #248 "Anti-Supered IP Sharer System"
This is pretty simple. If the IP is the same as an admin, and the username is not, then the player will not be supered (e.g. a sibling)

[2014-07-30 13:12] #233 closed, assigned to JeromSar

[2014-08-02 06:06] Telesphoreo opened #254 "TotalFreedomMod is (not) broken"
Its broken. TFM_WorldEditBridge.java won't compile nor will TFM_ServerInterface both because of some import error

I have:
Spigot
Essentials
WorldEdit
DisguiseCraft
BukkitTelnet (4.1)

Is there something I'm doing wrong? I update TFM every month. (meaning that I compile it and add PacksFreedom custom commands and ranks etc.)

[2014-08-02 13:33] JeromSar opened #255 "Cache UUIDs"
Currently, TFM_UuidResolver manually resolves each UUID at login this results in three problems:
- Duplicate player entries when Mojang's public API is offline.
- If the player is an admin, and Mojang's public API is offline, the admin is marked as logging in with a different account.
- Player logins are slower than usual.

By caching UUIDs, player logins take less time. Additionally, this avoids

[2014-08-03 17:04] #254 closed, assigned to JeromSar

[2014-08-03 22:51] Heyitsthatonekid opened #257 "LogStick cant pick up WorldEdits"
Can you make it so the LogStick can pick up worldedits?
Because it cant

[2014-08-04 01:27] jamell opened #258 "/uball or /ubme"
Unbinds all tools in your/all players inventory.

I have suggested it but Darth never got around to it.

You can view it here-
http://www.totalfreedom.boards.net/thread/7758/uball-unbindall
Admins only ^

[2014-08-04 14:28] #257 closed, assigned to JeromSar

[2014-08-04 17:24] #258 closed, assigned to JeromSar

[2014-08-04 20:01] Ptatoz opened #259 "/tellraw from telnet?"
First post on this website so sorry if I screwed something up in this post, but when I used /tellraw from telnet, this happened:

::[19:54:40 WARN]: [BukkitTelnet] Task #6977 for BukkitTelnet v4.1 generated an exceptionorg.bukkit.command.CommandException: Unhandled exception executing 'tellraw' in org.bukkit.craftbukkit.v1_7_R3.command.VanillaCommandWrapper(tellraw)
    at org.bukkit.command.Simpl

[2014-08-06 16:27] JeromSar opened #260 "Block tags containing "console""
Currently, players can impersonate the `/csay` console by tagging themselves as [CONSOLE]

[2014-08-08 00:30] StevenLawson opened #262 "java.lang.IllegalArgumentException: Player list names can only be a maximum of 16 characters long"
Any calls to `setPlayerListName` should be modified so that the passed string is truncated to 16 characters, as shown here:

http://pastebin.com/raw.php?i=i3KdeEsX

[2014-08-08 00:47] #262 closed, assigned to StevenLawson

[2014-08-09 14:27] JeromSar opened #265 "/tfm reload does not update blocked commands"
Using _/tfm reload_ does not re-parse and cache the blocked commands.

[2014-08-09 14:32] #248 closed, assigned to JeromSar

[2014-08-09 14:37] Heyitsthatonekid opened #266 "Invis only for admins"
so lets say there is an op and he wants to grief so he looks around and says, "No admins around" when really there is an invis admin right there so he starts griefing and the admin comes out of invis and gtfoes.
Why have i said this...
Only Super Admins should be allowed invis so that they can go undercover and alot of other admins agree

[2014-08-09 14:39] #259 closed, assigned to JeromSar

[2014-08-11 10:02] MEGAF4IL opened #267 "Telnets without super-admin privileges can still use telnet"
So, Telnets that lose their SA perms, are still able to use telnet.

I tested this with Lead_Falcon in two ways. (Don't worry, I asked for his permission before testing.)
1. Removed his SA and asked him to add himself back, it worked.
2. Did the same above but asked him to reconnect on telnet after removing SA. Still worked.

Now here's something that concerns me most.

JamelB had resigned, but st

[2014-08-13 22:17] JeromSar opened #268 "Clean up TFM_Util"
TFM_Util contains a lot of single-purpose methods that clutter the file and could easily be refractored to a more appropriate location. For example, TFM_Util contains some methods dedicated to /cage. It would be more appropriate to have these located in Command_cage. Command_trail follows this convention already.

[2014-08-13 23:36] JeromSar opened #269 "Avoid /qop spamming"
Currently, /qop can be used to spam the chat by issuing `/qop a` repeatedly. This annoying side effect can be avoided by:
- Only opping a single player instead of all matches
- Only displaying newly opped players
- Only opping if the partial match is at least three characters long

[2014-08-14 08:15] #269 closed, assigned to StevenLawson

[2014-08-14 16:46] Wild1145 opened #271 "Issues with server interface (1.7.10 Bukkit Issue)"
Just as a heads up, there is a current code error with the ability to set server to onlinemode / offline mode within the server interface when using the latest CraftBukkit. While this isnt a issue for me as I just removed it (As I dont need admins to be able to toggle online and offlinemode), it will become a small issue.

While im sure its a easy fix I thought I'd flag it to you all.

Code in que

[2014-08-14 16:52] #271 closed, assigned to StevenLawson

[2014-08-15 18:14] Voidjasper opened #274 "Longer Logs"
I understand that currently you do not want an SQL db. What if you saved the logs in a HashMap then saved to HashMap to a yml file that is purged every 2 hours or so to prevent large memory usage?

[2014-08-15 20:00] #260 closed, assigned to StevenLawson

[2014-08-15 20:17] #265 closed, assigned to StevenLawson

[2014-08-15 20:34] #267 closed, assigned to StevenLawson

[2014-08-17 19:01] MKVollmer25 opened #276 "Too much space between nicks and tags"
When someone uses a nick and a tag, the are 2 spaces apart.

[2014-08-18 17:42] KingDragonRider opened #278 "Extra time difference parameter to certain commands."
For example (command suggested by aggelosQQ)
aggelosQQ: /stfu Random123 6m
aggelosQQ has muted Random123 for 6 minutes.

Some other commands which could have an extra <time> parameter (suggested by vj13573):
/blockcmd [player] [time]
/halt [player] [time]
/fr [player] [time]
/fr [time] - Temporarily freezes everyone (not sure how this one will work, since we need a way to determine if the numbers

[2014-08-18 18:25] ChargedCreeper opened #279 "/findlag"
Basically, the idea is a command that finds the chunk that has the most entities in it. Mainly this would be useful for tracking down any hidden lag machines, or players otherwise creating lag on purpose.

[2014-08-18 20:58] Wild1145 opened #280 "Adding different options to /nc"
My suggestion would be to have a set of additions to /nc. Standard /nc does what it does now, but if you add a variety of extra bits on the end (Dont remember the proper term) it would only strip specified parts.

Example

/nc -b  = Removes only Bold

Im not sure how it would best work with black though, perhaps just /nc -c for color?

-b  - Bold

-c  - Color (Black and hard to read types)

-u  -

[2014-08-19 05:33] Voidjasper opened #281 "@"

[2014-08-19 05:33] #281 closed, assigned to JeromSar

[2014-08-19 05:47] Voidjasper opened #282 "@player and /crew?"
Admin crews are growing, and players like to be recognized that they are in one. These crews can be stored in a yml file with the fields owner, group, prefix. They woukd be invite only, ex.
If (player.ownsgroup (sender)
{
If (args [0].equalsIgnoreCase ("invite"))
{
Sender.invite (args [1]);
}
Etc...

If the player is in a group their tag will be set on join. These grouos can only be created by adm

[2014-08-19 18:35] Wild1145 opened #285 "Remove Range Banning"
Now, before I get people going "Well it stops X Y Z attacks" it actually doesn't, so stop and read this through please.

After speaking with both my Network Managers and other system administrators, I have found that range banning isnt just a waste of time, but it can end up banning EVERYONE on 1 ISP. This has happened multiple times before, we have had the entire of Virgin Media's Ranges blocked

[2014-08-19 21:32] StevenLawson opened #286 "/saconfig setmessage"
Mark wants a command to set admin login messages. I suggest something along the lines of:

`/saconfig setmessage <adminName> <message &cwith color &2codes>`

http://www.totalfreedom.boards.net/post/150190/thread

[2014-08-19 21:59] VideoGameSmash12 opened #287 "Prevent creative PvP"
Lots of things to talk about, so prepare your eyes!

Auto-Smite:

I have been smiting so many people who creative pvp'd recently and I've had enough typing /smite so why not add an auto smite?
Here's how it works: When a player dies, it will check if it was a player who killed the player, if it was, it would check if the player is in survival, if not, then SMITE with the message: "<playername> has

[2014-08-19 22:13] Wild1145 commented on #287
Auto smite does work well, we added it in cjfm in a effort to further automate things.

The strike system is also something that we looked into, but as its offlinemode it was deemed unreliable and would cause more harm than good.

[2014-08-20 00:18] ChargedCreeper opened #288 "glist ban reason parameter"
/glist ban name reason

This would be nice so the banned player can see why they got banned if they try to relog. gtfo already has this, so why not glist ban also?

[2014-08-20 00:31] StevenLawson opened #289 "No way to ban someone by direct IP entry."
There is no way to ban someone by direct IP entry - you have to use a player's name (glist ban) or they have to be logged in (so you can use gadmin banip <hash> / gtfo).

A command or subcommand probably should be added for this functionality. This will tie in with #285, only the last byte of the IP should be able to be "wildcarded".

[2014-08-22 00:10] Wild1145 opened #293 "Formatting... Or lack of it"
For some strange reason when a player was just banned the text lacked any formatting...

https://pravi.us/V1w

[2014-08-23 11:40] #282 closed, assigned to JeromSar

[2014-08-23 15:51] Wild1145 opened #295 "The curse of the cake..."
For some reason should you want to /wildcard cake you end up with a Command error -1 with this error

[15:46:30 INFO]: [CONSOLE_COMMAND] ItzBloop: /cake
:[15:46:30 INFO]: [TotalFreedomMod] Command Error: cake
:[15:46:30 ERROR]: [TotalFreedomMod] nulljava.lang.ArrayIndexOutOfBoundsException: -1
    at net.minecraft.server.v1_7_R3.PlayerInventory.setItem(PlayerInventory.java:331)
    at org.bukkit.c

[2014-08-23 17:53] #295 closed, assigned to StevenLawson

[2014-08-23 23:23] StevenLawson opened #296 "/rb caused NullPointerException"
[code]

[2014-08-24 10:21] #293 closed, assigned to Wild1145

[2014-08-24 15:55] StevenLawson opened #297 "Spambot mitigation - "botblock" feature"
A way to mitigate spambot attacks.

When botblock is enabled:
- If more than _X_ chat messages are sent in a _Y_ second period, the user will be muted.
- Once auto-muted, the user will be prompted to solve a "puzzle" - e.g. "What is four plus six?". Every time they try to chat, they'll see this.
- Once the question is answered via chat, they will be un-muted and added to a temporary "cleared" list

[2014-08-24 18:37] aggelosQQ opened #298 "/tempban does not ban offline players."
This command would be really helpful
If there's a small grief and the player is offline and I want to tempban him for some hours I can't because he's offline.

[2014-08-25 16:48] #296 closed, assigned to JeromSar

[2014-08-25 17:50] #226 closed, assigned to JeromSar

[2014-08-26 22:30] #223 closed, assigned to JeromSar

[2014-08-27 09:43] #255 closed, assigned to JeromSar

[2014-08-27 18:51] VjGamingUK opened #299 "Schematic Manager - Broken?"
Is the Schematic Manager "Upload Section" http://tf.madgeekonline.com:28966/schematic/upload
link bugged? Whenever you try upload a schematic it'll say "Error uploading schematic" even if it's spelt right with the ".schematic" at the end.

[2014-08-27 23:14] MKVollmer25 opened #300 "No Senior Perms on Telnet"
I got a server not too long ago. I logged into telnet, and I don't have Senior Admin perms. Does anyone know why this is happening?

[2014-08-30 04:15] ExactObject opened #301 "Saconfig Add Not Adding New IPs"
Old problem has now resurfaced - doing saconfig add isn't adding new IPs - had to manually add my own IP to the file.

[2014-08-30 08:59] VjGamingUK opened #302 "Command Idea: /cc"
Command: /cc
Short for clear-chat

It clears chat, which should be useful if someone spams advertising or if someone says "All do /mat" or etc or any other commands that ban players. So admins can use it if it happens.

2 options:
- Clears chat for EVERYONE
- Clears chat for OPs only (admins will still see chat)

at the end it'll say "Chat Cleared by (sender)"

When I say "Clears chat for OPs only

[2014-08-30 14:26] #301 closed, assigned to JeromSar

[2014-08-30 17:11] Wild1145 opened #303 "saconfig list"
For some reason when you are not an admin /saconfig list does not work. I tried this on FOP and it shows the no perms message. When checking their repo its running the same source as this saconfig.

Its probably a silly fix, but its a bug none the less.

[2014-09-01 18:35] Obi2 opened #304 "View who's connected to Telnet using /list"
/list -t
Like list -a, shows which admins are connected to Telnet and their rank. This should be possible as TotalFreedomMod already integrates with BukkitTelnet.

[2014-09-03 02:15] kingdr3647 opened #307 "OPs able to set the idle timeout with command"
OPs have access to /setidletimeout which I am pretty sure is not intentional. When someone set the idletimeout to 1, many players got kicked.

[2014-09-03 06:17] Voidjasper opened #308 "//copy //paste sand to crash server"
Players can copy a wide field of sand then paste it in the sky to create lag and crash the server. You can prevent this by using simar args that are used in a protected area but instead of if the selection contains a protected area it could be if the selected area contains material.sand

[2014-09-03 19:13] JeromSar opened #312 "Mute command blocking"
Mute command blocking is case-sensitive.

[2014-09-13 00:02] ChargedCreeper opened #315 "Limit autokick/ban commands"
Trolls are abusing the fact that harmful commands get players autokicked for trying to use. I suggest that such commands be changed to just return unknown command or something. As it is currently, there is a problem with trolls saying a bad command in chat, and some people immediately test the command, and get autokicked.

[2014-09-13 15:49] #307 closed, assigned to nobody

[2014-09-13 16:31] StevenLawson opened #317 "New Command: /infomsg <identifier> [<playerName>]"
We've avoided adding commands like _/ai_ (which is part of a separate plugin that shows information about how to apply for super admin status) directly to TFM because they don't transfer well to other servers wanting to run TFM.

My suggestion is to add a command that can send a formatted block of text to a player. These blocks of text will have a textual identifier, and be stored in the config.ym

[2014-09-13 23:11] kingdr3647 opened #319 "/size and //mask bypass the blocked command //brush."
/size and //mask are both commands which essentially bypass the blocked command '//brush'.

[2014-09-13 23:25] Wild1145 opened #320 "Split up the Config.yml"
Currently the config.yml is huge, nearly 300 lines long, and I personally think that its way to much for any plugin. I know that some plugins do have them longer, but I dont think its the best way to organize the configurable options of the plugins.

As such I suggest we split the config.yml up into separate yml files for stuff like the command blocking, announcement messages and stuff like that.

[2014-09-14 15:30] Emperozion opened #322 "No partial name for /saconfig add"
Basically say a Telnet supered an imposter with /saconfig add (partial name) and there was someone online with a similar name and he accidently supered an op and there was no one to delete him. So im suggesting it to work on full names.
(i bet it already does)

[2014-09-15 15:57] #304 closed, assigned to nobody

[2014-09-18 00:23] Heyitsthatonekid opened #323 "Glist bans and unbans are spamming chat"
so i was on the server and did /glist unban Notch and this came up
https://www.screenshottr.us/v/3da0527674f619e07d8622842e7be0585cf2b6c8/1cc03dbffae1c4a1dc1059d8514f84b9.png
this needs fixed so that it only bans the ip the recently joined...
@StevenLawson @JeromSar

[2014-09-19 22:00] #323 closed, assigned to StevenLawson

[2014-09-19 23:57] #322 closed, assigned to StevenLawson

[2014-09-20 00:01] #303 closed, assigned to StevenLawson

[2014-09-23 19:23] #319 closed, assigned to JeromSar

[2014-09-23 19:53] TheWadeSmith opened #324 "/ro undo"
Undo's an /ro. Has been suggested a few months ago.

[2014-09-24 11:01] #324 closed, assigned to StevenLawson

[2014-09-24 21:41] ChargedCreeper opened #325 "/mute -s: Smite parameter for mute"
The idea is that /mute -s <player> would smite them and mute them, sort of like how /wh has a smite parameter.

[2014-09-25 00:20] #302 closed, assigned to StevenLawson

[2014-09-25 19:51] Evan52098 opened #326 "Worldedit"
I am compiling the plugin, and I am getting this error:

http://gyazo.com/62151829d936f828cd3bdb6a26211be4

[2014-09-27 18:50] Evan52098 opened #327 "Senior Admin"
I have to problems -

Everyone that is new is a senior admin

I myself, how do I make myself the rank owner without compiling the plugin

[2014-09-27 22:55] #327 closed, assigned to nobody

[2014-09-29 21:30] VideoGameSmash12 opened #330 "Login Limit"
My suggestion is that we add another command. Here is the idea:

Command name: loginlimit

Command level: Telnet Admins and Up

Command purpose: Just in case the server gets spambot'd or players are joining really fast making it lag, a Super Admin and up can set the limit of how many players can join per minute or second. Admins will bypass this as always unless the username is an OP rank (when an

[2014-10-01 17:22] #325 closed, assigned to StevenLawson

[2014-10-03 13:10] #326 closed, assigned to JeromSar

[2014-10-03 17:14] Obi2 opened #331 "Assign players to protected areas"
Protectarea is only really used for protecting spawnpoints as regular players cannot edit blocks in protected areas. It would be useful to be able to assign non-admins to protected areas so that individual buildings can be protected.

[2014-10-04 01:08] ChargedCreeper opened #332 "/tjm (toggle join message)"
The idea is simple... a command which would cause all join and leave messages to be disabled. This would allow stopping of spam from spambots without turning on online mode.

[2014-10-04 02:16] Heyitsthatonekid opened #333 "Question"
This is a Question so i would put the, 'Question' label on it.

So TFM for the next update is over due by alot... When will it be done or is there no prediction?

[2014-10-04 13:39] #333 closed, assigned to nobody

[2014-10-05 21:48] Windows-i7 opened #334 "eco reset"
/eco reset needs to be blocked IMO. Today an op used it to lag the server by resetting everyone at once (even offline players).

[2014-10-06 21:25] Heyitsthatonekid opened #335 "Crash"
The server crashed twice with this crash report in Telnet
:[21:15:45 ERROR]: Encountered an unexpected exceptionnet.minecraft.server.v1_7_R4.ReportedException: Ticking entity
at net.minecraft.server.v1_7_R4.MinecraftServer.v(MinecraftServer.java:717)
at net.minecraft.server.v1_7_R4.DedicatedServer.v(DedicatedServer.java:290)
at net.minecraft.server.v1_7_R4.MinecraftServer.u(MinecraftServer.java:58

[2014-10-07 14:01] Windows-i7 opened #336 "Typo"
In Contributing.md there is a typo: Features that have very similar alternatives **fill** not be added

[2014-10-10 23:54] ChargedCreeper opened #338 "/setspeed"
Due to ops who like to spam chunk loads, causing lag, I have come up with this idea. /setspeed would function similarly to /setl, but instead of setting everyones WE limit, it would set everyone's fly speed back to 1 (default). In the event of ops spamming chunk loading via /speed, this would stop it. There would still be the problem of finding out who is spamming the chunks though. So maybe also

[2014-10-11 04:03] Telesphoreo opened #339 "TotalFreedomMod Configuration Not Saving"
I tried saving the TFM config and it wouldn't. All commands are unblocked except the default ones and the announcer won't save either.

[2014-10-11 10:21] #339 closed, assigned to JeromSar

[2014-10-13 04:31] MEGAF4IL opened #340 "Getting op without admins."
This is something a member on the forums asked about.

"Is there a way to allow Operators to OP themselves when there's no one else on?"

As I see it, TFM might already auto-matically OP the player when they join. But either they have a colored nickname or TFM doesn't always auto-op a player when they join.

Anyway, this is either an issue and a suggestion or just a suggestion.

[2014-10-14 02:40] Hockeyfan360 opened #341 "@Mention Ding"
Basically, if your name is said anywhere in adminchat or regular chat, with the prefix of @, a loud ding will be played at your position, and the message will turn yellow. When the message is re-sent in chat, the @ prefix is removed, and the player's name is turned aqua, green, purple (depending on if you are a senior, super, telnet, etc.). It would make the player's name change colors for everyon

[2014-10-14 14:30] ChargedCreeper opened #342 "Log spam from /enchant addall"
This resulted from someone using enchant addall on an empty slot... from just 1 command. Fortunately they did not spam it, but this has potential as a means of spamming the logs very quickly.

:[14:27:49 INFO]: [PREPROCESS_COMMAND] steve3344(steve3344): /enchant addall
:[14:27:49 INFO]: [TotalFreedomMod] Error using DURABILITY on AIR held by steve3344.
:[14:27:49 INFO]: [TotalFreedomMod] Error usi

[2014-10-16 06:15] PacksGamingHD opened #343 "People are able to bypass temp bans"
[06:13:09] [Server thread/INFO]: [PREPROCESS_COMMAND] FierySlasher( huahwi123): /enchant addall
[06:13:09] [Server thread/INFO]: [PLAYER_COMMAND] FierySlasher ( huahwi123): /enchant addall
[06:13:10] [Server thread/INFO]: AcidicCyanide issued server command: /noob raziq
[06:13:10] [Server thread/INFO]: [PREPROCESS_COMMAND] AcidicCyanide(AcidicCyanide): /noob raziq
[06:13:10] [Server thread/INFO]:

[2014-10-19 00:09] unitedmelonpvp opened #344 "Error Compiling becuase of WorldEdit.world error, non existent?"
I experienced an error on the following line of code on TFM_WorldEditBridge.java:

import com.sk89q.worldedit.world.World;

Please help me!﻿

[2014-10-23 19:59] vj13573 opened #345 ""/v" - an Admin Command."
It's a suggestion;
Admins should have access to "/v" which is short for "/vanish" - It's a Essentials command, but during normal servers, only OPs it works, it hides their TAB name and makes them invis, why not also have one for Admins? Only Admins should have access to this command, and this would be useful as trolls and griefers would be thinking "ooh, there's no admins on, now we can grief and

[2014-10-25 21:34] robingall2910 opened #347 "UUID's are spoofed, everytime, even for premium usernames."
Probably Mojang UUID API Changed? @JeromSar Doesn't like this >;[

[5:30:53 PM] ๖ۣۜRᴏʙɪɴsᴏɴ ๖ۣۜGᴀʟʟᴇɢᴏ | Java Developer/Coder: :[23:31:34 INFO]: UUID of player RobinGall2910 is 4d75fe7d-220c-3eca-8404-7760b3191fcd
:[23:31:34 INFO]: [FreedomOpMod] Could not resolve UUID(s) of RobinGall2910
:[23:31:34 INFO]: [FreedomOpMod] Generating spoof UUID for RobinGall2910

I'm premium.

[2014-10-29 15:13] Wild1145 opened #348 "Improve freeze handling"
For some incredibly irritating reason, if you are an imposer and you spawn into the server it will instantly freeze you. This normally wouldn't be a problem, until you end up floating in mid-air because some idiot set spawn in mid-air. You then end up with the problem of your game spazzing and giving you a world class headache due to the incredibly fast constant moments.

Maybe set it so you must

[2014-10-31 19:30] Wild1145 opened #350 "Include who banned the players"
Something I noticed is that it doesnt include who banned you unless you are /tempban 'd. This seems like a large flaw in the way the server works as one of the appeal points is asking who banned you.

I suggest adding something like DarthCraft does where its as follows:

You have been banned
Reason: Being a idiot
Banned By: Wild1145

That way it is useful when appealing bans, and means you dont ha

[2014-11-01 15:17] #344 closed, assigned to JeromSar

[2014-11-01 17:01] #285 closed, assigned to JeromSar

[2014-11-01 17:23] JeromSar opened #352 "Better muting"
Currently, automatic unmuting is a bit glitched. It unmutes groups of players collectively 5 minutes after the latest mute. This should probably be handled per player instead.

Additionally, the player should receive a message saying they'll be unmuted in 5 minutes. That should clear up some oddities.

[2014-11-01 19:14] #224 closed, assigned to JeromSar

[2014-11-03 22:56] RobinGall2910 opened #357 "CommandBlocker"
CommandBlocker doesn't support blocking specific of subcommands (i.e: /mail sendall)

[2014-11-03 23:02] xDestroyer217 opened #358 "Time to change the smite and GTFO to person instead of boy?"
- Girls be like "ooh I'm a boy"
- Others, "why can't it be person?"

_I think it's time?_

[2014-11-04 06:50] Obi2 opened #359 "Tban doesn't ban IPs"
As /tban only bans UUIDs, 'famous' players defined in the config can still log on after being banned.

[2014-11-04 15:19] #276 closed, assigned to StevenLawson

[2014-11-04 15:20] #335 closed, assigned to JeromSar

[2014-11-04 15:24] #359 closed, assigned to nobody

[2014-11-04 19:18] Wild1145 opened #360 "Server Crash"
I have yet to check this through, so dont moan that its obvious, I havent even looked.

[code]

[2014-11-04 21:09] #360 closed, assigned to JeromSar

[2014-11-06 16:55] JeromSar opened #361 "Color signs"
TFM should have support for color codes on signs. TF currently lacks support for it.

[2014-11-07 12:31] Hockeyfan360 opened #362 "Imposter Improvement"
This is a very simple idea that could reduce suspensions and rouge ability. I was imposed by on FOP a while back. Another SA logged in under my username, and abused.  They were supered, in-case you hadn't caught on yet. (They eventually they got removed) That was a while back, but it made me think. TFM should dis-allow admins logging in as each other's last log-in name.

For Example:
Another admin

[2014-11-10 01:59] Cole97 opened #364 "/protectarea"
I think we should be able to add player so they can break blocks while the area is protected.
something like /protectarea (area name) player add (player name)
I just think this would be useful because lots of OPs want to build without being griefed if we protect it now then only admins can edit the build.

[2014-11-10 06:36] #347 closed, assigned to JeromSar

[2014-11-11 01:31] MEGAF4IL opened #365 "/mail sendall"
Wasn't this blocked before?

I'd like this blocked again for the same reason it was last time.

[2014-11-12 07:13] VjGamingUK opened #366 "Banlist page"
Why? See here: http://totalfreedom.boards.net/thread/17126/ops-away-bans

OPs getting away with bans, therefore we need to see the banlist, but it's in the files, therefore why not have a banlist page? on http://madgeekonline.com/apps/banlist
and their name would appear like this
IPs for those who were range banned

Example template what it looks like:
[Username goes here]:
[Ban Reason]
## [IPs]

[2014-11-13 16:42] #300 closed, assigned to JeromSar

[2014-11-13 16:48] JeromSar opened #369 "Switching to instantiated objects instead of static references"
TotalFreedomMod has for a very long time been written using little to no instantiated objects. This, as it turns out, is a [bad practice](https://forums.bukkit.org/threads/how-to-make-your-plugin-better.77899/). It seems static references are not collected by the garbage collector. As a result of this, every time TFM reloads, the previously used memory isn't freed which results in a memory leak.

[2014-11-13 18:22] #201 closed, assigned to JeromSar

[2014-11-16 17:48] Hockeyfan360 opened #371 "TFM GTFO Not Working on branch: nodepend"
I have done 2 completely clean and correct compiles, and I am still getting errors with TFM. I am cloning from the branch: nodepend, and using craftbukkit 1.7.9 as the library used when compiling. Can I have some support?

[2014-11-19 22:06] Hockeyfan360 opened #372 "TwitterBot To Be Fixed?"
Really just another question. While TF may not use it, other small servers will use it a lot.

[2014-11-20 15:44] #372 closed, assigned to Wild1145

[2014-11-20 15:46] JeromSar opened #373 "Caching UUIDs is slow"
Caching UUIDs is slow and takes up a lot of memory.

This should probably be done through a MySQL-lite DB.

[2014-11-20 22:20] #352 closed, assigned to JeromSar

[2014-11-21 22:30] Wild1145 opened #375 "Update Nodepend"
Looking at #371 it might be worth updating the nodepend branch to be in sync with the master branch. I dont know if this was already planned or not, but its something that probably needs to be looked at, ideally before any re-writes?

[2014-12-03 17:25] OxLemonxO opened #379 "No tempbans for famous player names"
Currently, tempban only bans by name, so a famous player name bypasses that and a person can login again, bypassing the ban. So, make tempban ban by IP too?

[2014-12-03 18:52] Obi2 opened #380 "Gadmin doesn't work with spoofed UUIDs"
Gadmin list doesn't correctly display spoofed UUIDs. As UUID hashes are the first 4 characters of a player's UUID, players that have a spoofed UUID have their hash displayed as "dead", and there can be multiple players online who all share that hash, rendering gadmin commands unusable on them.

[2014-12-04 18:10] VjGamingUK opened #381 "Remove Auto-Eject Commands"
Auto-eject commands should be removed, its not useful, they can just be blocked instead, they do nothing but cause problems, then we get members making ban appeals saying 'Someone told them to do /<command>'.
Even though the commands are harmful, it's not the users fault if someone told them to do it, especially scams, even if players say "don't do /mat" or etc, they actually do try make players d

[2014-12-05 17:13] UltimaTheHawke opened #382 "Block /spreadplayers at defualt"
See http://totalfreedom.boards.net/thread/17851/command-spreadplayers

[2014-12-06 14:02] #382 closed, assigned to JeromSar

[2014-12-12 08:57] lukkan99 opened #383 "add block for non alowed formating like &k"
add block for non alowed formating like &k. to stop bad players spaming it when no admins is on.

[2014-12-14 18:55] #234 closed, assigned to JeromSar

[2014-12-17 00:16] robingall2910 opened #384 "Optional Language Change"
Is there a way to now make TFM editable to change languages? I would really like if we did that.

[2014-12-17 07:05] #384 closed, assigned to JeromSar

[2014-12-25 11:33] aggelosQQ opened #387 "Revamp Mob Limiter System"
What about a /toggle mobs or /toggle spawnmobs
That will enable/disable mob spawning, like if the server's lagging and people are spamming mobs or if they are spawning mobs to troll we will do the command to disable mobs

[2015-01-06 00:38] Obi2kanobi opened #388 "Error Loading Default Configuration Files"
After loading TotalFreedomMod for the first time, I got this error:

[01:19:01] [Server thread/INFO]: [TotalFreedomMod] Made by Madgeek1450 and DarthSalamon
[01:19:01] [Server thread/INFO]: [TotalFreedomMod] Compiled 01/06/2015 12:16 AM by Obi2kanobi
[01:19:01] [Server thread/INFO]: [TotalFreedomMod] TotalFreedomMod is compiled for v1_8_R1 but the server is running version v1_7_R3!
[01:19:01] [Ser

[2015-01-06 13:42] markbyrn opened #390 "Bot Admin Suggestion"
How about a scripted admin bot that only activates when there's no admins on the server.? For a start, it would op players and ban anybody that does a WE beyond a given size. More capabilities could be added later.  Essentially it would expand existing auto protect type features but only when an admin isn't on or the capability could be turned on the last admin leaving or turned off by the first a

[2015-01-06 15:09] CrafterSmith12 commented on #390
Instead of an instant ban (because it sounds too harsh), what about a 3-warning system?

[2015-01-06 15:29] #388 closed

[2015-01-06 16:44] Wild1145 commented on #390
@CrafterSmith12 The problem with warning systems is that they are often easy to abuse, once I know that a 10,000 block WE is too much, I'l do a 9,999 block at a time. If you just ban, people will find it harder to exploit the system, while its not fair, its being careful not to shoot yourself in the foot.

[2015-01-06 16:56] fingram commented on #390
sounds like a brilliant idea, and I'm down with it, but what about spamming chat and breaking blocks too fast?

[2015-01-06 18:09] BestMcPlayers opened #391 "Update"
Hi, I was thinking you should update the releases for people who can't or don't know who to code or compile things.

http://totalfreedom.boards.net/thread/18742/help-me-totalfreedommod-forums

[2015-01-06 18:16] Wild1145 commented on #391
Releases are updated when @JeromSar or @StevenLawson feel that a significant enough stage / change has been made. Granted it would make sense to do a release as it has been updated to 1.8 since the last release, I dont know if any hugely significant changes have actually been made...

[2015-01-06 18:17] Wild1145 commented on #390
@fingram You cannot roll back for longer than the server has logs, so if the server was reloaded / restarted 5 mins before the player was banned, the server only has the data for those 5 mins between being banned and the last restart / reload. Its one of the only real limitations with the current way of logging things, but short of a database its the best way to do it.

[2015-01-06 18:57] fingram commented on #390
is there a way to have to data separated from the server and have it access the files and modify it, but have it only restart when the flat lands are wiped?

[2015-01-06 19:16] Wild1145 commented on #390
@fingram Not with the servers current setup. @markbyrn would need to move to a VPS with a custom built panel really for it to be effective. Currently it would require manual resetting on the map resets, and thats just going to cause a bigger problem than it solves.

[2015-01-06 19:36] fingram commented on #390
its just ideas, but i could see how it would create problems with that setting. good luck with getting the bot to work

[2015-01-06 20:04] UltimaTheHawke commented on #390
@Wild1145 *cough cough* Superior Networks *cough cough*

This seems like a good idea!

[2015-01-06 20:25] Wild1145 commented on #390
@UltimaTheHawke Thanks. It is a simple fact that TF would run better on a VPS, the force IP system is already in place meaning it would be no major issue to change to a new service provider, be it a VPS from any company, a dedicated machine or whatever else can be thought of.

[2015-01-06 22:51] robingall2910 opened #392 "Modification of clearing the player inventory"
This a issue discussion for @tylerhyperhd's pull request.

This command will remove /clear *\* and /clear {playername}.

What do you all guess, shall we add or not?

Although I am not @tylerhyperhd, this is still a discussion that I've put up for him.

[2015-01-07 18:05] fingram commented on #390
well it seems like my idea my work :p

[2015-01-07 21:59] ImScoop opened #393 "Smite Addition Suggestion"
I recommend giving the admins an option (not mandatory when performing the cmd) to give a reason while smiting, so /say isn't needed. It would be /smite [playername] [reason(optional)], then it would be /smite Guy No &k

Guy has been a naughty, naughty boy!
Reason: No &k (theLAZYway01)
Guy Died.

               (When the admin does the cmd, make the cmd put the IGN in Parentheces)

[2015-01-07 22:16] Wild1145 commented on #393
Sounds good, saves having to smite someone then doing a /say to tell people why, keeps it cleaner and required minimal changes to the command.

[2015-01-07 23:52] BestMcPlayers commented on #393
This sounds like a good idea to me. I wouldn't mind this, although it's going to take some time to get use to it.

[2015-01-08 07:09] JeromSar commented on #392
I think the implementation should allows admins to mass-clear inventories. Is that implemented?

[2015-01-08 17:43] Wild1145 commented on #392
While I dont see any reason you should ever need to clear the entires servers inventory, you could just /wildcard clear ?

it would do the same thing and hopefully put admins off of just mass wiping inventories to make their jobs easier for the sake of it.

[2015-01-08 18:46] tylerhyperHD commented on #392
You would have to do "/wildcard gcmd ? clear" in order to clear everyone's inv now, which I don't think we will ever need to see that command being ran.

[2015-01-09 01:02] BigDaddyUS opened #394 "Admins can't bypass ban."
Long story short, I don't know if a imposter came on, and got banned but for some reason I couldn't join. Admins are suppose to be able to bypass bans right? Luckily Lynx was on FreedomOp and unbanned me from console. He didn't have to super me because I was already a Super admin. It's a weird bug.

Fish out the logs you'll see what I mean.

[2015-01-09 07:19] JeromSar commented on #391
The next release (4.3) will be made public when this milestone has all its issues resolved: https://github.com/TotalFreedom/TotalFreedomMod/milestones/Release%204.3

[2015-01-09 14:23] JeromSar commented on #394
@BestMcPlayers Was there any ban message? Any errors in console?

[2015-01-09 16:37] Wild1145 commented on #394
@JeromSar This sounds like it was a issue here on TF and as such if he did not have admin at the time he could not see telnet / access logs. If @BestMcPlayers can give a date and time then the logs can be pulled.

[2015-01-09 16:39] Wild1145 commented on #336
@JeromSar Should this not be "Bug" instead of "Enhancement"?

[2015-01-09 16:40] Wild1145 commented on #198
Bumping to find out if anyone checked into the WorldEdit thing? I believe its something to do with the config and if you disable it then there wont be any issue.

[2015-01-09 17:03] JeromSar commented on #336
@Wild1145 I only list items as "Bug" when they have a moderate to high impact to the game experience. In this case, a typo is only very minor.

[2015-01-09 17:06] Wild1145 commented on #336
@JeromSar To be fair this is not really an enhancement either...

[2015-01-09 21:36] CrafterSmith12 opened #396 "Server not restarting after flatlands wipe"

[2015-01-09 21:45] CrafterSmith12 opened #397 "ShadowDemon cannot bypass freeze... sometimes bans and full servers as well."
![2015-01-09_16 44 01](https://cloud.githubusercontent.com/assets/5395698/5687841/ec1e4f40-981e-11e4-997d-8558d52d7076.png)

[2015-01-10 01:37] RobinGall2910 commented on #392
@JeromSar is right. we kinda do have to do that once in a while. @tylerhyperHD

[2015-01-10 01:47] theLAZYway01 commented on #393
But Make sure, (if it is possible), At the end of the reason, it automatically puts the admins name it parentheces! so we dont have to type it. Because with this feature, you're forgetting that the OPs that get smited will not know who smited them, and might need too, with /say, they saw the admins name, so make sure the admins name in parentheces is automatically included!

[2015-01-10 01:50] theLAZYway01 commented on #393
If that isn't possible than change the cmd message from:

Player has been a naughty, naughty boy
to
(Adminname) has smited (Playername) for being naughty!
Reason: (Optional)

[2015-01-10 11:15] Wild1145 commented on #396
Not a bug, the server wont auto restart after a flatlands wipe, never has and probably never will...  This is why only seniors have access to the command. Just go to clanforge to re-start the server.

[2015-01-10 11:16] Wild1145 commented on #397
IP has probably changed...

[2015-01-10 13:16] LegendIsAwesomes opened #398 "GTFO putting names"
When you GTFO someone why not make it so when you GTFO someone it automatically puts your name at the end of the gtfo message. It will solve the problem of people not knowing who banned them in there ban appeals so they can put there names and can say why they banned whoever. Here is a example of the message.

GTFO
Grief (No name)

My idea.

GTFO
Grief (Username)

[2015-01-10 13:22] Wild1145 commented on #398
Duplicate of #350

[2015-01-10 13:25] LegendIsAwesomes commented on #398
Oh, didnt see.

[2015-01-10 14:25] Windows-i7 opened #399 "/ro default to user radius"
I have seen admins accidentally use ro in a way that removes from a radius of all players when they meant only a radius for themself. The command would be less accident prone if an extra parameter needed to be specified for all players (maybe a * for player parameter?)

[2015-01-10 14:27] Wild1145 commented on #399
I agree that this is a problem, normally it comes down to admins just not thinking, or admins not even being trained on how to even use the bloody commands...

[2015-01-10 15:58] #398 closed

[2015-01-10 15:58] JeromSar commented on #396
@Wild1145 is right.

[2015-01-10 15:58] #396 closed

[2015-01-10 16:23] CrafterSmith12 commented on #397
I froze all players to ban someone (while he was super) and he got frozen as well.

[2015-01-10 17:08] Wild1145 commented on #397
Then he was not actually added to SA... Its as simple as that...

[2015-01-10 20:27] BestMcPlayers commented on #394
I couldn't pull the logs fast enough because I'm only a Super admin. I was Super at the time. If I remember correct the logs said said "you're banned" (Madgeek's log viewer)as it would say to a usually OP. @JeromSar @wild1145.

This happen about two or three days ago.

[2015-01-10 20:33] BestMcPlayers commented on #394
I forgot to add, I didn't play around and ban myself or anything. I wasn't even banned so that's why I think it's the possibility of a imposter.

[2015-01-11 03:04] Atir25 opened #400 "Multiple Smite/Mute Prevention."
Often times when multiple admins are on people will get double or even TRIPLE smited due to one offense. My suggestion: Making a timer that would make it so someone cannot be smited within 5 seconds of being smited once. This should also apply to mute because someone who is double muted will not be muted.

[2015-01-11 03:16] Hockeyfan360 commented on #400
I may submit a pull request for this. It would be easily implemented.

[2015-01-11 03:24] RobinGall2910 commented on #400
On 1/10/2015 10:16 PM, Hockeyfan360 wrote:

Please do. If someone else does first then sucks to be you.

[2015-01-11 04:39] Emerdisk commented on #400
y dont they just create a system where they say "I got it" instead of doing this

[2015-01-11 04:47] Hockeyfan360 commented on #400
I have all the code ready, I just need to submit the pull request. -_-

[2015-01-11 10:19] JeromSar commented on #380
@Obi2kanobi Interesting point, will look into. Thanks!

[2015-01-11 10:20] JeromSar commented on #371
Closing due to inactivity. Nodepend will be updated with the next release.

[2015-01-11 10:20] #371 closed

[2015-01-11 10:20] #391 closed

[2015-01-11 10:23] JeromSar commented on #387
I believe this system could use some revamping.

[2015-01-11 10:24] JeromSar commented on #375
Nodepend will be updated when Release 4.3 is published.

[2015-01-11 10:27] JeromSar commented on #362
I think @Wild1145's issues with this implementation pose a problem. Perhaps there are other ways impostor management could be handled.

[2015-01-11 10:28] JeromSar commented on #361
Color signs were re-enabled a while ago. Thanks @Wild1145!

[2015-01-11 10:28] #361 closed

[2015-01-11 10:31] JeromSar commented on #236
Closing due in favor of persistent tags: https://github.com/TotalFreedom/TotalFreedomMod/issues/236

[2015-01-11 10:31] #236 closed

[2015-01-11 10:34] JeromSar commented on #345
Closed, duplicate of #226

[2015-01-11 10:34] #345 closed

[2015-01-11 13:27] #348 closed

[2015-01-11 13:29] #336 closed

[2015-01-11 13:31] JeromSar commented on #198
Resolved in 7da543f7fbd89d1baaa2f47f06ef6be85dedd1d9

[2015-01-11 13:31] #198 closed

[2015-01-11 13:32] JeromSar commented on #373
I need some feedback for https://github.com/TotalFreedom/TotalFreedomMod/commit/05e50cfc3382c8f59d2f69c930cfeee919ed8aef @StevenLawson @WickedGamingUK @Wild1145

[2015-01-11 13:49] WickedGamingUK commented on #373
This is a good idea. I think moving a lot of data to a MySQL database is something that should be done as well.

[2015-01-11 14:27] Wild1145 commented on #373
Migrating to SQL should speed up the accessing of the data. The only possible issue that I thought of is if Mark wants to change anything, it may be harder to do so if there are going to be less configuration files...

[2015-01-11 14:31] WickedGamingUK commented on #373
@Wild1145 It isn't too hard to access a database and change the variables as needed. Mark can use Sequel Pro, MySQL Workbench, etc. to manage the database.

[2015-01-11 14:36] Wild1145 commented on #373
@WickedGamingUK But why would he want to, when there are already incredibly easy to use YAML files. My point is that whatever is stored in SQL should be stuff that nobody will ever want or need to modify manually.

[2015-01-11 14:42] WickedGamingUK commented on #373
@Wild1145 Really you should have as much information in one place as possible. I guess leaving configuration settings in a YAML file and move everything else to MySQL would be the best way forward.

[2015-01-11 14:47] Wild1145 commented on #373
@WickedGamingUK If all that you care about is speeding up the loading of data then yes, storing everything in SQL would be the best. If you want to keep it reasonably easy for Mark to make modifications, or to keep it relativity easy for other servers to be able to use it, you then should only be storing information that you will not be required to edit.

[2015-01-11 15:20] JeromSar commented on #373
This change should avoid having to cache hundreds of player UUIDs at load time. The JDBC driver should keep UUID lookups less RAM intensive and thus this change should increase performance.

[2015-01-11 16:54] RobinGall2910 commented on #400
@Emerdisk, that's worthless ._.

[2015-01-11 16:55] RobinGall2910 commented on #366
@SmokeSnake Where is it gonna be at if it wasn't the HTTPD? There's nothing else to stuff it in xD

[2015-01-11 17:50] ItzLevvie commented on #366
I could add this, i have it on my desktop.

[2015-01-11 23:37] Robolawrence opened #403 "Commands to be blocked"
IMO these aren't too extreme but can be real annoying when a lot of people know about them.

/defaultgamemode - Sets the default game mode that players spawn in. Obvious why this one should be blocked.
/difficulty - Sets the server difficulty. Only admins should be able to use this.
/playsound - plays any sound from the game to any person. Basically used for trolling, should only be available to s

[2015-01-12 14:40] JeromSar commented on #373
I need  code review and beta testers @WickedGamingUK @Wild1145 @StevenLawson

[2015-01-12 15:32] WickedGamingUK commented on #373
Can I ask why you've opted to use SQLite instead of MySQL?

[2015-01-12 15:33] supergameplayer opened #404 "/prem -i to check an in-game player's premium status"
With the -i flag, it will check if the in-game player is logged into the server as premium.

Examples:

/prem -i supergameplayer
Player supergameplayer is logged  in as premium: Yes

/prem -i SkythekidRS
Player SkythekidRS is logged in as premium: No

[2015-01-12 15:35] aggelosQQ opened #405 "Muted players can PM?"
![](https://www.screenshottr.us/v/1f955de0ac231486b27e11d7b81e3723/e2707fbabd1a907cddd4703c44d73346.png)

![](https://www.screenshottr.us/v/21ac0b35f2d8134387dc90b805a411bc/744eec58ab01bd30ed1f1611aebc270b.png)

![](https://www.screenshottr.us/v/7222f3749071a30769bab8158e85d5c1/21e24c1db12d1581c2510f7df16068bc.png)

![](https://www.screenshottr.us/v/486d4cc78ecf57615ec4fed35de60ad9/641bd5a5c97515d

[2015-01-12 15:37] notchface72 commented on #405
OFT: Hehe, muted players can mute.
ONT: Nither did I. That's weird.

[2015-01-12 15:38] aggelosQQ commented on #405
Fixed :P

[2015-01-12 18:31] JeromSar commented on #373
@WickedGamingUK Performance and less points of failure. :)

[2015-01-12 18:33] WickedGamingUK commented on #373
@JeromSar Alright. From what I've seen the code is good, however you may want to look at https://github.com/VisionWare-Studios/JDBLib/blob/master/src/com/visionwarestudios/database/mysql/MySQL.java#L117 for simplifying using Prepared Statements, it works a treat :)

[2015-01-12 18:52] WickedGamingUK commented on #373
Also I noticed you've mixed Allman and K&R in your code. May want to change that ;)

[2015-01-12 18:59] StevenLawson commented on #373
@WickedGamingUK For what we're doing here, the overhead of running or connecting to a MySQL server would completely defeat the purpose of having this data stored in a relational database. SQLite is definitely the way to go.

@JeromSar I don't have time right now to read through this code, but I have done extensive work with SQLite and Java. I'll try to offer some input this coming weekend, and fin

[2015-01-13 05:17] Robolawrence commented on #405
so they're not supposed to be able to pm whilst muted? Never thought they weren't.

[2015-01-13 05:18] Robolawrence commented on #404
so basically what you can check with onlinemode...

Meh.

[2015-01-13 07:40] JeromSar commented on #404
This is very hard to implement, but possible.

[2015-01-14 07:10] JeromSar commented on #373
@WickedGamingUK That's some nice utilities class you have there, but it fails to use prepared statements properly. The concept of "prepared statements" is as follows: Prepared statements are prepared when the client connects to the database. Those individual statements could then be reused for speed and efficiency. Your code creates a new prepared statement every time the `query` method is called.

[2015-01-14 13:32] BestMcPlayers commented on #394
@JeromSar
@wild1145

I had my hacked client on by accident and clicked a few buttons. I didn't bypass the nuker ban. I have logs this time.
[spoiler]
[13:27:18] [User Authenticator #61/INFO]: UUID of player BestMcPlayers is a9c2d8d2-f7a5-33db-a1a9-277d5e9dd50a

[13:27:18] [Server thread/INFO]: [TotalFreedomMod] Hostname: play.totalfreedom.me:28965

[13:27:18] [Server thread/INFO]: [TotalFreedomMod

[2015-01-14 16:48] JeromSar commented on #394
Could you run the command _/uuid recalculate admin_ through console and then verify the error persists, @BestMcPlayers ?

[2015-01-14 20:36] BestMcPlayers commented on #394
I can't, I'm only a Super admin. Would it work if I get a Senior to do it for me?

[2015-01-14 20:40] WickedGamingUK commented on #373
@JeromSar I always thought the main concept of prepared statements was the improved security. I wasn't aware that you could reuse them.

[2015-01-15 06:32] JeromSar commented on #394
@BestMcPlayers  Yes. :)

[2015-01-15 09:12] Wild1145 commented on #405
What was the actual command they used to send that message?

[2015-01-15 15:21] JeromSar commented on #373
Please continue discussion in https://github.com/TotalFreedom/TotalFreedomMod/pull/406

[2015-01-15 22:48] aggelosQQ commented on #405
I didn't notice.

[2015-01-15 22:57] Wild1145 commented on #405
Maybe its worth just blocking all commands for muted players?

[2015-01-16 15:16] Windows-i7 opened #407 "IPv6"
Thinking long term, I think TFM could use IPv6 support if it does not have it already. Specifically the ability to ban v6 addresses to prevent IPv6 turning into a way to bypass.

[2015-01-16 15:53] JeromSar commented on #407
@Windows-i7 This is a Minecraft issue and unrelated to TFM. I don't think Minecraft supports clients connecting from IPv6 addresses currently.

[2015-01-16 15:53] #407 closed

[2015-01-17 15:57] looperXD opened #408 "Package doesn't exist"
I tired to compile TotalFreedomMod using netbeans, When i uploaded all my resources to the library,
There is still few missing.
I got my TotalFreedomMod directly from git{https://github.com/TotalFreedom/TotalFreedomMod.git}

[code]

[2015-01-17 15:59] looperXD commented on #408
I also wanted to add Player Tags in PlayerListner, PlayerRanks, and few commands,
But those errors are kept getting in my way ;C

[2015-01-17 16:07] looperXD opened #409 "Player Bypass Bans"
Notch/ and player that used hacked client to log in as them, cannot be banned,
and yes, i removed all players from the Unbannable Players in config.yml
http://imgur.com/1fap86B
ps: its not just notch, all players can't not be banned, they just get kicked and join back

[2015-01-17 16:29] Wild1145 commented on #408
This means that you have not included the WorldEdit Dependency correctly.

To build TFM properly I believe you need to build the no-depend branch, then build the custom world edit, then the normal TFM.

You havent got WorldEdit or the custom telnet for that matter.

[2015-01-17 16:29] Wild1145 commented on #409
Any errors in the logs / console / on screen?

[2015-01-17 16:38] looperXD commented on #408
I added WorldEdit 5.6.2 and the latest bukkit telnet already.

[2015-01-17 16:39] looperXD commented on #408
So i have to build world edit first?

[2015-01-17 16:40] Wild1145 commented on #408
You require the custom world edit. So you will need to compile the TFM no depend branch, then compile the custom world edit, then using the custom world edit compile the latest TFM.

[2015-01-17 16:59] looperXD commented on #408
What about the Telnet?
Ps: i got the WorldEdit fixed Thanks ;D

[2015-01-17 16:59] Wild1145 commented on #408
Im not sure about telnet to be honest, @StevenLawson or @JeromSar would be the ones to ask there, as they know more about that than I do.

[2015-01-17 17:02] looperXD commented on #408
http://imgur.com/xoZ1spQ Here is an image in case you need it :smile:

[2015-01-17 17:04] looperXD opened #410 "Total Freedom Mod Neatbeans Editing/Bukkit Telnet Error"
http://imgur.com/xoZ1spQ
I have already edited the TFM, but the Telnet comes up as an error, :cry:

[2015-01-17 17:04] looperXD commented on #410
@StevenLawson  @JeromSar  Pleases help me, i crie everytim :cry:

[2015-01-17 17:06] looperXD commented on #410
Here is what is in my TelnetListner
http://pastebin.com/qECY2nwZ

[2015-01-17 17:34] ItzLevvie commented on #410
You will need the latest BukkitTelnet.

[2015-01-17 17:37] looperXD commented on #410
Jar or Zip? Link me up plz :smile:

[2015-01-17 17:39] ItzLevvie commented on #410
https://github.com/updatePackages/updatePackages/releases/download/v4.1/BukkitTelnet.jar

[2015-01-17 17:42] looperXD commented on #410
Still the same error :cry:

[2015-01-17 17:43] ItzLevvie commented on #410
You are using FreedomOPMod which you will have to ask one of the Developers to help you.

[2015-01-17 19:04] BestMcPlayers commented on #410
You'll have to compile the latest Bukkit Telnet. The latest release doesn't work with development of Total Freedom Mod.

[2015-01-17 20:37] Wild1145 opened #411 "MySQL Branch"
Mainly for a project I am hoping to run that will depend on TFM, it would be nice if TFM had a more extensive use of MySQL, even if it was on its own branch. This is mostly so I dont have to edit TFM and have conflict issues and may help others in the future, but I just wanted to find out how feasible this would be as a setup.

[2015-01-17 20:39] Wild1145 commented on #408
@JeromSar Care to assign the question label please?

[2015-01-17 21:36] LegendIsAwesomes opened #412 "LegendFreedom"
http://www.mediafire.com/download/o9cdmxl62k4g4u2/LegendFreedom.jar is the download link
Its a plugin i made. It will add new commands like /support where it gives you support and gives you a link to totalfreedom.me ect. I will be adding more commands maybe daily or when i get bored (Basically everyday) @JeromSar  i think this is up to ya.

[2015-01-17 21:37] Wild1145 commented on #412
@LegendIsAwesomes Is the source on Github / Bitbucket / similar to view?

[2015-01-17 21:39] Wild1145 commented on #412
@LegendIsAwesomes Just downloaded it and it appears that you have not compiled the source correctly... Might want to check that.

[2015-01-17 21:40] LegendIsAwesomes commented on #412
Oh okay, ill look now
Thanks for letting me know.

[2015-01-17 21:41] LegendIsAwesomes commented on #412
Maybe my pc is running like a bagga crap i forgot

[2015-01-17 22:01] LegendIsAwesomes commented on #412
@Wild1145 try http://www.mediafire.com/download/o9cdmxl62k4g4u2/LegendFreedom.jar and if its doesnt work i failed. (Im using eclipse if you have any tips ;).)

[2015-01-17 22:26] Wild1145 commented on #412
@LegendIsAwesomes Its downloading as a compressed zip file for me...

[2015-01-18 00:53] BestMcPlayers opened #413 "Anything regarding bukkit size doesn't work."
Recently I've notice TotalFreedomMod has going through a lot of updates. After the big release everything regarding Bukkit size doesn't work. I don't think it's my side because I have tried compiling with Spigot, Craftbukkit and Bukkit 1.8. None of them fixed the problem. I might still be doing something wrong but I don't see the problem.

One exammple would be like this:
onlineStats.append(ChatCo

[2015-01-18 00:57] Wild1145 commented on #413
Netbeans didnt flag any errors when I did my initial update to 1.8 in an earlier commit... Are you using the latest built one?

[2015-01-18 01:13] BestMcPlayers commented on #413
I'm sorry Wild. My mistakes, what happen was I had Bukkit 1.7 and 1.8 loaded up. Go ahead and close this. My bad.

[2015-01-18 03:06] BestMcPlayers commented on #394
@JeromSar @Wild1145

The error still persist, right now I'm banned for grief. I couldn't join the servers for hours and I'm still banned. Someone must have a close IP to me, but I'm suppose to bypass bans.

[2015-01-18 14:09] JeromSar commented on #394
@BestMcPlayers Could you ensure that the TFM version running on the server is the latest?

[2015-01-18 15:43] TaoistMiner commented on #410
:/

[2015-01-18 21:28] JeromSar commented on #410
@looperXD Please ensure you're compiling with the latest BukkitTelnet. That should resolve your error.  :)

[2015-01-18 22:39] BestMcPlayers commented on #394
It's TotalFreedom, it's not my server. @JeromSar

[2015-01-19 09:28] #413 closed

[2015-01-19 09:59] Wild1145 commented on #412
@JeromSar

[2015-01-19 15:23] JeromSar commented on #412
@LegendIsAwesomes If you wish for a certain feature to be added to a server, it should be implemented within TFM and such a contribution should follow the contribution guidelines.

Thanks for the suggestion, however. :)

[2015-01-19 15:23] #412 closed

[2015-01-19 18:46] Wild1145 commented on #412
@JeromSar Does that mean all existing plugins should be being looked to be merged in to TFM?

[2015-01-19 18:46] Wild1145 commented on #408
@JeromSar Bumping this issue.

[2015-01-19 18:56] JeromSar commented on #411
There's support for SQLite in the UUID branch: https://github.com/TotalFreedom/TotalFreedomMod/pull/406

[2015-01-19 20:31] Wild1145 commented on #411
@JeromSar I was aware of SQLite, but looking for proper MySQL and if thats something you and @StevenLawson have any plans of supporting, or if its something that I will need to add in a separate fork for my own use?

[2015-01-19 21:19] JeromSar commented on #408
@looperXD You'll have to use the TF WorldEdit here: https://github.com/TotalFreedom/worldedit

Because TF and WorldEdit are a cyclic dependency (they depend on eachother), you should compile the TFM nodepend branch first. Then use that to compile TF WorldEdit. Once you have TF WorldEdit, you can proceed to compile the regular TFM as before. :)

[2015-01-19 21:20] JeromSar commented on #412
@Wild1145 AcidFreedom will likely be reimplemented in TFM in the future. Other plugins like Essentials and WorldEdit won't be merged in for obvious reasons. :)

[2015-01-20 05:30] Robolawrence commented on #394
This happens to me too. I cannot login to telnet, I can't do senior commands via clanforge, and I can't login when the server is full, in adminmode, whitelisted (unless added), or my IP range is banned.

[2015-01-20 17:54] JeromSar commented on #411
@Wild1145 I don't think we'll be needing MySQL anywhere. SQLite is more reliable and better suits our needs. :)

[2015-01-20 17:54] #411 closed

[2015-01-20 18:02] Wild1145 commented on #411
@JeromSar Okay, thats fair enough. I thought I would ask before putting any work in to my own version!

[2015-01-20 18:12] Wild1145 commented on #362
@JeromSar Personally I would completely remove the IP part of giving someone SA. I'd use it to match with their username, but wouldnt allow it to grant admin access based just off of the IP. That way you cant admin family members or alt accounts...

[2015-01-20 19:50] JeromSar commented on #362
@Wild1145 Forgotten that TF is an offline mode server?

[2015-01-20 19:53] Wild1145 commented on #362
@JeromSar Not at all. However the way that this would work has been proven on CJFreedom and other development based servers to be far more effective. Currently it is your name OR IP that will give you admin permissions. I say switch it to require name AND IP, that way siblings can login without getting supered and you can still ensure that players should be receiving admin permissions.

[2015-01-20 20:30] JeromSar commented on #362
@Wild1145 No currently, only the IP is required to gain admin perms. Having a name that doesn't match the one on file will result in a warning on login.

[2015-01-20 20:32] Wild1145 commented on #362
@JeromSar Thats my point, make it so it REQUIRES both the name AND IP to match, that way it solves the problem with siblings and admins acting like idiots and logging in as "notch" or something stupid and getting admin access.

[2015-01-21 00:50] Robolawrence opened #414 "Gamemode Aliases"
http://totalfreedom.boards.net/thread/6383/gamemode-switching-aliases

Found this post from a year ago and realized it hasn't been brought in yet. I'd still be up for it.

[2015-01-21 14:58] Wild1145 commented on #414
I asked about aliasing before, and I think @JeromSar and @StevenLawson are going more for a "One command" setup to make it very clear and remove any question of what commands alias other commands...

[2015-01-21 16:04] JeromSar opened #415 "Admins on a different account show up as OPs"
This is a very old bug in TFM but needs to be fixed. If an admin logs in with a different name, he/she would show up as an OP regardless of their in-game permissions.

[2015-01-21 22:32] JeromSar commented on #414
_/gmc_ and _/gms_ are short enough an can take a player as a parameter. :)

[2015-01-21 22:32] #414 closed

[2015-01-22 12:46] WickedGamingUK commented on #408
@JeromSar Any chance of releasing compiled binaries of WorldEdit so developers don't need to go through this convoluted process?

[2015-01-22 12:48] WickedGamingUK commented on #405
@Wild1145 That's a bit OTT. The best way probably would be to have a listener for when someone sends a command, if that command is in the list of commands that muted players cannot use and the player is muted it'll will send a player a message then cancel the event.

[2015-01-22 12:55] WickedGamingUK commented on #411
@JeromSar What makes SQLite more reliable? Just the fact it's stored in a file and not on a server? There is quite a lot of limitations of using SQLite.

[2015-01-22 13:07] Wild1145 commented on #405
That's what is or was at least already in place. Due to aliasing and such
its easy enough to work around as a player

[2015-01-22 22:20] JeromSar commented on #411
@WickedGamingUK There's virtually no limitations of using SQLite. The process is exactly the same except that data is transferred directly from the application to the file, completely bypassing the network step thus being more speedy. Additionally, there's less endpoints of failure (SQL server might be down, connection issues, connection timeouts, etc). Lastly, we'd have to find an offsite host fo

[2015-01-22 22:21] JeromSar commented on #408
@WickedGamingUK When the time is right corporal, when the time is right.

[2015-01-22 22:33] WickedGamingUK commented on #411
@JeromSar There are limitations to SQLite, one of them being no multi-user support and "One of the limitations of SQLite is the write operations. This DBMS allows only one single write*operating to take place at any given time, hence allowing a limited throughput."

The second one could be a concern with multiple things trying to write to the database, but yeah, there isn't any limitations to SQLi

[2015-01-22 23:21] StevenLawson commented on #411
I know I haven't been very involved in this, but I will mention that for a single application like this it is common to have a dedicated thread, or always use the primary thread, for SQLite operations. This will make any concurrent write concerns a non-issue.

[2015-01-25 00:48] #410 closed

[2015-01-25 00:48] #408 closed

[2015-01-25 12:38] Hockeyfan360 opened #416 "Only premium can login as username."
While this sounds complicated, it isn't really that hard to do if you are able to implement the /premium i.

So basically, you cannot log in as a premium player if you aren't logged into minecraft with that player (You can't be using a cracked launcher to impose as that player). This will lower the number of OP imposters that grief under someone else's username.

However, IMO, if they are logging

[2015-01-25 13:15] TaoistMiner opened #417 "GTFO"
GTFO doesn't work it says an internal error occured while attempting to perform this command

[2015-01-25 13:24] JeromSar commented on #417
Could you possibly get the error from the console? @TaoistMiner

[2015-01-25 13:25] JeromSar commented on #416
@Hockeyfan360 Is this a bug or a feature request. The issue is really confusing.

[2015-01-25 13:36] Hockeyfan360 commented on #416
@JeromSar A feature request.

In simpler terms, you can't login as a premium player (you can only login as premium if you supply the correct credentials) unless they are on the "Cant ban by username" list in the config.

[2015-01-25 13:51] ItzLevvie commented on #417
You'll need the latest WorldEdit @ https://github.com/TotalFreedom/WorldEdit

[2015-01-25 15:26] JeromSar commented on #416
@Hockeyfan360 While the idea seems nice, the implementation is much more complicated than it seems, namely due to plugins' inability to access the Minecraft protocol and/or interact with it.

Additionally, I think that players should be able to use unused usernames regardless of said username being premium or not. I'd rather see an username-lock feature added.

[2015-01-25 15:26] #416 closed

[2015-01-25 15:32] looperXD commented on #408
Solved

[2015-01-25 15:32] looperXD commented on #410
Solved

[2015-02-04 19:43] Wild1145 opened #420 "Switch Developers list from player names to UUID"
With the name changing now supported, I have noticed that the only thing that is not UUID based is the developers list, while its not a big deal as I doubt we will change our names often if at all, its still not really ideal...

[2015-02-04 19:56] JeromSar commented on #420
@Wild1145 While I understand why you might want to change this. The developers list is very small and the list can be easily edited. Additionally, developers are usually known by name rather than by UUID. This is one of the reasons why I'm considering switching the famous players list back to name-based.

All in all, it's simply not worth the development effort to implement.

Thanks for contributi

[2015-02-04 19:56] #420 closed

[2015-02-04 21:09] Wild1145 commented on #420
@JeromSar Thats fair enough, it was a suggestion to save having to re-commit and compile every time a developer changes name, and makes it uniformed across all servers so if we change our name, no matter what it is, it will show as a developer. Its fair enough it would be more effort than its worth, but it was just an idea to save having to re-compile and such.

[2015-02-05 01:58] Windows-i7 opened #422 "Super IP blacklist"
Some IPs should not be supered, as they are public. In particular, this one has been a recurring problem: 167.114.97.16 (MC connect). I apologize if this duplicates an issue, but I did not see it in here when I checked.

[2015-02-05 20:30] VjGamingUK opened #423 "Text-based help command: i.e. /info"
Idea of having a command to show players how to save their builds.
https://github.com/TotalFreedom/TotalFreedomMod/pull/424

[2015-02-05 20:49] JeromSar commented on #423
@vj13573 While I like the idea, I think we should combine all of the text-based commands into a /info command. This way, more information  (e.g. About obtaining superadmin, map wipes, etc) could be combined into a single command. Perhaps these info topics could be stored in a configuration file. What are your thoughts, @vj13573 @StevenLawson ?

[2015-02-06 16:04] Wild1145 commented on #423
@JeromSar If memory serves me correctly, there is an issue about having one big config defined info command / similar somewhere...

[2015-02-06 16:59] vj13573 commented on #423
"/info" is a worldedit binding command, when executed, then when you right click it'll show the position ID.
Thats why to make its own command.
"/ai" is the same, because thats a text-based command even though its a AcidFreedom command.

[2015-02-06 22:23] vj13573 opened #425 "Logviewer Suggestion - View Logs by Date"
We should have a date checker on the Logviewer.

What it is is, the Logviewer is always saved.
Basically, there should be a date box as well as just a log size and text filter box.
Because it allows admins to lookup logs that happened days ago. Useful for those who made permban appeals and lied on their appeal, so admins can find the proof.
Its also useful for serial rule-breakers for admins to us

[2015-02-07 18:17] vj13573 opened #426 ""/fuckoff" Issues"
I would like to know how some players are able to bypass "/fuckoff".

Some players are able to teleport to a player with Fuckoff enabled sucessfully, meaning they wont get tp'd away because they just bypass'd a Fuckoff.

Is it a bug?

[2015-02-07 18:39] Wild1145 commented on #426
Its been an issue for some time, but I guess nobody cared enough about it before... I never really did at least.

[2015-02-10 00:21] ValenciaOrange opened #427 "/whohas"
I know that /whohas checks who has {item} but how do I smite the players with /whohas?

[2015-02-10 00:33] looperXD commented on #417
You would need worlededit 5.6.2 not the latest, the 5.6.2 supports rollback and is the stable one

[2015-02-10 00:44] Wild1145 commented on #427
By using /smite (player that shows up in the list)

Then telling them off. Simple

[2015-02-10 00:45] Wild1145 commented on #417
Make sure you use the worldedit from the tf github and no others

[2015-02-10 22:26] Hockeyfan360 opened #428 "Auto Protecting Admin Cages"
My idea is that whenever someone is caged, the cage is protected, and cannot be broken. This should go for when admins impose too (because it gets really annoying when people kill you)

[2015-02-11 19:28] LegendIsAwesomes opened #429 "Senior Chat"
So what about a senior chat so seniors can chat about a super admin they want a senior to watch if they are not online. The senior chat allows seniors to chat about super and telnet admins about there administrating and how well/not well they are doing here is a bit of the code. The command could be /p instead of /o

_[snip snip don't need implementation here]_

[2015-02-11 20:20] Wild1145 commented on #429
Pointless... It would be logged and shown in telnet, so telnets would see it, or supers would just look in logs. We have had it before on CJF and it was used just like current admin chat, spam, crap, sexual references, inappropriate links and just crap, no actual administrative conversations would be had in anything like this.

The forums should be where these sorts of things are discussed.

[2015-02-11 20:27] JeromSar commented on #429
Hey @LegendIsAwesomes

In all honesty, I don't like the idea of Senior admins having a separate chat to discuss senior-level things for several reasons. Namely the following:
* Added confusion. _What chat am I in now?_ _Who online can see this chat?_ _How do I quickly toggle between chats?_
* Implementation problems. _What if I toggle both chat's on?_
* Ethnics problems. _Senior and super admins b

[2015-02-11 20:27] #429 closed

[2015-02-13 15:13] Wild1145 opened #430 "Switch Permban to UUID"
I have just realized that in its current state, the permban list is rather in-effective. Simply because if you have a VPN or Dynamic IP, all you now need to do is change your name and then there is no more permbans for that player...

This also should probably be done sooner rather than later to get damage control underway from people that will have thought of this already...

[2015-02-13 17:12] JeromSar commented on #423
@VjGamingUK Then use any other command name, or override it with TFM. :)

[2015-02-13 17:13] JeromSar commented on #423
@Wild1145 I don't think there's an issue with large configs. `MemoryConfiguration` stores them efficiently in a Map. Essentials has a very large configuration and it doesn't show any problems either.

[2015-02-13 22:55] Wild1145 commented on #423
@JeromSar I am not saying there is anything wrong with having one big config. From my understanding the idea would be to have one (Or it built into the current config) that will allow you to configure multiple sub commands of the /info command.

[2015-02-14 22:12] looperXD opened #431 "Worldedit Restrictions"
How do I make it so some world edit blocks are disabled/forbidden? I know this is should to be under the TotalFreedom/WorldEdit but no one checks it there.
What i meant is Worldedit Restrictions on blocks. Like lava, bedrock.
Ex:
If I use a forbidden block, it would auto de-op be and broadcast that i tried to use it
looperXD tried to use : lava
You are now no longer OP
something like that

[2015-02-14 22:29] Wild1145 commented on #431
By using the worldedit under TotalFreedom/WorldEdit

[2015-02-14 23:30] JeromSar commented on #431
I think this is a duplicate of https://github.com/TotalFreedom/worldedit/issues/6?

[2015-02-14 23:30] #431 closed

[2015-02-15 17:55] JeromSar opened #432 "UUID history"
Continued discussion from http://totalfreedom.boards.net/thread/20070/use-mojang-api-tfm

[2015-02-15 18:28] #334 closed

[2015-02-15 18:28] #357 closed

[2015-02-15 18:28] #365 closed

[2015-02-16 14:49] #415 closed

[2015-02-16 16:01] #373 closed

[2015-02-16 20:20] TheCJGCJG opened #433 "Superadmin list access from HTTP"
A list such as
The current http://xxx.xxx.xxx.xxx:1234/logs/ which will return the logs

The HTTPD module should have
a http://xxx.xxx.xxx.xxx:1234/admins/
which will return a raw JSON file of the SuperAdmin list

and, for verification etc
http://xxx.xxx.xxx.xxx:1234/adminip/127.0.0.1
which will return the username of an admin it corrosponds to as well as their superadmin.yml entry

All of this, o

[2015-02-17 07:10] JeromSar commented on #287
Looking back, I think it would be easier to just prevent players in Creative/GodMode to attack players in survival/non-godmode.

[2015-02-17 07:14] JeromSar commented on #423
@Wild1145 Yes correct.

@VjGamingUK Are you still considering implementing the issue?

[2015-02-17 07:28] JeromSar commented on #383
We might want to completely revamp the nick system.

[2015-02-17 21:11] markbyrn opened #434 "Limit Changes"
The current /limit features auto de-ops people who do /limit but the person will generally get re-opped.
I was thinking of something more refined like allowing a limit change to a certain maximum that won't likely cause harm (e.g. 10000?) and than auto-resetting back to 500 or a 1000 as default after a few minutes.  If the person did something like /limit -1 or something near infinity, it would de

[2015-02-17 22:05] Wild1145 commented on #434
Probably should be moved to the WE Repo tracker.

[2015-02-17 22:17] Hockeyfan360 commented on #434
So maybe we could fine tune the actual WE plugin? I am not sure if there is a method to set their limit, but if there is, we could do this:

[code]int limit;
(On the command)
if (limit > 10000 || limit < -1)
{
//Deop and reset limit
return true;
}
if (limit == 10000)
{
//Reset after a few minutes, via a bukkitrunnable
return true;
}

setLimit(limit); (Or something similar)[/code]

[2015-02-17 22:40] Wild1145 commented on #434
I think that is more or less what currently happens, but we use the built in original limiting system so as to modify as little code as possible within other projects. This would require more significant changes to the WorldEdit project, and its about balancing the perks that you will get, with the development time and risks of doing it.

[2015-02-18 07:56] JeromSar opened #435 "Maven"
I think it may be time to convert TotalFreedomMod to a Maven project. Using maven instead of Ant has several benefits, namely:
1. Unified build process. All builds are exactly equal, no matter what.
2. Better dependency management.
3. Standardisation of the build system

In short, I think using Maven will improve TFM's quality.

[2015-02-18 10:05] WickedGamingUK commented on #435
I agree that using Maven would improve TFM. However how would you go about hosting all of the custom dependencies that the project has like WorldEdit and whatnot? Host a Maven repo on GitHub?

[2015-02-18 10:26] Nobody-11 opened #436 "Block **"
It is really annoying when people use ** in commands like /msg ** and /heal **

I suggest that you block the **

[2015-02-20 05:57] zD12 commented on #433
If I may, ensure the permban isn't behind the password.

[2015-02-20 06:07] zD12 commented on #430
This isn't exactly essential, however, remains as extremely valuable and would be of high priority.  The issue then comes to..  How will administrators obtain the UDID?  We'd have to redesign the /seen command to include the UDID, as well with..  Would it be possible, similar to the bans.yml, to have:

- '245d2f30-61fb-4840-9cd3-298b3920f4a4:Cobrex:DarthSalamon:2-20-15:Reason'
- '{UDID}:{Offender}

[2015-02-20 11:29] Wild1145 commented on #430
The /seen command already checks previous name changes and tells you that, that part would not be a problem. Everything, including admin applications, should now be done through UUID's and UUID's should completely replace IGN for the most part. As for getting the UUID, you can use a website (and there are a lot of them) or even call the API directly: https://api.mojang.com/users/profiles/minecraft

[2015-02-21 21:53] gomalley411 opened #437 "Suggestion for /findip"
Maybe we should make it so that admins can see all IPs that have logged in as them (if they want)? Like, add in an argument that searches their UUID and gives them all the IPs that logged in as them so the admin will know (more or less) who posed as them? Just a thought.

[2015-02-21 23:21] Wild1145 commented on #437
Sounds like it links to #432

[2015-02-22 14:55] Obi2 opened #438 "Delay Loading Protected Areas on Startup / Reload"
In particular, ```TFM_ProtectedArea.autoAddSpawnpoints()```. After a restart (flatlands wipe or map reset), spawn points are automatically protected before custom worlds such as flatlands are loaded.

[2015-02-22 15:25] Wild1145 commented on #438
Im not quite getting what your tying to say?? Is it that they are loaded prior to other worlds and thats a problem or they should be loaded before other worlds or what??

[2015-02-22 15:34] Obi2kanobi commented on #438
Automatically protecting spawnpoints should be delayed or done after custom worlds such as flatlands are loaded, otherwise the flatlands and such won't have their spawnpoints protected.

[2015-02-22 15:50] Wild1145 commented on #438
From my understanding, the spawnpoints shouldnt be protected in the other worlds... It was not the original design anyway.

[2015-02-22 15:59] Obi2kanobi commented on #438
Ah, okay. It's just a little annoying having to protect the spawnpoints again after the protected areas are purged.

[2015-02-22 16:54] JeromSar commented on #438
I think that all spawnpoints should be prptected by default.

[2015-02-22 16:57] Obi2kanobi commented on #438
This hasn't happened - after a map reset the flatlands' spawn point wasn't protected automatically, only the main world.

[2015-02-23 21:52] Explosives opened #439 "Block spawners"
I'd love to see spawners added to the blocked IDs list for worldedit. Anyone can agree they're good for nothing except griefing and lagging the server.

[2015-02-24 12:35] ItzLevvie commented on #439
This should go under WorldEdit.

~ ItzLevvie

[2015-02-24 21:08] BigDaddyUS opened #440 "Logging"
This doesn't happen all the time, but it's happening frequently. The log stick isn't picking up much data. A player was breaking blocks in front of my face with their hand and the log stick didn't pick up anything. I've notice it does this when the server is lagging. It doesn't even have to be lagging a lot.

That's just what I think, I'm not sure though. I apologize if this is already an issue.

[2015-02-25 10:18] Wild1145 commented on #440
Probably means someone reloaded, restarted or similar to the server. If not @JeromSar created Logstick and could explain if there is any other reasons why it would not be logging everything.

[2015-02-26 23:03] LoopFreedom opened #441 "DaPancake Breaking The TFM License"
In the TFM Licencse it states that "You shall not edit or remove the file Command_tfm.java" In DaPancake's server oblivionop.uk.to and his Mod OblivionOPMod, He removed Command_tfm.java.
I gave him a heads up and he used inapprioiate language and said "It is different,  I didn't complie it on TFM, and I changed all the commands bcast msg" What he is saying is he removed command_tfm.java and change

[2015-02-26 23:12] LoopFreedom commented on #441
http://imgur.com/C2if3fR  http://imgur.com/6g8eQgF http://imgur.com/sExxs4l http://imgur.com/XXDoaf6 (<-- Most Important I used /opme and an Admin used /opall) http://imgur.com/M8PNmZU <---Command_Report didn't change msg

[2015-02-27 00:33] LoopFreedom commented on #441
[18:03:27] [Client thread/INFO]: Connecting to oblivionop.uk.to, 25565
[18:03:28] [Client thread/INFO]: [CHAT] looperXD joined the game.
[18:03:28] [Client thread/INFO]: [CHAT] Welcome, looperXD!
[18:03:28] [Client thread/INFO]: [CHAT] Type /help for a list of commands.
[18:03:28] [Client thread/INFO]: [CHAT] Type /list to see who else is online.
[18:03:28] [Client thread/INFO]: [CHAT] Players onl

[2015-02-27 00:34] LoopFreedom commented on #441
http://pastebin.com/k5btaB5T

[2015-02-27 00:35] theLAZYway01 commented on #441
I never said I changed the message, I recoded the cmds

tfm is not removed, merely blocked with config
I will remove the block now that I have re-read the license.
This issue can be closed and if I have broken it in any other way, you can PM me on the TF forums

[2015-02-27 01:06] TotalfreedomSucks opened #442 "卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐"
卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐

[2015-02-27 01:06] TotalfreedomSucks opened #443 "卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐"
卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐

[2015-02-27 01:06] TotalfreedomSucks opened #444 "卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐"
卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐

[2015-02-27 01:06] TotalfreedomSucks opened #445 "卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐"
卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐

[2015-02-27 01:07] TotalfreedomSucks opened #446 "卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐"
卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐

[2015-02-27 01:07] TotalfreedomSucks opened #447 "卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐"
卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐

[2015-02-27 01:07] TotalfreedomSucks opened #448 "卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐"
卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐

[2015-02-27 01:07] TotalfreedomSucks opened #449 "卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐"
卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐

[2015-02-27 01:08] TotalfreedomSucks opened #450 "卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐"
卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐

[2015-02-27 01:08] TotalfreedomSucks opened #451 "卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐"
卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐

[2015-02-27 01:08] TotalfreedomSucks opened #452 "卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐"
卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐

[2015-02-27 01:08] TotalfreedomSucks opened #453 "卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐"
卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐

[2015-02-27 01:09] TotalfreedomSucks opened #454 "卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐"
卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐

[2015-02-27 01:09] TotalfreedomSucks opened #455 "卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐"
卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐

[2015-02-27 01:09] TotalfreedomSucks opened #456 "卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐"
卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐

[2015-02-27 01:10] TotalfreedomSucks opened #457 "卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐"
卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐

[2015-02-27 01:16] KillTotalfreedom opened #473 "卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐"
卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐

[2015-02-27 01:16] KillTotalfreedom opened #474 "卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐"
You all suck.

卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐

[2015-02-27 01:16] KillTotalfreedom opened #475 "卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐"
Sieg Heil

卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐

[2015-02-27 01:16] KillTotalfreedom opened #476 "卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐"
yolo
卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐

[2015-02-27 01:17] KillTotalfreedom opened #477 "卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐"
卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐

faggits

[2015-02-27 01:19] KillTotalfreedom opened #478 "Git rekt"
卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐
eat it bitcha$$

[2015-02-27 01:20] KillTotalfreedom opened #479 "卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐"
fuk u mk

[2015-02-27 01:20] KillTotalfreedom opened #480 "TotalFaggots"
卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐

[2015-02-27 01:21] KillTotalfreedom opened #481 "卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐"
卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐

[2015-02-27 01:21] KillTotalfreedom opened #482 "卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐"
卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐

[2015-02-27 01:22] KillTotalfreedom opened #483 "卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐"
卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐

I hope u all die in a fier

[2015-02-27 01:22] KillTotalfreedom opened #484 "卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐"
Swiggity swaggity, kill the faggity

[2015-02-27 01:23] KillTotalfreedom opened #485 "卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐"
卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐

[2015-02-27 01:23] KillTotalfreedom opened #486 "卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐"
卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐

[2015-02-27 01:24] KillTotalfreedom opened #487 "卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐"
卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐卐

[2015-02-27 01:28] StevenLawson commented on #441
Thank you for the report, but I'd like to keep things like this in private channels. Going to go ahead and close this issue.

[2015-02-27 01:28] #441 closed

[2015-02-27 16:45] Wild1145 opened #488 "Cooldown"
Something I saw on the forums, and I think would work quite well, especially when the server is really busy, is a "cooldown" system, where you can only talk / execute commands every X seconds (Between 1 and 4 maybe?) defined by the admin. You can also decide to toggle just chat cooldown, just commands cooldown or both, and then for the amount of time.

Its something that would make the server a lo

[2015-02-27 17:01] JeromSar commented on #488
I think player should be able to speak continuously, as long as it isn't spamming. However, the anti-spam feature could be improved a bit. Perhaps checking for spam by checking the amount of characters typed instead of the amount of lines typed in a specific timespan.

[2015-02-27 18:53] Wild1145 commented on #488
@JeromSar I was thinking more for if its really busy, so like Twitch has its cool down system where you can enable it if its really really busy and a lot of chat is happening, I feel that could be applied here for both commands and text, similar to the discussion thread.

As for the anti-spam, it could be improved as you said, but I think this could link in quite well with any improvements to it.

[2015-02-28 04:43] Explosives opened #492 "Block WorldEdit commands"
/br
/mask
/tool

All of the commands used to do the sphere griefing. Very annoying and needs to be blocked.

[2015-03-01 03:25] Nobody-11 commented on #492
Agreed, it is really annoying, and needs to be blocked,

Seen someone did Sphere griefing.

[2015-03-02 01:42] ChargedCreeper opened #493 "Forge Mod Loader workaround"
[01:37:18] [Server thread/INFO]: [TotalFreedomMod] Hostname: play.totalfreedom.meFML:28965]

Forge Mod Loader appends FML to the hostname in the log, which is  what prevents a player using at least certain versions FML from joining TotalFreedom.  I dont get how they are even managing to establish a connection though with the suffix. I would think that it would fail to resolve the domain with meFML

[2015-03-02 01:46] Windows-i7 commented on #492
Dont forget about lrbuild

[2015-03-02 07:04] JeromSar commented on #493
Oh, that explains it, thanks!

[2015-03-02 08:08] Wild1145 commented on #493
This explains a lot, as Forge were saying the code we have was doing what it should be, but to look at forges setup, Thanks for flagging this :)

[2015-03-02 18:38] JeromSar commented on #493
@ChargedCreeper Regarding the hostname lookup. I think that hostnames are resolved as usual, but the player joins using the spoofed hostname with "FML" appended to flag the server that the player is using FML.

[2015-03-02 19:25] Wild1145 commented on #493
@JeromSar That looks to be correct. Meaning TFM goes "Wrong Hostname" and the person connecting gets that message, and is sat there tying to figure out what the hell just happened. I just applied a workaround to DCMod to handle this problem.

[2015-03-04 03:39] tylerhyperHD opened #495 "1.8 Bypass Bans"
I tried to use the 1.8 version on one of my private servers and I got a guy on and tried to ban him but it didn't work. I think there is something seriously wrong with banning via UUID's or something that you may wanna check out.

[2015-03-04 03:44] xDestroyer217 commented on #495
Yes, but on TF, tempbans don't work and gadmin stuff doesn't work as well,
people just simply bypass.
 On Mar 3, 2015 10:39 PM, "Tyler Wrenn" <notifications@github.com> wrote:

[2015-03-04 07:53] JeromSar commented on #440
@BigDaddyUS The log stick's data is reset when the server restarts or reloads. Additionally, break/places by admins aren't logged at all. Does that fix your issues?

[2015-03-06 09:40] JeromSar commented on #400
@Hockeyfan360 The implementation doesn't work. Fix pls. :)

[2015-03-06 09:41] JeromSar commented on #358
Nah, I don't think this needs to be implemented. The message was designed to be somewhat cynical and changing that would destroy its purpose.

[2015-03-06 09:41] #358 closed

[2015-03-06 12:06] StevenLawson commented on #358
Spot on.

[2015-03-06 18:56] JeromSar commented on #492
@Explosives Some commands like /lrbuild may be blocked, but /br and /tool have a proper usage which is not only used for griefing.

[2015-03-07 11:26] JeromSar commented on #403
@Robolawrence Covering each suggestion one by one:
/defaultgamemode - This should be an admin command, yes.
/difficulty - I don't see why this should be blocked.
/playsound - Should be limited to playing sounds just to your self, in my opinion.
/summon - This is actually a very useful and purposeful command for summoning non-mob entities. I don't think blocking this would be a very good idea.
/see

[2015-03-10 02:55] DDQ888 opened #497 "/noob -Windows_i7_8"
Hello,

I suggest adding something that tells the player how long they are banned for, so they don't make a ban appeal, and as soon as they are done making that appeal, they will be unbanned. Also make it say the admin who noobed the player. This will probably reduce the amount ban appeals.

[2015-03-10 03:40] BigDaddyUS opened #498 "Ryan"

[2015-03-10 03:42] BigDaddyUS commented on #498
Sorry, I'm one my iPhone and clicked the wrong button. Stupid me. What I was going to say is It'd be nice to add Ryan's admin busy command for Total Freedom.

[2015-03-10 07:21] JeromSar commented on #498
@BigDaddyUS Could you give a more detailed description of what this command does?

[2015-03-10 07:25] JeromSar commented on #497
@DDQ888 I think that's a good idea. I've been wanting to add ban information to the ban message for some time. :P

[2015-03-10 10:22] Wild1145 commented on #498
I think he wants the busy command from CJFM that I modified from DCMod. https://github.com/Superior-Development/CJFreedomMod/blob/master/src/me/RyanWild/CJFreedomMod/Commands/Command_busy.java

[2015-03-10 17:45] Wild1145 commented on #497
The problem is, we dont know exactly when the bans and such will be expired. Simply because @markbyn will wipe the banlist when he loggs on and decides its a good time to do it. Obviously you could automate the banning system so a /gtfo is exactly 24 hours if you so desire, and it would overcome that problem.

[2015-03-10 18:42] JeromSar commented on #497
@Wild1145 Maybe it's a good idea to have bans auto-expire?

[2015-03-10 20:18] Wild1145 commented on #497
@JeromSar It would make everything a lot fairer, I think it'd be an improvement.

[2015-03-12 23:24] DDQ888 commented on #497
@Wild1145 /noob is for five minutes. So I am saying that when you do /noob (player) it does something like. "You have been temporarily banned from this server for five minutes by Windows_i7_8"

[2015-03-12 23:40] looperXD opened #499 "Add IP Bans to /noob and /tban"
The Command /noob or /tban only bans players name for 5 minutes, or I think it is 5 mins.
Suggestion: Add 5 mins IP Ban to /noob
Some Players that have hack client could login in as some other usernames.
https://github.com/looperXD/TotalFreedomMod/blob/master/src/me/StevenLawson/TotalFreedomMod/Commands/Command_tban.java
        TFM_BanManager.addIpBan(new TFM_Ban(playerIp, player.getName(), sende

[2015-03-12 23:42] looperXD commented on #409
Not a bug to TotalFreedomMod. Its a bug with my custom mod.

[2015-03-13 07:12] JeromSar commented on #409
@looperXD Alright, closed.

[2015-03-13 07:12] #409 closed

[2015-03-13 15:41] xDestroyer217 commented on #499
You should of kinda made a PR and not a Issue. I'll do the PR if I can do it correctly :p

[2015-03-13 19:55] Wild1145 commented on #375
@JeromSar This probably should be done... Its quite a few versions behind. If needs be I can do it myself, but I wont do it if you either dont want it done yet or intend to do it yourself soon...

[2015-03-14 17:26] xDestroyer217 commented on #417
@TaoistMiner, is the command '/gtfo'  modified?

[2015-03-14 18:05] WickedGamingUK commented on #493
Any update on this? I suppose checking if the hostname that the player is joining on starts with play.totalfreedom.me will be a sufficient solution to the problem.

[2015-03-14 18:09] Wild1145 commented on #493
@WickedGamingUK Or you can just add the FML bit to the end of it as an or statement if needs be, its how I patched the issue on DCmod.

[2015-03-15 01:51] xDestroyer217 commented on #404
Why with the -i flag? Its basically the same thing existing with /prem.

[2015-03-15 02:02] xDestroyer217 commented on #495
This is still happening from today, just with less pepole. GTFO is sucessful on ban.

[2015-03-15 03:12] Hockeyfan360 opened #503 "/findip Improvement"
I was thinking that instead of it getting an online player's IP, it gets that player's IPs (whole IP list) from their player-data file.

If there is an alternative already implemented, please state and close ;)

[2015-03-15 05:27] xDestroyer217 commented on #503
Hey hockey, from right now, I dont see there's an alt implemented, and I do like this to implement.

[2015-03-15 11:35] Wild1145 commented on #495
Please check you are using the correct version of Craftbukkit / Spigot, and if there are any errors that you post them here.

[2015-03-15 11:36] Wild1145 commented on #404
@JeromSar Surly we could check when they login? Then store that until they log out, it doesnt sound too much more difficult but I may well be wrong.

[2015-03-15 11:59] JeromSar commented on #404
@Wild1145 It's impossible to get the session key from the Bukkit API. Some hacking into NMS will be required.

[2015-03-15 12:00] JeromSar commented on #495
@xDestroyer217 @tylerhyperHD is this only occurring with /tban. If so, the bug is known and there's a working PR that'll fix this issue.

[2015-03-15 12:19] #492 closed

[2015-03-15 13:25] JeromSar commented on #427
I think /whohas -s <item> would be a good idea.

[2015-03-15 17:15] looperXD commented on #427
Agree,  when player has splash potion of invis and they are spamming pots on other players,  admin could just use /whohas (thepotid) -s them use /potion clearall

[2015-03-15 23:45] XxSkydevil06xX opened #504 "Owner Prefix"
My Owner Prefix Does Not Show Instead Its Senior Admin Please Someone Fix This!

[2015-03-16 01:48] zD12 commented on #504
You're required to change the actual owners inside the config.yml, add your username and it'll override your senior tag with the owner tag.

[2015-03-16 01:56] zD12 commented on #439
As @ghost stated, wrong plugin.  The issues submitted here for are TotalFreedomMod only, you may submit an issue regarding WorldEdit here:
https://github.com/TotalFreedom/TF-WorldEdit/issues

However, wouldn't be a bad idea blocking users from placing spawners- but seems too limiting on our ideals.

[2015-03-16 02:03] zD12 commented on #436
if (command.contains("**"))
{
TFM_Util.playerMsg(sender, "'**'is prohibited.");
return true;
}

[2015-03-16 02:10] zD12 commented on #422
I don't think this is such a good idea.  This will only lag the server running TotalFreedomMod once hundreds, if not, thousands of proxies, VPN's, and otherwise public IP addresses are added.  There isn't any need to code this in, instead, administrators should use common sense and follow the policies outlined on the forums.

[2015-03-16 02:13] Nobody-11 commented on #504
It actually in player listener

[2015-03-16 19:52] LegendIsAwesomes opened #506 "Invisibility for admins"
/invis should have a option like /invis on which enabled invisibility for unlimited time for Super Admins and above! This would help because there wouldnt be a constant re-drinking of the invis pots when catching griefers and you wouldn't have to keep re drinking invis pots because this will more likely be for unlimited amount of time! I think this is in the wrong section not sure!

[2015-03-16 20:31] JeromSar commented on #504
@XxSkydevil06xX Edit your config.yml and add your username to owner. :)

[2015-03-16 20:33] JeromSar commented on #422
@zD12 The feature on its own is a good idea. It's how we use it that might make a difference. Then again, you shouldn't be worrying about lag, since this check is only performed when adding a super admin is negligible.

[2015-03-16 21:25] Wild1145 commented on #506
Or we could update to 1.8.3 and use GameMode 3?

[2015-03-17 17:14] zD12 commented on #506
@Wild1145, I don't believe there is a Spigot version that allows Minecraft 1.7.x versions to connect and have Minecraft 1.8.3 features.  It wouldn't work too well, it would just lead to anybody on 1.7.x crashing.  However, we could always switch purely to Minecraft 1.8.3 and allow only users with that version to connect- but that's neglectful and wouldn't help with allowing more people to connect.

[2015-03-18 10:36] Wild1145 commented on #506
@zD12 Who said anything about 1.7.X? You wont find ANY spigot versions that allow 1.7.X joining and 1.8.X functionality, because it doesnt work like that. You would need to do a total update to 1.8.3 like it ideally should have been done months ago.

The essentials vanish is just an invis potion, so rather pointless.

[2015-03-18 13:46] markbyrn opened #507 "Brush Griefing Detection"
Not sure if it's technically possible or at least easy to implement but it would be great if there was a detection system for brush sphere griefing.

[2015-03-18 14:08] Wild1145 commented on #507
Not sure how you would practicaly implment it... Unless they fancy writing some sort of AI, there would be no way to determin between a grief and a real build...

[2015-03-19 14:49] OxLemonxO commented on #506
There is a plugin that allows 1.8 features on 1.7..
http://www.spigotmc.org/resources/carbon.1258/

[2015-03-19 15:18] JeromSar commented on #506
@Wild1145 @zD12 I wonder if the new Spigot API for 1.8.3 supports Gamemode 3 and/or if we should be using that instead of the default Player.hidePlayer(Player).

[2015-03-19 17:06] Wild1145 commented on #506
@JeromSar From using 1.8.2 in DarthCraft it is supported, and it works a lot better than setting the player to hidden where its just an invis potion. The only possible problem could be with the all op thing where everyone would in theory have permission to see the hidden players, but I think that you can only see other hidden players in GameMode 3, so as long as we block the ability for players to

[2015-03-20 19:33] ValenciaOrange opened #508 "Opme"
For https://github.com/TotalFreedom/TotalFreedomMod/pull/502

The Command /opme is kinda useless,
1. Its only open to admins
2. Admins could just do /op (their username)

I made it so every players could use it but not Impostor. Players can just use /opme when they join instead of yelling in the chat or having the admins do /opall everytime.
I think this would make things a lot easier.

Changes:
T

[2015-03-20 20:10] zD12 commented on #508
@looperXD this command was created previous when we still used the command '/deopall'.  This remains as utterly useless, however, still remains as a custom command that older administrators, such as myself.  It should be noted, you could have commented on that pull request instead of actually creating a new issue.

[2015-03-20 20:24] Wild1145 commented on #508
@zD12 Is there an issue for this already open or has it just been talked about in a separate PR?

[2015-03-20 22:40] JeromSar commented on #508
@looperXD /opme serves of historical value, it won't be removed. Is that what you were suggesting?

Please elaborate on what you're actually suggesting here.

[2015-03-20 22:41] looperXD commented on #508
I don't mean to remove it. I mean to Improve it
https://github.com/TotalFreedom/TotalFreedomMod/pull/502

[2015-03-20 23:01] JeromSar commented on #508
@looperXD Please edit this issue and describe your changes.

[2015-03-20 23:14] looperXD commented on #508
Changes:
The Command /opme was only open to admins, which is kinda unfair.
I updated the command /opme so when a new player joins or a player comes back from griefing..etc they can op them self rather them screaming and yelling in the chat "OP ME!, OP pls" or having the admins do /opall everytime when a new player joins.

I blocked the command to Imposter so when a Imposter try to use /opme they w

[2015-03-20 23:16] StevenLawson commented on #508
Fun fact: /opme was TFMs first command.

[2015-03-20 23:18] looperXD commented on #508
Interesting, I thought it was opall XD

[2015-03-20 23:32] Wild1145 commented on #508
Could we have some way of limiting this to one command execution per "reload" almost, that way if you get deopped for worledit stuff you cant just reop yourself and go again?

[2015-03-21 16:08] Hockeyfan360 commented on #400
@JeromSar
Can I do something along the lines of this:

When they are smited, they are added to a list.
When they are opped, they are removed from the list.

When smiting, if the targeted player is on the list, they cannot be smitten.

However, that could get annoying.

[2015-03-21 16:26] JeromSar commented on #400
@Hockeyfan360 I'd rather have there be a timer dictating that a player could not be re-smitten in TFM_PlayerData. Could you do that?

[2015-03-21 18:05] Hockeyfan360 commented on #400
@JeromSar I could. (I didn't know this was still my job)

[2015-03-21 19:51] Wild1145 opened #509 "No Server Full Message for admins"
Currently when the server is full, admins will (as players do) see that the server is full in the MOTD. I would like to have it display something else or at the very least change the color. This way you can know you're an admin before you login to the server if it is full, and as you kick a player anyway it should not be an issue.

[2015-03-21 19:52] Wild1145 opened #510 "Log Online Time"
I think we should log how long a player has been online (Since joining) per session. This way if the server is full and an admin joins, the server then searches for the "oldest" player, and kicks them instead of picking some poor sod out at random.

[2015-03-21 23:09] Explosives opened #511 "Add limit to/block //regen and //cut"
This is mainly a flatlands server, so //regen is nothing but a griefing tool that can bypass limits. We don't need to block //cut but it desperately needs a limit. Could we block //regen altogether or just implement limits into the command?

[2015-03-21 23:12] Explosives commented on #510
This would be a nice idea. Maybe it could be a command where it lists how long players have been online, with longest time on top, to shortest on bottom, so on and so forth.

[2015-03-21 23:13] Explosives commented on #508
I like it because it's easier to type than "/op Explosives"

[2015-03-21 23:18] Explosives commented on #511
Oops, forgot to put this in worldedit section. Could this be moved please?

[2015-03-21 23:39] JeromSar commented on #510
Good idea!

[2015-03-21 23:41] JeromSar commented on #400
@Hockeyfan360 You said "can I", implying you wanted to take it. I presumed you did, of course. You don't have to if you don't want it. :P

[2015-03-22 00:14] Wild1145 commented on #510
@Explosives That could also be handy. There are a few ways you could take the issue after its implementation to further improve and make the server that bit more fair for everyone, like having it kick you after a certain amount of time to allow others to join and all of that. Its just down to where you want to draw the development line really :)

[2015-03-22 00:15] Wild1145 commented on #511
You would need to re-create the entire issue on the WorldEdit Github, issues cannot be moved (I think)

[2015-03-22 14:50] ChargedCreeper opened #512 "Clear Minecarts and Boats"
I know that /rd will purge these, but TotalFreedomMod's automatic entity clearing does not, even when there is way too many entities. I am suggesting that when the entity count for the server exceeds a certain number, that the autoclear purges these entities too. This would make lag machines a lot less effective while still allowing players to ride minecarts and boats (as long as nobody spams them

[2015-03-22 16:14] JeromSar commented on #511
@Explosives Will do for you. :)

[2015-03-22 16:14] #511 closed

[2015-03-22 16:15] JeromSar commented on #511
https://github.com/TotalFreedom/TF-WorldEdit

[2015-03-22 19:53] supermaster1 opened #513 "nothing"
Nothing

[2015-03-22 19:56] Explosives commented on #513
this really isn't needed.

[2015-03-22 21:06] Wild1145 commented on #513
@JeromSar Spam

[2015-03-22 21:15] JeromSar commented on #513
@supermaster1 Don't spam our github.

[2015-03-22 21:15] #513 closed

[2015-03-23 22:07] zD12 opened #516 "Announcements lack variety"
Hi there, announcements are boring and lack variety.  I feel it would be best to add more rule expansion and some more excitement into the announcements.

[2015-03-23 22:34] Wild1145 commented on #516
Agreed.

[2015-03-23 23:04] zD12 commented on #512
I disagree, Minecarts are used for traveling, as with boats are used for traveling, thus, only allow it to be purged past a certain amount of Minecarts.  I'd say 26 Minecarts would exclude the limitation, it wouldn't be laggy and it's extremely doubtful that 50 percent of the server.   Make sure we include all the types of Minecarts.

[2015-03-24 22:07] CandyCaneUnicorns opened #517 ".//regen as an admin command? Limits?"
Hello, there. I am ItsKandee (FarahIsAwesome) TotalFreedom Admin, so I've been thinking about OPs crashing TotalFreedom with //regen. I'm thinking maybe we should make it an admin command or have a limit for it. Griefing Teams use //regen to crash servers. Do you think this should be added? Lots of OPs like to crash freedom servers with //regen since there's no limit.  Maybe make it an admin comma

[2015-03-24 22:12] looperXD commented on #517
I beileve this is a great idea. Player can use //regen to grief, leaving no marks. Sometimes it could be used to crash the server.
This would be easy to accomplish too. You can do this by blocking the command in config.yml.
Ex: 's:b://regen:_'

[2015-03-24 22:17] zD12 commented on #517
To be truthful, I don't see any usage for '//regen' for normal players, a barely for administrators.  It isn't often for users to build within the normal world, and it's more common for a senior administrator just to change the physical world then to '//regen' the griefed chunks.  I don't see this as a bad idea, and this may help with users crashing the server.  I've opened up #518, should resolve

[2015-03-24 22:17] looperXD commented on #437
I agree. Someone recently imposed as me and luckily the admins found out before any harm were done.

[2015-03-24 22:27] Wild1145 commented on #517
I think we should limit it, not just block it...

[2015-03-24 23:08] zD12 commented on #517
@Wild1145, that would be a nice suggestion :smile:

[2015-03-25 02:45] tylerhyperHD opened #519 "1.8.3 API now here"
The craftbukkit api for 1.8.3 is now here:
http://tcpr.ca/files/craftbukkit/craftbukkit-1.8.3-R0.1-SNAPSHOT-latest.jar
Also the spigot one is here:
http://tcpr.ca/files/spigot/spigot-1.8.3-R0.1-SNAPSHOT-latest.jar

I don't know if we are planning anytime soon to upgrade, but we might as well soon.

[2015-03-25 11:04] JeromSar commented on #519
@tylerhyperHD I've been working on updating all TFM plugins to CraftBukkit 1.8. Currently, only Essentials is left. Once that's done, we can start updating the plugins to 1.8.3.

P.S. We'll be obtaining Spigot from the (official sources)[http://spigotmc.org], not a shady URL. I suggest you do the same.

[2015-03-25 11:55] Wild1145 commented on #519
Obtaining Spigot from a reliable source is the best thing to do, either build it yourself, or know someone that builds it themselves and use theirs.

[2015-03-25 13:48] tylerhyperHD commented on #519
Currently, all I see when I loaded 1.8.3 is a whitelist error in the server
interface, meaning the API is nearly identical to it.

On Wed, Mar 25, 2015 at 7:55 AM Ryan <notifications@github.com> wrote:

[2015-03-25 13:49] tylerhyperHD commented on #519
Also, clients that have 1.8.1 can still login to the server with this API.

On Wed, Mar 25, 2015 at 9:48 AM Tyler Wrenn <mcbeat257@gmail.com> wrote:

[2015-03-25 14:05] JeromSar commented on #519
@tylerhyperHD If you were to have _actually_ read https://spigotmc.org, you would have known there were no API breakages. And yes, bugfix version number changes are backwards and forwards compatible.

[2015-03-25 21:20] Wild1145 opened #520 "Update / Remove TFupdate"
The TF Update command seems to have been somewhat neglected and forgotten. As all projects should now be on Github, I think it would be potentially worth updating it to get all the latest releases directly from github (As I believe there is a way to do that) or simply removing the command as its not often used on TF.

[2015-03-25 21:23] xDestroyer217 commented on #520
I prefer updating it than removing it, it can be a good use.

[2015-03-28 02:01] Robolawrence commented on #403
@JeromSar As per http://totalfreedom.boards.net/thread/21065/server-conduct-policy-players-admins, section 1, paragraph d among others, trolling really isn't allowed. It's part of what separates Total Freedom and Total Anarchy. Also for /seen I did test it just the other day and it still shows the IP to non-admins if the said player is offline.

[2015-03-28 03:50] gomalley411 opened #521 "Reasons"
Self explanatory, but I'll explain it anyway. We should add reasons to /glist ban because, to put it simply, what if an OP finds that (s)he's banned but there's no reason listed? Wouldn't they be a bit angry about it? I sure would, and if we add reasons to /glist ban, we can tell the OP why they were banned if they don't already know. Just a thought.

[2015-03-28 04:46] Nobody-11 commented on #521
Completed agreed with gomalley411, Ops won't be happy if they got banned without any reasons, they will just appeal the ban and said banned offline, Admins would tell them that they griefed or something like that....

[2015-03-28 11:17] Nobody-11 commented on #504
Soz for late comment, go in TFM_PlayerListener.java and add
[code]

[2015-03-28 11:54] JeromSar commented on #504
@Nobody-11 @Wild1145  Interesting, I just checked the code and it seems that the owner prefix isn't added by default, resulting in players listed as owners getting the SRA prefix. Should we turn this into a bug issue?

[2015-03-28 12:06] Nobody-11 commented on #504
Yeah, I have to agree with you @JeromSar

[2015-03-28 12:12] Wild1145 commented on #504
@JeromSar Well lets put it this way, I wouldnt call it an enhancement :P

[2015-03-29 01:56] Hockeyfan360 opened #523 "Migrate Bans to SQLite"
To avoid conflicts on accociated servers, maybe add a config option and sql pass/username.

This would allow us to check for who banned who, as well as get the reason for why they were banned.

[2015-03-29 01:59] BigDaddyUS commented on #523
Great idea, but as Wild said before it'll be a little difficult for Mark to get use to.

[2015-03-29 10:05] JeromSar commented on #523
@Hockeyfan360 SQLite databases are stored in local files, no user/pass necessary. Thanks for your suggestion. :) Discuss and comment please.

[2015-03-29 10:11] #516 closed

[2015-03-29 12:26] JeromSar opened #524 "Asynchronous player kick"
From http://totalfreedom.boards.net/thread/21672/fem1su
[16:34:01 ERROR]: [TotalFreedomMod] nulljava.lang.IllegalStateException: Asynchronous player kick!
at org.spigotmc.AsyncCatcher.catchOp(AsyncCatcher.java:14)
at org.bukkit.craftbukkit.v1_7_R4.entity.CraftPlayer.kickPlayer(CraftPlayer.java:254)
at me.StevenLawson.TotalFreedomMod.TFM_Util.autoEject(TFM_Util.java:512)
at me.StevenLawson.TotalFre

[2015-03-29 12:32] FlexxPro commented on #510
There's a way to exploit this, a player could leave at anytime to avoid getting kicked.

[2015-03-29 12:33] FlexxPro commented on #523
That would be great!

[2015-03-29 12:38] Wild1145 commented on #510
@FlexxPro Anything can be exploited if you try hard enough. Its about making it as sensible as possible to prevent obvious abuse. You cant prevent absolutely everything from ever happening, you can try, but eventually someone will find some way around it.

[2015-03-29 19:01] xDestroyer217 opened #525 "Make /rl as a normal blocked command"
Mark told me to suggest that here, also, I do agree doing this because, too much pepole tell other pepole to do /rl for rocketlauncher.... and it bans innocent pepole. Can we just keep it as a normal blocked command?

PR: #526

[2015-04-01 14:31] FlexxPro opened #528 "Tempbans not working"
I've tempbanned this guy multiple times, he keeps coming back.
[14:27:49] [Server thread/INFO]: FlexxPro issued server command: /tempban tomc 5 minor-grief
[14:27:49] [Server thread/INFO]: [PREPROCESS_COMMAND] FlexxPro(FlexxPro): /tempban tomc 5 minor-grief
[14:27:49] [Server thread/INFO]: [PLAYER_COMMAND] FlexxPro (FlexxPro): /tempban tomc 5 minor-grief
[14:27:49] [Server thread/INFO]: FlexxPro -

[2015-04-01 23:08] ArcticHumboldt opened #529 "Colorful MOTD not working"
The MOTD option provided by TFM isn't working.
![untitled](https://cloud.githubusercontent.com/assets/7342823/6954676/3a1201d8-d889-11e4-97c7-c491bf945955.png)
My config:

server:
  # You should change this to your server's name
  name: ArcticFreedom

  # The address your server is located at. Please do not include the port.
  address: afreedom.us.to

  # Shown at the server list
  motd: Arctic Fr

[2015-04-02 00:21] ImALuckyGuy commented on #528
The problem is, it seems to work sometimes and other times not. I'm thinking it has something to do with UUIDs. I'm not exactly sure though.

[2015-04-02 00:42] FlexxPro commented on #529
I think it's a spigot issue from what I've heard

[2015-04-02 10:34] Nobody-11 commented on #529
Mines is working well. Perhaps the mods/forge. Otherwise, it may be spigot issue.

[2015-04-02 14:38] JeromSar commented on #529
Jerom please remember to log out

:)

[2015-04-02 17:23] ArcticHumboldt commented on #529
I'/m actually using Spigot, I just left Bukkit in there accidentally.

[2015-04-02 17:35] Wild1145 commented on #529
There should be no problems because its Spigot. By the looks of it it *could* be due to the fact you're mixing color codes and no color codes...

[2015-04-02 22:18] ArcticHumboldt commented on #529
Can you explain a little further, @Wild1145

[2015-04-02 22:56] Wild1145 commented on #529
Never mind, I was talking crap. Im not too sure exactly why this isnt working. Are you getting any errors in console?

[2015-04-02 22:58] ArcticHumboldt commented on #529
I'm not getting any that have to di\o with the MOTD, but I am getting this:
3:57:04 PM CONSOLE: ERROR]: Could not pass event ServerListPingEvent to TotalFreedomMod v4.4
3:57:05 PM CONSOLE: Source) [?:1.7.0_75]
3:57:05 PM CONSOLE: java.lang.NoClassDefFoundError: net/minecraft/server/v1_8_R1/MinecraftServer
3:57:05 PM CONSOLE: Method) ~[?:1.7.0_75]
3:57:05 PM CONSOLE: Source) ~[?:1.7.0_75]
3:57:05 P

[2015-04-02 23:01] Wild1145 commented on #529
That looks to be the error... You're running a different Spigot version than your TFM supports.

[2015-04-02 23:22] ArcticHumboldt commented on #529
Do you know where I can get the right version? (I got the spigot from the BuildTools package, with Git Bash.) @Wild1145

[2015-04-02 23:57] Wild1145 commented on #529
The best thing I think would be to update the NMS versions in TFM

[2015-04-03 02:54] FlexxPro commented on #517
Remember, we are a freedom server and we need to keep it that way. Limiting would be a better option

[2015-04-03 10:46] JeromSar commented on #529
@ArcticHumboldt Follow the instructions at http://spigotmc.org, you should be able to get it just fine. :) Good luck!

[2015-04-03 22:57] ChargedCreeper opened #530 "Some errors (NPE in online-mode)"
:[22:55:29 INFO]: Disconnecting /105.155.139.73:56281: Failed to verify username!
:[22:55:29 WARN]: Exception in thread "User Authenticator #316"
:[22:55:29 WARN]: java.lang.NullPointerException
:[22:55:29 WARN]: 	at net.minecraft.server.v1_7_R4.ThreadPlayerLookupUUID.run(ThreadPlayerLookupUUID.java:61)
:[22:55:29 INFO]: /105.155.139.73:56281 lost connection: Failed to verify username!
:[22:55:30

[2015-04-03 23:11] Wild1145 commented on #530
@ChargedCreeper Is this from TF or another server?

[2015-04-03 23:15] ChargedCreeper opened #531 "Wildcard name-ban"
Sometimes spambots have a specific pattern to their name. This latest case it was:
Y3ll0w_J4ck3t##

With ## being a random number. So, I think this could be exploited to be able to ban them all at once.

For example, banning:
Y3ll0w_J4ck3t*

[2015-04-03 23:15] ChargedCreeper commented on #530
TotalFreedom

[2015-04-03 23:20] ChargedCreeper commented on #530
@Wild1145 TotalFreedom, I was on telnet when it happened.

[2015-04-03 23:27] Wild1145 commented on #531
Would be handy to have some sort of command based restriction for seniors to use like

/rangeban Y3llow_J4ck3t***

Then until the server is reloaded / restarted that range ban is implemented.

[2015-04-04 00:42] zD12 commented on #531
Would be nice, but, needs senior restrictions as stated above.

[2015-04-04 00:59] ChargedCreeper commented on #531
I agree. I could see this ending badly if supers could use it.

[2015-04-04 02:52] CandyCaneUnicorns commented on #531
I agree.

~ItsKandee, SA TF Admin

[2015-04-04 03:14] DaBoyTM opened #532 "Lockdown"
When i tried to join TF, it would kicked me out and i can't join... is this just a error or something (I have joined before).

[2015-04-04 16:22] FlexxPro commented on #531
Would help alot, unless this Y3llowJacket is looking at the tfm repo

[2015-04-05 03:11] XxSkydevil06xX commented on #504
Is This FIX Now

[2015-04-07 04:48] PurpleWirez commented on #531
Seems like a good addiction I think it should have to be ran through Console(Or telnet) so Telnet+ or senior, but either way this should be added.

[2015-04-07 05:16] supergameplayer commented on #531
Vouch, and there should also be an IP range ban command. The IP range ban would be good for ban bypassers.

[2015-04-07 05:25] PacksGamingHD opened #535 "omg we need bury"
/bury name teleports the victim to the bottom of the map, freezes and mutes them. If a non-admin uses the command, it buries themselves instead

i would write the code but i dont know a single thing about the new TFM and netbeans is being a bitch.

[2015-04-07 05:26] DaBoyTM commented on #535
Bad Idea Bad Idea! OBJECTION! This can cause bad things to happen!

[2015-04-07 06:03] PacksGamingHD commented on #535
@DaBoyTM how?

[2015-04-07 06:06] DaBoyTM commented on #535
Well, it may be useless and this server may not getting new players...

[2015-04-07 11:20] GotNoFriends commented on #535
It was part of Disdfreedom, I still have a copy of this if anyone wants it :P

[2015-04-07 13:14] Wild1145 commented on #535
From a server side perspective there would be no real performance damage that I can think of to add this in, the problem you are going to have is the same problem that you have with commands like /emf where admins abuse it, or use it inappropriately, ending up with players leaving the server and never returning. I am against this idea and think its an utter waste of development time and effort.

[2015-04-07 17:58] tylerhyperHD opened #536 "Small name fixes needed with code"
Some developers like Darth and Madgeek have not changed their names in the plugin. I will change these to show you what I am talking about in my pull request.

[2015-04-08 02:32] TheRevalation commented on #535
@Wild1145 I agree, I wish /emf would be changed to /ep (english plz) and send the player a broadcast msg to speak english if possible.

[2015-04-08 09:50] DaBoyTM opened #538 "/op {player name}"
I have a good idea, if someone try to op someone that is already opped, it will say This Person/Player is already opped, this might be a good idea to reduce some spam of opping

[2015-04-08 12:30] Wild1145 commented on #538
It makes sense, we did it to CJF and just added a simple check for if they are op do nothing more.

[2015-04-08 13:41] JeromSar commented on #538
let's also block /opall from opping players when everyone is already OP.

[2015-04-08 19:41] LegendIsAwesomes opened #539 "Compiling"
I got the zip and imported the ZIP into my netbeans.

I started to work on the mod and it had NO errors. When i compiled it the build was a success but when i added the .jar to the server it showed up in /pl but none of the commands worked like opall! (It didnt give a error message it said that the command didnt exist!) I recompiled and tried again still no luck and none of the commands (Except th

[2015-04-08 23:02] Wild1145 commented on #539
Compiling right now is a tad complex due to the way that different plugins are slightly out of sync with one another. Best to use releases really for now.

[2015-04-09 04:37] PacksGamingHD opened #540 "y3llow jack3t fix"
in the player listener there should be something like

if (username.contains("Y3ll0w_Jack3t")) // not sure if contain works i haven't tested it
{
tfm.banplayer // you know what goes here but I'm to lazy to write the entire thing
}

not sure if it works but i think this could be easily implemented

[2015-04-09 06:09] JeromSar commented on #540
We're not going to hardcode player bans, sorry.

[2015-04-09 06:09] #540 closed

[2015-04-09 06:10] JeromSar commented on #539
@LegendIsAwesomes Check your console. What are the errors there?

[2015-04-09 17:01] PacksGamingHD commented on #540
why?

[2015-04-09 18:32] LegendIsAwesomes commented on #539
@JeromSar I do not get a error its the default 'Unknown command use /help ' from default minecraft

[2015-04-09 19:04] looperXD commented on #531
Y3llow is a spam advertiser. By the time we do /rangeban he would already left the game waiting to do it again.
He comes and go really fast.
He joins,
spam in 1 sec
left
and repeat it again.

[2015-04-09 20:02] Hockeyfan360 commented on #531
It would actually be really easy to implement.

Just do this:

for (String players : <get-list-in-config>)
{
if (event,getPlayer().getName().contains(players)
{
kickPlayer();
}
}

[2015-04-09 20:46] AlexFreedomMod commented on #539
Thats weird.

[2015-04-09 21:28] Wild1145 commented on #540
@PacksGamingHD Because its pointless. Hard code banning is kinda a bad idea anyway, because what happened if you had to take TFM off the server? It just means you loose hard-coded bans. The only time I use hard coded banning myself is for the absolute worst of the worst, who even after a full reset should not be able to re-join. For TF its pointless. Hard code banning is not necessary or worth whi

[2015-04-09 22:31] TheRevalation commented on #539
Its not weird, Your packages or your lines have to be off, check your endings, your extensions, the actual coding.

[2015-04-09 22:33] LegendIsAwesomes commented on #539
@TheRevalation  I have checked everything its all fine.

[2015-04-09 23:27] AlexFreedomMod commented on #538
Nice

[2015-04-10 02:51] xDestroyer217 commented on #531
Y3l would see this. I bet he would login with another name if we ever get this implemented..

[2015-04-10 02:52] xDestroyer217 commented on #539
Must be the deps that has to be ran in mc..?

[2015-04-10 05:52] JeromSar commented on #539
@xDestroyer217 What are talking about?

[2015-04-10 05:53] JeromSar commented on #539
@LegendIsAwesomes I meant the errors at startup.

[2015-04-10 13:58] Wild1145 commented on #531
Range IP Banning = Very Very bad idea, should never have even been implmented.

Range Name Banning = Makes sense, but as long as its temp and run only from a command in game. If you're not quick enough to be able to go "Oh yeah, thats a spammer, he uses the same template for all his spamming accounts like this, lets /rangeban Y2llow_*****" then why the hell are you an admin?

[2015-04-10 17:33] xDestroyer217 commented on #531
How about not doing anything about this and just ban him when he does shit? We do have to have to be admin for something else..

[2015-04-10 17:34] xDestroyer217 commented on #539
@JeromSar As in what he needs to run within his minecraft server ex. Essentials, Ess-Spawn, BarAPI (if needed as a dep)

Or you just need a plugin.yml if it isnt there.

[2015-04-10 17:37] xDestroyer217 commented on #517
Such a long block of words in that first comment. But yeah, we should limit just as for the others, as in 500 blocks.

[2015-04-10 17:48] JeromSar commented on #539
@xDestroyer217 Netbeans should tell you what dependencies you need, if you haven't messed with the project files.

[2015-04-10 17:55] Wild1145 commented on #539
@JeromSar I think he means running those plugin based dependencies on the server its self. Theres no good running a plugin on a server with no dependencies.

[2015-04-10 20:37] LegendIsAwesomes commented on #539
Close this please, It suddenly started working i might of had a plugin missing!

[2015-04-10 20:45] Wild1145 commented on #539
@LegendIsAwesomes Just click the close button under the comments box.

[2015-04-10 20:47] #539 closed

[2015-04-10 22:19] FlexxPro opened #542 "Lava spawn exploit"
People are using the command "/summon" to spawn in lava blocks, could there be a way to prevent this from happening?

[2015-04-10 22:51] Wild1145 commented on #542
Then admins should be running the command /gtfo

[2015-04-11 00:32] markbyrn opened #543 "Filter out logging of login attacks"
We now have a persistent attack of rcon logins and it's filling up the logs and telnet stream.  For example:

:[00:30:53 INFO]: Rcon connection from: /69.36.188.47
:[00:30:53 INFO]: Rcon connection from: /69.36.188.47
:[00:30:53 INFO]: Rcon connection from: /69.36.188.47
:[00:30:53 INFO]: Rcon connection from: /69.36.188.47
:[00:30:53 INFO]: Rcon connection from: /69.36.188.47
:[00:30:53 INFO]: Rc

[2015-04-11 00:33] markbyrn commented on #543
If there's a non-coding solution, let me know.

[2015-04-11 06:37] PattyToTheWatty opened #544 "Custom Command Error: Cannot Load command"
Hello!
I've recently compiled  the 1.8R01 of TFM.
I've Just copyed a /doom command over to  mine to test and it says
Command Error: cannot load command: Awesome
It Also Says This For /list.

On my Server i have spigot 1.8 R01 running.
I hope you can help me!

[2015-04-11 13:09] JeromSar commented on #544
@PattyToTheWatty Are you compiling with Netbeans? Additionally, are you compiling with the right dependencies (spigot-server 1.8). Lastly, are there any startup errors?

[2015-04-11 13:09] JeromSar commented on #543
@markbyrn This might be TwitterBot checking if the server is online.

[2015-04-11 13:15] Wild1145 commented on #543
You could filter it from telnet and just filter anything Rcon, but you couldnt filter it from the logs (That I can think of) as thats vanilla functionality.

[2015-04-11 13:16] Wild1145 commented on #544
Also worth checking that you're running the same version of Spigot both to compile the plugin and run it. As over the different versions they have made some changes to the way that it works.

[2015-04-11 14:01] markbyrn commented on #543
no, it's not a twitter bot thing because the same IP is doing this to:

:[23:31:30 INFO]: [BukkitTelnet] Closing connection: 69.36.188.47 (markbyronSuxButt)
:[23:31:30 INFO]: [BukkitTelnet] Closing connection: 69.36.188.47 (markbyronSuxButt)
:[23:31:30 INFO]: [BukkitTelnet] Client connected: 69.36.188.47
:[23:31:30 INFO]: [BukkitTelnet] Client connected: 69.36.188.47
:[23:31:30 INFO]: [BukkitTelne

[2015-04-11 14:03] markbyrn commented on #543
Multiplay said they would block that IP on their end but obviously the attacker can change IPs.

[2015-04-11 14:37] JeromSar commented on #543
@markbyrn I'd suggest changing the port for now. Likewise, an admin is probably behind this attack, considering he/she knows the BukkitTelnet port. Additionally, I'd say the attacker is tech-savvy considering the complexity of the attack.

[2015-04-11 14:45] Wild1145 commented on #543
@JeromSar The problem is, if it is indeed a current admin, changing the port wont do pot, because they will just change the port they are attacking on.

[2015-04-11 14:48] FlexxPro commented on #542
I have, but could there be a way to restrict it

[2015-04-11 15:06] StevenLawson commented on #543
I suggest adding functionality to throttle connections from the same IP and
silently / automatically block this kind of thing.
On Apr 11, 2015 10:45 AM, "Ryan" <notifications@github.com> wrote:

[2015-04-11 15:08] StevenLawson commented on #543
Not to mention its pretty easy to scan for an open telnet port.

[2015-04-11 15:09] markbyrn commented on #543
This is not a Telnet problem - it's RCON login attempt and the only issue with Telnet is that it shows the login attempt and spams.  Can't change the RCON port as far as I know.

[2015-04-11 16:08] JeromSar commented on #543
@markbyrn You can change the RCon port too! It's the `admin port` in ClanForge. As far as I can see, both Rcon and Telnet are affected:

[code]
[code]

[2015-04-11 16:26] Wild1145 commented on #543
@JeromSar I believe Clanforge relies on RCON though, so if you change it, the Clanforge console might break...

[2015-04-11 16:40] JeromSar commented on #543
@Wild1145 Hmm, fair point..

[2015-04-11 16:41] JeromSar commented on #542
@FlexxPro You can block /summon through CommandBlocker in `config.yml`.

[2015-04-11 17:12] Wild1145 commented on #543
@JeromSar Its just something to double check. Its one of the drawbacks of having to use Clanforge :/ It might get the port from the config then attempt to connect, or it might only allow default port, Multiplay might be able to help @markbyrn clear that up if you do think changing port would be a good idea (and it probably would be, especially if its on default port, and as admins dont have access

[2015-04-11 20:28] FlexxPro commented on #542
@JeromSar This is on TotalFreedom

[2015-04-11 21:21] PattyToTheWatty commented on #544
Oh! i did'nt run it as spigot-server 1.8 if i do that it might fix the problem.

[2015-04-11 21:50] PattyToTheWatty commented on #544
I'm getting errors in netbeans:
import net.minecraft.server.v1_8_R1.MinecraftServer;
import net.minecraft.server.v1_8_R1.PropertyManager;

Im getting errors in the net

[2015-04-11 22:14] Wild1145 commented on #544
Are you running the latest version of spigot? Because 1.8.3 spigot is R2 not R1

[2015-04-11 23:12] PattyToTheWatty commented on #544
Yes i am. I think im running spigot 1.8 R01 from yives mirror

[2015-04-11 23:22] Wild1145 commented on #544
Download http://gaming.superior-networks.com/jars/Spigot/Spigot-Server/target/spigot-1.8.3-R0.1-SNAPSHOT.jar and use that. Then change it from R1 to R2.

[2015-04-11 23:29] PattyToTheWatty commented on #544
Ok Thank you!

[2015-04-11 23:29] PattyToTheWatty commented on #544
then do i compile it to my tfm?

[2015-04-11 23:29] #544 closed

[2015-04-11 23:34] Wild1145 commented on #544
@PattyToTheWatty You will need to use that jar for both. To compile the plugin, and run it on the server. Once you do that you should have no further problems :)

[2015-04-11 23:35] PattyToTheWatty commented on #544
Okai!

[2015-04-11 23:35] PattyToTheWatty commented on #544
Im on the road again!
Thank you very very much!

[2015-04-11 23:38] Wild1145 commented on #544
No problem, glad to have been able to help :)

[2015-04-12 00:07] PattyToTheWatty opened #545 "Import errors"
It Still doesnt work. Ive tried new versions of spigot compiled it and still. No.
Heres my errors:

net.minecraft.server.v1_8_R1.MinecraftServer;
import net.minecraft.server.v1_8_R1.PropertyManager;

Error With Net

![capture](https://cloud.githubusercontent.com/assets/11896861/7103783/bb631ad6-e0fb-11e4-9eb3-feeedd837759.JPG)

[2015-04-12 00:07] PattyToTheWatty commented on #545
i have spigot 1.8 R01

[2015-04-12 00:14] PattyToTheWatty commented on #544
Wait nevermind. It still gives me errors...

[2015-04-12 00:15] AlexFreedomMod commented on #544
Hmmm

[2015-04-12 00:39] AlexFreedomMod commented on #545
Maybe its because of r01, did you try R02?

[2015-04-12 00:39] ChargedCreeper commented on #543
@Wild1145 All you need to see the admin port is clanforge access. So Telnet Clan can see it too. Also there are some Minecraft modded clients that have port scanners.

[2015-04-12 00:40] PattyToTheWatty commented on #545
No i didnt try R02 could you maybe link it to me?

[2015-04-12 01:28] AlexFreedomMod commented on #545
I dont know the link, but i do think build tools will give it to you

[2015-04-12 01:28] AlexFreedomMod commented on #545
I will look for it

[2015-04-12 01:34] AlexFreedomMod commented on #545
Hmm, it might be because it doesnt have it,

[2015-04-12 02:35] TheRevalation commented on #538
Lets also add a cooldown to admin commands on players for prevention of multiple smites or mutes.

[2015-04-12 02:38] TheRevalation commented on #531
Range name banning is useless on a cracked server, UUID Range ban, im

[2015-04-12 02:38] TheRevalation commented on #531
Range name banning is useless on a cracked server, UUID Range ban, impossible. So...

[2015-04-12 08:19] JeromSar commented on #545
Can you ensure you are compiling with Spigot-Server, and not Spigot?

[2015-04-12 10:52] AlexFreedomMod commented on #545
What?

[2015-04-12 10:53] AlexFreedomMod commented on #545
Maybe the code is wrong

[2015-04-12 10:57] Wild1145 commented on #544
@AlexFreedomMod Please dont comment if its only going to be hmmm and serve no productive value.

@PattyToTheWatty Can you check the console when you execute the command and send through any errors (Upload the errors to pastebin and link is)

[2015-04-12 10:58] Wild1145 commented on #543
@ChargedCreeper Okay, as I say I dont know how Clanforge works other than the console uses RCON, so it is just something I recommend checking still works before you do anything to major ;)

[2015-04-12 10:58] Wild1145 commented on #538
@TheRevalation Why is that here? Post a separate issue please.

[2015-04-12 11:00] Wild1145 commented on #545
@AlexFreedomMod Please, for the love of god stop spamming, and if you are going to, at least make it vaguly productive, and not one line per bloody comment.

@PattyToTheWatty Are you using the spigot build that I sent you yesterday? If not if you can start by using that it would be helpful. Then change those imports to v1_8_R2 .blablabla

[2015-04-12 11:00] Wild1145 commented on #531
@TheRevalation This is a cracked server........................

[2015-04-12 11:04] AlexFreedomMod commented on #545
@Wild1145 commented 12 hours ago
Download http://gaming.superior-networks.com/jars/Spigot/Spigot-Server/target/spigot-1.8.3-R0.1-SNAPSHOT.jar and use that. Then change it from R1 to R2.

[2015-04-12 17:28] xDestroyer217 commented on #543
And this also seems that this isn't the only server being attacked with that spam..

[2015-04-12 17:35] xDestroyer217 commented on #531
This might be a conflict by @zD12 blocking '**'. We might need to make the PR of @zD12 to make it to super admin. now we do have a point on changing it to a SA allow.

[2015-04-12 20:14] TheRevalation commented on #538
Ok @Wild1145

[2015-04-12 21:39] PattyToTheWatty commented on #545
Ok, tell me if im doing it right.
Download spigot-server compile it with netbeans, go into serverinterface.java. And change R0.1
To R0.2?

[2015-04-13 15:07] Wild1145 commented on #545
@PattyToTheWatty That should fix the issue, or at the very least allow the plugin to correctly compile.

[2015-04-13 19:03] ChargedCreeper opened #546 "/croncmd"
Basically the idea is a command that would schedule a command to be executed after a specified amount of time (so like croncmd 2m wipeflatlands would do a delayed wipeflatlands). Permission for it should probably be restricted to Sr or something.

[2015-04-13 19:37] Wild1145 commented on #546
Not so keen on this for a few reasons:

1) Logistically, all you need to really do is reload the server and its all reset
2) Practically, I dont feel there would be a major need for this
3) Realistically, we already should have something like this in Clanforge that Mark could enable if he should so desire.

[2015-04-13 22:36] AlexFreedomMod opened #547 "1.8 - Tab color issues"
Today, when i was on totalfreedom i looked in tab to see how many admins were on then i saw no one but then a admin said something.. So then i did /who -a and it said there were 2 admins online. Then i looked at tab again and saw no Colored name in tab.

[2015-04-13 23:37] AlexFreedomMod commented on #547
And when i joined mineplex, and then joined totalfreedom... The tab didnt update

[2015-04-13 23:44] AlexFreedomMod opened #548 "Why dont we have a pvp world"
I think there should be a pvp world, it would be useful for the people who want to PVP, they could go there and there would be other people. Instead of them just spamming chat asking for someone to pvp with them

[2015-04-14 00:23] PattyToTheWatty commented on #545
Still no. :( i still get an server interface error and it wont build properly

[2015-04-14 00:34] TheRevalation commented on #548
It would be the same thing, it would just make an area of PvP, and we all know trolls will go there to make problems.

[2015-04-14 07:14] DaBoyTM commented on #548
Yeah nah... People can grief there without anyone noticing it, and also what about the new ops? they would never know!

[2015-04-14 07:18] DaBoyTM commented on #547
It's just a bug on 1.8 version, what version are you using? 1.8, 1.8.1, 1.8.2, 1.8.3?

[2015-04-14 11:17] AlexFreedomMod commented on #547
1.8

[2015-04-14 11:18] AlexFreedomMod commented on #548
Oh.

[2015-04-14 11:23] DaBoyTM commented on #547
Yeah, I would use 1.8.3 as they solved the bug issues out... if that didn't work, please let me know!

[2015-04-14 11:25] Wild1145 commented on #547
From my own testing, there is no such issue on any 1.8 versions.

This only happens when an admin logs in as an imposer because tab will not automatically update. Thats the only "Bug" but if an issue is raised it really would come under enhancement as well.

[2015-04-14 11:29] DaBoyTM commented on #547
@Wild1145 1.8 does not update tab name on every cracked servers after joining a public server. That a problem...

[2015-04-14 12:27] Wild1145 commented on #548
Not really worth it...

[2015-04-14 12:28] Wild1145 commented on #547
@DaBoyTM I dont test on Cracked servers, there should be no issues with the way that tab is set.

[2015-04-14 14:42] JeromSar commented on #547
@DaBoyTM This is a known Spigot 1.8 issue (see [here](http://www.spigotmc.org/threads/1-8-1-tab-colors.36232/)). Update to a new Spigot version to fix this. :)

[2015-04-14 14:42] #547 closed

[2015-04-14 14:48] StevenLawson commented on #548
There are plenty of servers geared toward PVP. I suggest you use one of those, and just accept that there is going to be too much chaos on TF for structured PVP to ever be possible. Sorry :P

[2015-04-14 14:48] #548 closed

[2015-04-14 16:48] ChargedCreeper opened #549 "ConcurrentModificationException"
This happened immediately following a spambot attack from a single IP.

http://totalfreedom.boards.net/thread/22282/y5vaiylf

[code]

[2015-04-14 19:04] AlexFreedomMod commented on #547
I was on totalfreedom.........

[2015-04-15 13:10] JeromSar commented on #547
@AlexFreedomMod My bad, I meant to say: MC-1.8 issue. Update your MC to fix it. :)

[2015-04-15 18:13] AlexFreedomMod commented on #547
Oh

[2015-04-15 18:14] Wild1145 commented on #547
1.8.0 is a very buggy releases. Signs also do not work properly there. You should not really run anything under 1.8.1

[2015-04-15 19:00] AlexFreedomMod commented on #547
Ok, @Wild1145

[2015-04-17 00:50] ChargedCreeper opened #550 "/enchant NullPointerException"
[00:48:58 INFO]: [PREPROCESS_COMMAND] iPandaFTW(iPandaFTW): /enchant list
:[00:48:58 INFO]: [TotalFreedomMod] Command Error: enchant
:[00:48:58 ERROR]: [TotalFreedomMod] nulljava.lang.NullPointerException
	at net.minecraft.server.v1_7_R4.EnchantmentDurability.canEnchant(SourceFile:33)
	at org.bukkit.craftbukkit.v1_7_R4.enchantments.CraftEnchantment.canEnchantItem(CraftEnchantment.java:57)
	at me.S

[2015-04-17 01:46] xDestroyer217 commented on #550
I think due to 1.8, eh. maybe.

[2015-04-18 18:29] ArcticHumboldt opened #551 "onTelnetRequestDataTags(TelnetRequestDataTagsEvent error"
I have no idea how to fix this:

    @EventHandler(priority = EventPriority.NORMAL)
    public void onTelnetRequestDataTags(TelnetRequestDataTagsEvent event)
    {
        final Iterator<Map.Entry<Player, Map<String, Object>>> it = event.getDataTags().entrySet().iterator();
        while (it.hasNext())
        {
            final Map.Entry<Player, Map<String, Object>> entry = it.next();

[2015-04-18 22:18] XxSkydevil06xX commented on #529
My Colorful MOTD Don't Work To .-.

[2015-04-19 01:23] ArcticHumboldt commented on #529
@XxSkydevil06xX Message me, maybe I can help.

[2015-04-19 08:41] #529 closed

[2015-04-19 12:44] Wild1145 commented on #529
@XxSkydevil06xX This is probably the same with a load of other things. MC 1.8.0 is buggy as hell. Use 1.8.1 or later

[2015-04-19 17:11] JeromSar commented on #551
You need to include the latest version of BukkitTelnet to the compile classpath. TFM already has this by default if compiling with Netbeans.

[2015-04-19 19:13] ArcticHumboldt commented on #551
@JeromSar, ah, I hate NetBeans. All I did to fix it, was recompile BukkitTelnet, and use that.

[2015-04-19 19:45] xiDerp opened #555 "DoSing rcon"
Yeeeeep, ur rcon be gettin DoSd.  siiimple loic http fl00d, nd ur stupid rcon stops reesponding...yeaaa u mad u mad u mad u mad u mad bro!11!

[2015-04-19 19:51] derpfacedirk commented on #555
wut?

[2015-04-19 20:58] xDestroyer217 commented on #555
lol no one gives a shit flying fuck, your a dumbass anyways.

@JeromSar Spam

[2015-04-19 21:01] xDestroyer217 commented on #555
the server works without rcon anyways c:

[2015-04-19 21:08] #555 closed

[2015-04-19 21:10] jjkatz613 commented on #555
In some places ddosing is illegal so.. I would be afraid right now

[2015-04-19 22:18] Stampy100 commented on #555
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

[2015-04-19 22:56] Wild1145 commented on #555
You do realize that rcon is used for next to nothing, and that it has no actual impact on the day to day operations of this server. All your doing if you are DoSing the Rcon is giving away your IP and its doing it rather pathetically... Go and find some server thats home hosted off of a 1mbps connection that you have a chance of making some real affect instead of on a serer on one of the biggest g

[2015-04-20 09:50] DaBoyTM commented on #538
Bump. Is anyone going to contribute this? As this is not added to TFM yet!

[2015-04-20 11:50] Wild1145 commented on #538
@DaBoyTM Nobody's stopping you from contributing if you want.

[2015-04-20 23:44] xDestroyer217 opened #557 "Error Spitout"
Recent error stacktraces from a attack.

:[23:42:43 ERROR]: Could not pass event PlayerKickEvent to TotalFreedomMod v4.3org.bukkit.event.EventException
	at org.bukkit.plugin.java.JavaPluginLoader$1.execute(JavaPluginLoader.java:302)
	at org.bukkit.plugin.RegisteredListener.callEvent(RegisteredListener.java:62)
	at org.bukkit.plugin.SimplePluginManager.fireEvent(SimplePluginManager.java:509)
	at or

[2015-04-20 23:46] xDestroyer217 commented on #557
another crash:

r.java:50)
	at me.StevenLawson.TotalFreedomMod.TFM_UuidResolver.getUUIDOf(TFM_UuidResolver.java:88)
	at me.StevenLawson.TotalFreedomMod.TFM_UuidManager.getUniqueId(TFM_UuidManager.java:127)
	at me.StevenLawson.TotalFreedomMod.TFM_UuidManager.getUniqueId(TFM_UuidManager.java:117)
	at me.StevenLawson.TotalFreedomMod.TFM_PlayerList.removeEntry(TFM_PlayerList.java:106)
	at me.StevenLaw

[2015-04-21 00:39] TheRevalation opened #558 "Cooldowns, Prozza, Cooldowns."
just as simple as that, for /smite, /stfu, if done to a player, cannot be done to same player for another 5-10 seconds.

[2015-04-21 00:51] StevenLawson commented on #558
Seems like a good idea to me. One could even modify the command loader to add an annotation parameter for delay period so it would be easy to add to any existing command, or something along those lines.

[2015-04-21 00:54] TheRevalation commented on #558
@StevenLawson I was going to implement it, but I am adding other things, trying to become an assistant developer to darth.

[2015-04-21 00:59] StevenLawson commented on #558
Very well... Try to implement it in a manner that would reduce code replication between different command classes. I suggest letting the command loader and command dispatcher keep track of everything.

[2015-04-21 01:01] StevenLawson commented on #558
One possible idea is to have a subclass of command that is a targeted command, that way the dispatcher can keep track of who is being targeted...

[2015-04-21 01:04] TheRevalation commented on #558
@StevenLawson You want individual subclasses?

[2015-04-21 01:10] TheRevalation commented on #558
@StevenLawson how does this look?

// Define the HashMap
HashMap<String, Long> cooldown = new HashMap<String, Long>();
// To check the time, assume Player p:
// Check if the player has used the command before, and if he did, it was at least 10 seconds ago
if(!cooldown.contains(p.getName()) || (System.currentTimeMillis() - cooldown.get(p.getName()) > 10000)
{
cooldown.put(p.getName(), System.curren

[2015-04-21 12:05] Wild1145 commented on #557
Server ran out of memory in both instances.

[2015-04-21 15:35] #557 closed

[2015-04-21 20:18] AlexFreedomMod opened #560 "Telporting issues."
i think /tpo and /tpohere should be blocked from ops due to Operators telporting to admins or ops tpoing other ops to them.
Also ./tptoggle should not allow others to disable someone's tptoggle, only admins should be able to do that

[2015-04-21 20:34] AlexFreedomMod commented on #560
:package: <--- contains 10530 commits after i found out there is /dtpohere and /btpohere, /ctpohere... etc

[2015-04-21 20:47] Wild1145 commented on #560
Essentials plz

[2015-04-21 22:21] BigDaddyUS commented on #538
Ignore the references above. I apologize for the Git mistakes.

[2015-04-21 23:01] AlexFreedomMod commented on #560
Well... People use /tpo and /tpohere for..... Telporting people in th void, Telporting to admins without their permission, you know

[2015-04-22 09:13] JeromSar commented on #244
I'm not sure if we really want/need this. Any thoughts?

[2015-04-22 09:15] JeromSar commented on #274
Currently, as I see it. This system is not viable for TotalFreedom's server environment. Maybe this can be improved later, but not as it currently stands.

[2015-04-22 09:15] #274 closed

[2015-04-22 09:16] JeromSar commented on #278
/fr and /blockcmd already reset after 5 minutes. For consistency, I don't think we should make this customizable by admins. Thanks for contributing.

[2015-04-22 09:16] #278 closed

[2015-04-22 09:21] JeromSar commented on #280
I think we should standardize nickclean instead of adding more options? What do you think @StevenLawson

[2015-04-22 09:23] JeromSar commented on #299
@StevenLawson Could you take a look?

[2015-04-22 09:25] JeromSar commented on #315
Yes, some of the commands should be downgraded from the auto-eject system.

[2015-04-22 09:27] JeromSar commented on #320
@StevenLawson Oh dear, that looks fancy.
But do we really need to split up the config? I know Essentials' configuration is much, much longer.

[2015-04-22 09:30] JeromSar commented on #331
I was thinking we could give player a unique custom plot to build in somewhere in the flatlands world. They could control the permissions on their own plot and could always return home with a command. What do you think? @StevenLawson

[2015-04-22 09:30] JeromSar commented on #332
Yes @Obi2 is right, I think this should be fixed in alternate ways.

[2015-04-22 09:30] #332 closed

[2015-04-22 09:34] JeromSar commented on #546
I think @Wild1145 is right here. If we wanted to make a delay, it should be per-command.

[2015-04-22 09:34] #546 closed

[2015-04-22 11:04] AlexFreedomMod commented on #317
So, the config is splitting up?

[2015-04-22 11:05] AlexFreedomMod commented on #331
I think that will be very cool

[2015-04-22 13:22] Wild1145 commented on #244
Just enable the essentials setting... It would reduce server wide spam and would be the easiest option.

[2015-04-22 13:25] Wild1145 commented on #317
@AlexFreedomMod Please see the other issues that explain this.

[2015-04-22 13:26] Wild1145 commented on #331
Against the idea of "Plots" because then you may as well go on a creative plots server.

[2015-04-22 16:49] TheRevalation opened #564 "Simply just colors"
Whenever an admin runs a command, its either aqua and red, OPs commands mostly aqua, I'm thinking changing the colors? Just a small thing, we just had these for so long, just a little cosmetic change, I know exactly where to do it.

[2015-04-22 18:09] Wild1145 commented on #564
Dont really see a productive point... They are like that based on the type of command thats being executed normally, and I think its just going to cause more confusion to change than not.

[2015-04-22 21:17] TheRevalation commented on #564
@Wild1145 Its just changing the ChatColor in the UTIL, maybe &e(Yellow) and &6(Gold) or something, @JeromSar's decision to choose, he made this an enhancement.

[2015-04-22 22:09] Wild1145 commented on #564
@TheRevalation I am aware that its simple, All I am saying is that its pointless and will lead to confusion. You dont need to fix whats not broken when theres about 100 other open issues that need attention more.

[2015-04-22 22:14] TheRevalation commented on #564
@Wild1145 Issues don't just have to be important, this can be labeled with low priority or not important, but jerom made it an enhancement, which means he agrees it's time for a cosmetic change, read my comment on the PR for more.

[2015-04-22 22:15] Wild1145 commented on #564
@TheRevalation If you care to read my comment, it has not been given the "Issue: Accepted", meaning that all that has happened is it has been put into the category of enhancements instead of bugs or anything else.

[2015-04-22 22:17] TheRevalation commented on #564
@Wild1145 I get it, but if he agreed with you, he would have put Issue: Invalid, which means he doesn't entirely agree with me, just a little.

[2015-04-22 22:18] Wild1145 commented on #564
@TheRevalation An invalid issue is for an issue that it invalid. This is a suggestion and thus an enhancement. It is a fully valid request, but does not automatically mean it will be approved. I could suggest we block the /op command, it would be an enhancement and probably not even invalid, whereas if I reported a bug that was not a bug, it would be invalid.

[2015-04-22 22:19] TheRevalation commented on #564
@Wild1145 I now see where you are coming from, but as for the point of this, I think this is worth a shot.

[2015-04-22 22:20] Wild1145 commented on #564
@TheRevalation Its easy enough to do (as you did in the PR), I just think its going to be more confusing, and there is no point fixing what is not broken.

[2015-04-22 22:22] TheRevalation commented on #564
@Wild1145 I already said, issues don't have to be something that's broken, It's a cosmetic change, which can be cool, and fun, if it's confusing, fix the confusing parts, while leaving the color changes.

[2015-04-22 22:23] Wild1145 commented on #564
@TheRevalation But its not "cool" or "Fun". Thats my point. The color change is the confusing part along with the issues I flagged as line notes in the PR. There is no use, benefit or bonus to us changing the chat colors, other than to confuse the players used to aqua and red.

[2015-04-22 22:24] TheRevalation commented on #564
@Wild1145 A simple two bound color change won't confuse anybody.

[2015-04-22 22:25] Wild1145 commented on #564
@TheRevalation What makes you think that? Most of us (That have been playing the server for any length of time) are used to red notifications and aqua notifications for nearly everything. Suddenly changing that will just cause confusion.

[2015-04-22 22:26] TheRevalation commented on #564
@Wild1145 I've been here since 2012, I haven't payed any attention to the colors, and if you think it will  cause confusion, and I think it won't, isn't that an even better reason to test our theories?

[2015-04-22 22:28] Wild1145 commented on #564
@TheRevalation There probably is not any easier way to test this. As far as I am concerned, its a pointless change that will do nothing but confuse people. If people do not pay attention to the colors as you have said, then why bother wasting a commit to change them then? But I see it as something to cause additional confusion, and really do nothing to help the server in any way shape or form.

[2015-04-22 22:28] TheRevalation commented on #564
@Wild1145 I think that we both have valid points, and we should leave it up to Jerom.

[2015-04-22 22:47] xDestroyer217 opened #567 "Verifing Suggestion"
So you know how sometimes it is a pain to verify. Well this command would make it easier. On the server there could be a command that is like /verify [admin] [password]. You would set the password when you are supered and to set it would be /set password [password]. This makes it easier and only the admin would know of the password to log in. A side note, on the superadmin.yml it could say in it:

[2015-04-22 22:49] xDestroyer217 commented on #564
Since it is kinda pointless, I do go with Wild on this one. It will cause confusion, I bet ya.

[2015-04-22 22:49] jjkatz613 commented on #567
Thanks. I think it is good because it releives the hassle for people with not the best internet so they would be banned by the time they say "Verify" in the shoutbox.

[2015-04-22 22:49] AlexFreedomMod commented on #567
Yeah, i agree with you @xDestroyer217, Someone with the FTP can just take all the admins password.

[2015-04-22 22:50] jjkatz613 commented on #567
@alexfreedommod I am not sure that anyone but the special executives like mark, madgeek and darth have ftp.

[2015-04-22 22:51] AlexFreedomMod commented on #567
I mean on another server.

[2015-04-22 22:53] AlexFreedomMod commented on #564
@xDestroyer217, i have to agree with you too, Changing the colors will just cause confusion.

[2015-04-22 22:53] jjkatz613 commented on #567
Well @AlexFreedomMod I was also thinking that this is a specific to this totalfreedom server and besides on the superadmin.yml the default is mark, madgeek and Darth so they would preset it to be a password like tf123

[2015-04-22 22:55] AlexFreedomMod commented on #567
Yeah.

[2015-04-22 22:59] xDestroyer217 commented on #567
@jjkatz613 terrible idea.

[2015-04-22 23:00] xDestroyer217 commented on #567
if this wants to be passed, it must tell you on login set a password, then live with your life. and it shouldnt show on here either, probs a custom pass that is a requirement on login.

[2015-04-22 23:04] Wild1145 commented on #567
The implementation here could be hard. As the passwords would need to be hidden from the logs. And the passwords couldn't be stored in plain text, so would need to be hashed really and its all just a lot of work to be honest. If it can be done well, it'd be great, but it needs to be done right, and done right the first time.

[2015-04-22 23:06] TheRevalation commented on #567
@Wild1145 Or we can just use something like Camzie's Cam-Verify, and solve the problems completely.

[2015-04-22 23:07] xDestroyer217 commented on #567
@TheRevalation The point is by not adding extra plugins, and adding it to TFM, thats kinda the point here..

[2015-04-22 23:08] xDestroyer217 commented on #567
@Wild1145 It sounds more like AuthMe Reloaded with this.

[2015-04-22 23:23] Wild1145 commented on #567
@TheRevalation Thats not actually allowed, while it would be the best solution, it is in breach of Mojangs rules as you are only allowed to enter your Mojang credentials on their own site.

@xDestroyer217 I guess it possibly is.

[2015-04-22 23:36] TheRevalation commented on #567
@Wild1145 So Camzie99 is breaking the rules?

[2015-04-24 05:10] TheRevalation commented on #280
@JeromSar What do you mean standardize? I know the definition, but whats the context of standardize in this situation?

[2015-04-24 14:01] supergameplayer opened #568 "WorldEdit crash detection"
We need a way for WorldEdit to automatically detect large edits. If an edit is over 10,000 blocks, WorldEdit should deny it.

[2015-04-24 14:42] GotNoFriends commented on #568
Orrr we could just allow //limit 1000

[2015-04-24 14:43] GotNoFriends commented on #567
@TheRevalation Yeah

[2015-04-24 14:47] StevenLawson commented on #568
I think that it would be more practical to have a watchdog timer on World edit that would kill the edit if it took too long. No telling how complex this would be to implement, however. Setting block limits never really seems to be completely effective.

[2015-04-24 15:31] Wild1145 commented on #280
@TheRevalation Well so different admins cant set different cleaning "rules" if you will. That way there is one way to clean nicks, and thats so that all nicks follow the rules to the letter. I agree that it should be as uniformed as possible and I think making it all standardized would help there.

[2015-04-24 15:33] Wild1145 commented on #567
@TheRevalation Technically yes. Its not too big of a deal, but really its not allowed, and a reason we probably wouldn't implement something like that here.

[2015-04-24 15:34] Wild1145 commented on #568
@StevenLawson I think thats down to the way that some commands ignore that limit or have a separate way to limit, which is bypassed because players are OP Status. Commands like //regen I think ignore the limits in place, or do for the TF worldEdit anyway. Finding a way to enforce the limit on all commands would definitely help the situation.

[2015-04-25 11:34] UltimaTheHawke opened #569 "Remove "x.x.x.x connected/disconnected" messages"
Now, this may need to be in BukkitTelnet, but see here:

From Exbice
"Then what should be done instead is have a throttling feature so you'll see "Closing x connections" every 10 seconds or whatever works well. Or even remove the messages completely unless the server and/or client is in a debug mode."

http://totalfreedom.boards.net/thread/22690/telnet-port-leaked-warp-list?page=1&scrollTo=245243

[2015-04-25 11:43] Wild1145 commented on #569
As there is no "Debug" mode (that I am aware of anyway for Telnet) removing the messages pose a security issue in as much as we have no idea who's attempting to connect, and there is no way to throttle them because there would still be an attempted connection that should be logged.

[2015-04-25 13:22] Obi2 opened #570 "/tfipbanlist doesn't display correct count"
87 UUID bans total
tfipbanlist
[13:16:43 INFO]: [CONSOLE_COMMAND] _Obi: /tfipbanlist
**87** IPbans total
[13:16:44 INFO]: [CONSOLE_COMMAND] _Obi: /tfm reload
[13:16:44 INFO]: [TotalFreedomMod] Missing configuration entry noadmin_ips. Using default value.
[13:16:44 INFO]: [TotalFreedomMod] Loaded 268 admins (93 active) and 371 IPs.
[13:16:44 INFO]: [TotalFreedomMod] Loaded 211 permanently banned pl

[2015-04-25 14:41] JeromSar commented on #570
Thanks @Obi2. I'll look into it.

[2015-04-25 15:15] TheCJGCJG commented on #569
The message should only be logged to Console on a successful connection event (so that it can be viewed from the logviewer and other telnet users) - all failed or timed out attempts could be logged to a seperate file which can be investigated should the need arise.

In addition to this there could be a throttle to the connection attempts, allowing three times per IP per minute, and again, failed c

[2015-04-25 15:26] TheCJGCJG commented on #523
This could possibly improve the permban experience - for example with a table layout of

| Username | UUID | lastIP |TotalBans | LastBanReason | banType | unbanAt | isPermbanned |
| ------------- | ------------- | ------------- | ------------- | ------------- | ------------- | ------------- | ------------- | ------------- |
| thecjgcjg  | 54e865eb-d956-4654-a89e-f73a40a252b8 | 82.22.22.22 | 15 | G

[2015-04-25 21:36] Explosives commented on #569
I think that instead of logging an IP that comes on the port, it should only log when the user successfully logs in to telnet, and into the game. Saves log space and hassling over LOIC spammers.

[2015-04-26 03:07] ArcticHumboldt opened #575 "Allow colons in command parameters."
Hi. TFM is not allowing users to do some WE operations, because they have ":" (colon) in them. Is there a way to disable this?

[2015-04-26 04:53] DaBoyTM commented on #575
Do you mean enabling it?

[2015-04-26 05:40] PattyToTheWatty opened #576 "Cannot Load Command: Sapling"
Im Currently Gettings errors In my console Because of my Commands. Whenever i try to Run my command in console. It gives me this:

26.04 00:39:22 [Server] INFO Command Error! Could not load command: Sapling
26.04 00:39:22 [Server] INFO at java.lang.Thread.run(Unknown Source) [?:1.7.0_72]
26.04 00:39:22 [Server] INFO at net.minecraft.server.v1_8_R1.MinecraftServer.run(MinecraftServer.java:537) [Spi

[2015-04-26 05:44] PattyToTheWatty commented on #576
i have spigot1.8 essentials 1.8 worldedit 6.0 bukkittelnet

Tell me what im doing wrong please!

[2015-04-26 06:51] ArcticHumboldt commented on #575
Sorry, yes.

[2015-04-26 12:40] JeromSar commented on #575
@ArcticHumboldt Currently, they're disabled in code (hardcoded). What operations are disabled exactly?

[2015-04-26 15:30] Wild1145 commented on #576
It cant find the classfile. Whats the name of the file you have?

[2015-04-26 16:19] JeromSar commented on #576
Is /sapling even a TFM command?
@PattyToTheWatty Did you modify TFM at all?

[2015-04-26 17:07] ArcticHumboldt commented on #575
Plugins, such as worldedit, that make use of item and block ID's. Worldedit, for example. I could make a sphere of diorite, by doing //sphere 1:3 5. But, TFM would block the ":"

[2015-04-26 18:04] AlexFreedomMod commented on #576
I'm pretty sure it's not a TFM command

[2015-04-26 18:19] JeromSar commented on #575
Ah yes, TFM should only be blocking colons in the actual command, not the parameters. Will fix.

[2015-04-26 18:30] ArcticHumboldt commented on #575
Thanks!

[2015-04-26 18:53] JeromSar commented on #375
Updated nodepend: https://github.com/TotalFreedom/TotalFreedomMod/commit/8c8f9ada0dc1e091314f750e944e6d23b09dbf4f

[2015-04-26 18:53] #375 closed