[2017-04-26 21:39] #640 closed

[2017-04-26 21:39] #1947 closed, assigned to nobody

[2017-04-26 21:39] #1955 closed, assigned to nobody

[2017-05-01 09:44] ghost commented on #2004
Yep, it has been patched, with a small edit on totalfreedom server jar and this addiction in tfm

[2017-05-01 22:33] ghost commented on #1972
Mark said we keep as telnet admins...

[2017-05-02 16:37] Wild1145 commented on #1972
@marcocorriero Then it needs to be raised as per my previous comment. Until such a time, it will be treated as a bug as that is currently what it is.

[2017-05-10 13:14] robingall2910 opened #2006 "Dump patches and revert to the original build?"
I think just getting rid of all the patches and actually following the GitHub repository would be a good idea. If any of the patches that are on the server are important, then they can be also added here quickly as possible.

[2017-05-10 13:23] robingall2910 commented on #2000
@atomboy2005 psst only admins can use that though

[2017-05-10 17:05] Wild1145 commented on #2006
I have washed my hands now of the server side update process. I will push an updated version of the current Github version with any patches that I have been made aware of and are happy to merge, other than that the patches will be lost due to non-corporation of those pushing half thought out patching to the server without any consideration for the mess its caused..

[2017-05-12 14:14] Wild1145 opened #2007 "Add Long term logging of adminworld guests and access"
With recent security concerns of Adminworld, I feel it would be a good idea to improve the guest process. As suggested on the forums recently it would be a good idea to log who is added as a guest, however I would like to also take that one step further, and have two tables created for adminworld guests, one as to when they were added to guest, and when they were removed (Either via command or lea

[2017-05-12 14:20] Wild1145 commented on #1964
Thanks for contributing. I am closing this issue for inactivity. Should you have anything further to add in the future please either re-open the issue yourself or tag a member of staff and we will re-open the issue for further discussion.

In terms of a potential resolution, take a look at the MavenTravisCI branch on my own fork, it compiles WorldEdit and all the other TFM dependencies for you: ht

[2017-05-12 14:20] #1964 closed, assigned to nobody

[2017-05-12 14:25] JeromSar commented on #2007
I would agree, here are my ideas:
* To stay consistent with the rest of TFM and Bukkit/Spigot plugins, store guest players in a YML file.
* Distinguish temporary adminworld guests from permanent admin guests.
* Admins who add a guest become 'responsible' for an added guest.
* Temporary guests get kicked from the admin world when the admin logs off.

What are your thoughts on this? :)

[2017-05-12 15:57] Wild1145 commented on #1985
Thanks for contributing. I am closing this issue for inactivity. Should you have anything further to add in the future please either re-open the issue yourself or tag a member of staff and we will re-open the issue for further discussion.

[2017-05-12 15:57] #1985 closed, assigned to nobody

[2017-05-12 15:58] Wild1145 commented on #2007
I was not planning on modifying the core functionality of the way in which the current guest system works, I feel its an effective system. However I feel that logging the actions in an audit style methood would be prudent to increase security for it.

The idea of both temporary and permanent guests I like, I am just not so sure there should be "permanent" guests in general for security reasons any

[2017-05-12 18:00] Wild1145 commented on #1552
This is something that has recently been re-raised and I feel while only a cosmetic change, would be an advantageous feature for the plugin.

[2017-05-13 15:02] HoverTechV2 opened #2008 "Change Color of Smite Reason"
I suggest changing the color of the smite reason to the same color as /say.
I can work on this, it takes 2 minutes or less.

[2017-05-13 18:45] HoverTechV2 commented on #1552
I can be assigned to this..

[2017-05-14 00:26] mayokek commented on #1552
@HoverTechV2, if you want to contribute to this project, please make a PR to solve this issue.

[2017-05-14 00:49] Wild1145 commented on #2008
This issue has been superseded by #1552

[2017-05-14 00:49] #2008 closed, assigned to nobody

[2017-05-14 20:38] ghost opened #2010 "Cosmetic Change for /smite"
Pull Request for this issue:
https://github.com/TotalFreedom/TotalFreedomMod/pull/2009

Changes the colour of smite messages/reasons to yellow, just like ban messages; this will make them easier to read and stand out more in chat (since currently, the red text of smite messages are dull).

[2017-05-14 21:37] Wild1145 commented on #2010
This issue has been superseded by #1552

[2017-05-14 21:37] #2010 closed, assigned to nobody

[2017-05-18 04:59] mayokek commented on #2004
The simple patch fix is to change this line (https://github.com/TotalFreedom/TotalFreedomMod/blob/server/src/main/java/me/totalfreedom/totalfreedommod/command/Command_gcmd.java#L32) to
[code]

[2017-05-23 03:27] MKVollmer25 commented on #1801
I'm going to bump this since this was inactive for a while but not closed yet.

[2017-05-23 06:11] JeromSar commented on #1801
I think this is a good idea!

[2017-05-24 01:06] OutOfYourMind opened #2013 "IP History command"
Hello.

I believe OPs are getting imposed left and right, and we usually can't find previous IPs they were on.

So, I'm requesting this command, the syntax is /iphistory (player) and I would also like it to be for offline players in-case an admin gets a DM on Discord. The command will list previous IPs that the player has used, and you can proceed to ban the IP after that they were imposed on.

[2017-05-24 07:00] ghost opened #2014 "Add Command_adventure"
Issue for relevant PR
Details:
Add a command that allows players to set themselves to adventure mode

[2017-05-24 07:01] ghost opened #2015 "Add Command_blockedit"
Issue for relevant PR
Details:
Add a command that can toggle a players ability to place blocks

[2017-05-24 07:01] ghost opened #2016 "Add Command_blockpvp"
Issue for relevant PR
Details:
Add a command that allows admins to block a players pvp

[2017-05-24 07:02] ghost opened #2017 "Add Command_blockredstone"
Issue for relevant PR
Details:
Command to toggle all redstone based functionality

[2017-05-24 07:02] ghost opened #2018 "Add Command_invsee"
Issue for relevant PR
Details:
Command that emulates Essentials invsee but with full TFM support.

[2017-05-24 07:03] ghost opened #2019 "Add Command_rainbownick"
Issue for relevant PR
Details:
Allows a player to have a rainbow nickname

[2017-05-24 07:03] ghost opened #2020 "Add Command_rainbowtag"
Issue for relevant PR
Details:
Allows a player to have a rainbow tag

[2017-05-24 07:03] ghost opened #2021 "Add Command_unloadchunks"
Issue for relevant PR
Details:
Allows an admin to unload unused chunks in a world

[2017-05-24 07:04] ghost opened #2022 "Add Command_vanish"
Issue for relevant PR
Details:
Emulates essentials vanish but with full TFM support.

[2017-05-24 07:04] ghost opened #2023 "Add Command_wipecoredata"
Issue for relevant PR
Details:
Command that allows for modification of CoreProtect database.

[2017-05-24 07:05] ghost opened #2024 "Edit_Kick admins from telnet if desupered"
Issue for relevant PR
Details:
If an admin is removed ingame they will be disconnected from telnet

[2017-05-24 07:05] ghost opened #2025 "Edit_Add normal banlist to HTTPD"
Issue for relevant PR
Details:
Allows players and admins to view the normal banlist via HTTPD

[2017-05-24 07:06] ghost opened #2026 "Edit_Allow structure void"
Issue for relevant PR
Details:
The block structure void is now allowed

[2017-05-24 07:06] ghost opened #2027 "Edit_Toggle fireworks"
Issue for relevant PR
Details:
Add ability to toggle firework use

[2017-05-24 07:07] ghost opened #2028 "Edit_Custom cages"
Issue for relevant PR
Details:
Allows for the ability to cage people in custom skulls

[2017-05-24 07:09] ghost opened #2029 "Edit_Command_cake"
Issue for relevant PR
Details:
Now uses method shared by Command_rainbowtag and Command_rainbownick to generate colors instead of being random

[2017-05-24 07:11] ghost opened #2030 "Edit_Command_dtoggle"
Issue for relevant PR
Details:
Fixed typo and logic errors

[2017-05-24 07:12] ghost opened #2031 "Edit_Command_glist"
Issue for relevant PR
Details:
Now allows for banning or unbanning ips or names only

[2017-05-24 07:13] ghost opened #2032 "Edit_Command_smite"
Issue for relevant PR
Details:
Now shows sender, updated colors.

[2017-05-24 07:14] ghost opened #2033 "Add_Anti click-spamming"
Issue for relevant PR
Details:
Now blocks users from spam clicking which can be used in lag machines

[2017-05-24 10:16] ghost commented on #2033
or lag exploits like a common troll makes em

[2017-05-24 19:12] Wild1145 commented on #2033
I dont feel that this would be a beneficial enhancement to the server. Given the amount of other uses that "Spam clicking" may actually be used for, the odd lag machine here and there should not compromise the freedom of the other players.

[2017-05-24 19:14] Wild1145 commented on #2032
If possible, could you please confirm if this has been made as an unofficial patch that is already running on the server, or if this is simply a suggestion for added functionality.

[2017-05-24 19:14] Wild1145 commented on #2014
If possible, could you please confirm if this has been made as an unofficial patch that is already running on the server, or if this is simply a suggestion for added functionality.

[2017-05-24 19:15] Wild1145 commented on #2028
If possible, could you please confirm if this has been made as an unofficial patch that is already running on the server, or if this is simply a suggestion for added functionality.

I also do not see the value to this, the Darth Skull was more of an easter egg as a joke as I recall, you should not need to cage people often, let along in custom skulls...

[2017-05-24 19:15] Wild1145 commented on #2022
If possible, could you please confirm if this has been made as an unofficial patch that is already running on the server, or if this is simply a suggestion for added functionality.

[2017-05-24 19:15] Wild1145 commented on #2024
If possible, could you please confirm if this has been made as an unofficial patch that is already running on the server, or if this is simply a suggestion for added functionality.

[2017-05-24 19:15] Wild1145 commented on #2031
If possible, could you please confirm if this has been made as an unofficial patch that is already running on the server, or if this is simply a suggestion for added functionality.

[2017-05-24 19:16] Wild1145 commented on #2017
If possible, could you please confirm if this has been made as an unofficial patch that is already running on the server, or if this is simply a suggestion for added functionality.

I also must say I dont think this adds any value to the plugin, and simply restricts players freedom unnecessarily.

[2017-05-24 19:16] Wild1145 commented on #2015
If possible, could you please confirm if this has been made as an unofficial patch that is already running on the server, or if this is simply a suggestion for added functionality.

I again must question the value of this? Surely there should be no need to stop someone building on the server? It simply opens up more issues than it solves...

[2017-05-24 19:17] Wild1145 commented on #2030
If possible, could you please confirm if this has been made as an unofficial patch that is already running on the server, or if this is simply a suggestion for added functionality.

[2017-05-24 19:17] Wild1145 commented on #2016
If possible, could you please confirm if this has been made as an unofficial patch that is already running on the server, or if this is simply a suggestion for added functionality.

Once again, all this does is restrict peoples freedom... If I were to even consider wanting this sort of thing personally, you'd need to do what we did for CJFreedom and have a Creative PVP blocker, other than that thi

[2017-05-24 19:18] Wild1145 commented on #2025
If possible, could you please confirm if this has been made as an unofficial patch that is already running on the server, or if this is simply a suggestion for added functionality.

[2017-05-24 19:18] Wild1145 commented on #2018
If possible, could you please confirm if this has been made as an unofficial patch that is already running on the server, or if this is simply a suggestion for added functionality.

What exactly is the issue with the essentials one? It has always worked perfectly fine on official builds...?

[2017-05-24 19:18] Wild1145 commented on #2020
If possible, could you please confirm if this has been made as an unofficial patch that is already running on the server, or if this is simply a suggestion for added functionality.

[2017-05-24 19:19] Wild1145 commented on #2019
If possible, could you please confirm if this has been made as an unofficial patch that is already running on the server, or if this is simply a suggestion for added functionality.

Is this not /nicknyan ???

[2017-05-24 19:20] Wild1145 commented on #2023
This issue requires a link to the CoreProtect plugin, something that TFM does not have. This should be raised as a new issue for proper and complete Core Protect Implementation and this issue should be a part of that new issue.

[2017-05-24 19:20] #2023 closed, assigned to nobody

[2017-05-24 19:20] Wild1145 commented on #2029
If possible, could you please confirm if this has been made as an unofficial patch that is already running on the server, or if this is simply a suggestion for added functionality.

I dont see how this adds any value at all? Its basically exactly the same as it already does?

[2017-05-24 19:21] Wild1145 commented on #2021
This issue has been superseded by #1779

[2017-05-24 19:21] #2021 closed, assigned to nobody

[2017-05-24 19:21] Wild1145 commented on #2026
If possible, could you please confirm if this has been made as an unofficial patch that is already running on the server, or if this is simply a suggestion for added functionality.

Please also add more information to the description, it is exceptionally vague.

[2017-05-24 19:22] Wild1145 commented on #2027
If possible, could you please confirm if this has been made as an unofficial patch that is already running on the server, or if this is simply a suggestion for added functionality.

[2017-05-24 20:14] ghost commented on #2030
@Wild1145 , all issues made by commo are already loaded in the server.

[2017-05-24 20:23] Wild1145 commented on #2030
@marcocorriero Then that needs to be confirmed on the appropriate PR's for me to update the labels.

[2017-05-25 04:26] ghost commented on #2033
This has been made to stop redstone click exploits as one trolls does it every day.

<snip e-mail mess>

[2017-05-25 13:29] Wild1145 commented on #2033
@marcocorriero I do not see how that is going to actually prevent redstone lag at all...

[2017-05-25 14:17] ghost commented on #2023
we have.
@Wild1145

[2017-05-25 14:51] Wild1145 commented on #2023
No, you have not. This issue would not work in the current TFM builds, as I said above, a new issue needs to be raised addressing core protect implementation properly, not just a single command.

[2017-05-25 15:10] ghost commented on #2023
@wild is it. if you look in the commie's PR there is coreprotect incorporation.

[2017-05-25 15:14] Wild1145 commented on #2023
@marcocorriero That PR does not meet the contributing guidelines by any stretch of the imagination. Raise a proper issue here, explaining what you're trying to do, the pro's con's and all that. Thats what Github is for, so we can discuss feature implementation, not just add a shit load of random code to the repo without any idea of what it does.

[2017-05-29 06:01] JeromSar opened #2035 "Automatically Remove Admins from Logviewer"
From http://totalfreedom.boards.net/conversation/47910?page=1&scrollTo=151406

`
Change line 39 of httpd's Module_players.java from:
[code]

to:
[code]

Read more: http://totalfreedom.boards.net/conversation/47910?page=1#ixzz4iRdz9Ns9 (closed convo).

[2017-05-29 06:02] JeromSar commented on #1852
From http://totalfreedom.boards.net/conversation/47910?page=1&scrollTo=151406

`
Change line 39 of httpd's Module_players.java from:
[code]

to:
[code]

Read more: http://totalfreedom.boards.net/conversation/47910?page=1#ixzz4iRdz9Ns9 (closed convo).

[2017-05-29 06:03] #2035 closed, assigned to nobody

[2017-05-29 06:03] JeromSar commented on #2035
Duplicate https://github.com/TotalFreedom/TotalFreedomMod/issues/1852

[2017-05-29 06:04] JeromSar commented on #569
This was patched in https://github.com/TotalFreedom/BukkitTelnet/commit/3272f871e849b0a67c434f646c2057f8eb380fd3

But this issue does not apply to this repository.

[2017-05-29 06:04] #569 closed

[2017-05-29 18:59] #1852 closed, assigned to nobody

[2017-05-30 10:07] Wild1145 commented on #1997
Thanks for contributing. I am closing this issue for inactivity. Should you have anything further to add in the future please either re-open the issue yourself or tag a member of staff and we will re-open the issue for further discussion.

[2017-05-30 10:07] #1997 closed, assigned to nobody

[2017-05-30 10:07] Wild1145 commented on #1998
Thanks for contributing. I am closing this issue for inactivity. Should you have anything further to add in the future please either re-open the issue yourself or tag a member of staff and we will re-open the issue for further discussion.

[2017-05-30 10:07] #1998 closed, assigned to nobody

[2017-05-30 10:11] Wild1145 commented on #383
I was looking back through the Git History, and I am sure this was already a thing? Can anyone confirm if it still is a thing or has been removed in a previous commit?

[2017-05-30 10:16] Wild1145 commented on #1995
Now that all the issues have been individually raised, I will close this issue down and let it be superseded by the other issues raised. I wont tag them all here as I'd be here until tomorrow listing them.

[2017-05-30 10:16] #1995 closed, assigned to nobody

[2017-05-30 10:18] Wild1145 commented on #2022
What is the difference between this and #856 ?

[2017-05-30 10:19] Wild1145 commented on #164
@JeromSar Do you still think this would be valuable to the project. Given how many people are now using Discord or just the forums, and how long since we've had this running, im not sure if time would be better spent working on a Discord implementation of this idea?

[2017-05-30 10:22] Wild1145 commented on #523
My question now with this, is do we want to go SQLite or MySQL. Personally I'd lean more towards a MySQL solution simply because we will be able to do a lot more with it in the longer term, the same for Perm bans. I don't think it would be too much of a learning curve for Mark to use MySQL for Permbans, and I think it would probably give us more flexibility in the longer term if we switch all bann

[2017-05-30 10:24] Wild1145 commented on #2023
Worth raising this sort of thing as part of #721

[2017-05-30 11:49] Wild1145 commented on #720
@aggelosQQ Is it still the case that Telnet Clans are not listed on the website?

[2017-05-30 11:51] Wild1145 commented on #713
So to my knowledge tpo is now restricted to SA + via the command blocker. The question is are we happy with this implementation. Personally I am happy to say that's a reasonable fix to the problem, opinions people?

[2017-05-30 11:52] Wild1145 commented on #682
@tylerhyperHD Could you give some additional information and respond to the other raised comments here please?

[2017-05-30 11:53] Wild1145 commented on #542
Is this still an issue on the server?

[2017-05-30 11:53] JeromSar commented on #713
With a configuration file sync, this will indeed be changed. Therefore, this is now related to #2002.

[2017-05-30 11:54] #535 closed

[2017-05-30 11:54] JeromSar commented on #542
Now related to #2002.

[2017-05-30 12:04] JeromSar commented on #164
@Wild1145 You're right. I think it's best to abolish the system. Instead, we should work on #1833 in the future.

[2017-05-30 12:04] #164 closed

[2017-05-30 12:08] JeromSar commented on #383
@Wild1145 I don't recall we do this automatically yet. We do have /nickclean, however.

[2017-05-30 12:13] Wild1145 commented on #383
@JeromSar I am sure I had seen somewhere in the history a block on &K, I'll have to take a look and see if that is still even a thing then.

[2017-05-30 12:14] Wild1145 commented on #383
https://github.com/TotalFreedom/TotalFreedomMod/commit/4603dc5613e30d0678d660134242f87ffed92408 is the commit in question, not sure if that is still a thing but it was for tags at least.

[2017-05-30 12:20] #1638 closed

[2017-05-30 12:21] Wild1145 commented on #1609
Given I don't feel this issue will meet the contributing guidelines (the whole it just being a wall of text), I will close this issue, however it is in the DaedalusMod issues.

[2017-05-30 12:21] #1609 closed

[2017-05-30 12:21] Wild1145 commented on #1629
Thanks for contributing. I am closing this issue for inactivity. Should you have anything further to add in the future please either re-open the issue yourself or tag a member of staff and we will re-open the issue for further discussion.

[2017-05-30 12:21] #1629 closed

[2017-05-30 12:23] Wild1145 commented on #1436
Tied to #1958

[2017-05-30 13:59] Wild1145 commented on #2014
Added in https://github.com/TotalFreedom/TotalFreedomMod/commit/baf73df4f9be81f0cb39b71e6e1809425db649b8

[2017-05-30 13:59] #2014 closed, assigned to JeromSar

[2017-05-30 14:04] Wild1145 commented on #266
This issue has been superseded by #579

[2017-05-30 14:04] #266 closed

[2017-05-30 19:10] zackeedoo opened #2037 "Developers need to remove Command"
The developers need to remove the command /msg ** because every time I log on there's a least one person who dose it and spams the chat. if you can you should put a 3 second wait on the /me command because people spam with that . From your fellow player zackeedoo.

[2017-05-30 19:43] Wild1145 commented on #2037
This issue has been superseded by #436

[2017-05-30 19:43] #2037 closed, assigned to nobody

[2017-05-31 07:27] Wild1145 opened #2038 "TotalFreedomMod API Implementation"
There have been a few issues and discussions on the forums as of late discussing the ability to integrate external plugins / systems via an API to TFM. This issue will be designed to come up with the most effective solution.

In terms of other plugins, as long as you add TFM as a dependency you will be able to access the plugin and its methods to hook in and perform some actions. What this system

[2017-05-31 07:27] Wild1145 commented on #1990
This issue has been superseded by #2038

[2017-05-31 07:27] #1990 closed, assigned to nobody

[2017-05-31 07:27] Wild1145 commented on #1983
This issue has been superseded by #2038

[2017-05-31 07:28] #1983 closed, assigned to nobody

[2017-05-31 07:29] Wild1145 commented on #340
I am going to bump this, if anyone has some ideas on the best way to do this, please do post, as this is something we need to get right.

[2017-05-31 07:30] Wild1145 commented on #560
This issue has been superseded by #713

[2017-05-31 07:30] #560 closed

[2017-05-31 07:32] Wild1145 commented on #568
This issue has been superseded by https://github.com/TotalFreedom/TF-WorldEdit/issues/9

[2017-05-31 07:32] #568 closed

[2017-05-31 07:34] Wild1145 commented on #770
So let me just check this because its an old issue, the request here is to disable barriers due to their easy ability to be abused where they are invisible unless you're holding one in your hand?

[2017-05-31 07:35] Wild1145 commented on #781
Accepted providing it is only possible for Op's to block Op's and admins to block Op's (Nobody should be able to block an admin)

[2017-05-31 07:37] Wild1145 commented on #762
I'd like to bump this. I don't think range banning is at all effective, we've seen it first hand on the server. Especially not at this scale. I'd like to disable any more than the final octave being able to be wildcarded, so 192.*.*.* would no longer work, but 192.168.1.* would work. Opinions?

[2017-05-31 07:39] Wild1145 commented on #750
I am going to bump this. I am not sure as this would fit the contributing guidelines, and may be better placed in a 3rd party plugin due to the size of the change, but any opinions would be welcome.

[2017-05-31 07:40] Wild1145 commented on #854
I don't even know what /green does, but //snow can be a useful command...

[2017-05-31 07:41] Wild1145 commented on #842
I am going to close this down, I don't think its a great idea or will work for the server. If anyone has anything else to add, just poke.

[2017-05-31 07:41] #842 closed

[2017-05-31 07:43] Wild1145 commented on #1582
Given we now have the announcer, I will close this issue.

What I would suggest is someone posting on the forums or having a chat with Mark on the forums, and suggesting he adds an announcement to vote for the server, along with getting all the voting setup.

[2017-05-31 07:43] #1582 closed

[2017-05-31 07:43] Wild1145 commented on #1509
I think this is a good idea, yes there will be other plugins that can do it, but if we can add it here it might add something a little extra for people to look at doing.

[2017-05-31 07:44] Wild1145 commented on #1496
So we're looking to add some cool little extra's that players can use basically?

[2017-05-31 07:45] Wild1145 commented on #1495
I would be inclined to partially agree. While I don't think you should be able to /gcmd every admin, you should be able to use it on any rank lower than your own, so a senior could do it to a telnet, but not the other way around. I feel that would be the smartest solution to implement here.

[2017-05-31 07:47] Wild1145 commented on #1488
I think on this occasion it would be better to add a 3rd party plugin for this, as it seems like a lot of development effort for something that has already been done, and wouldn't require any real customisation.

[2017-05-31 07:47] #1488 closed

[2017-05-31 07:52] Wild1145 commented on #1487
I agree with the previous comments, I don't think this is required or needed.

[2017-05-31 07:52] #1487 closed

[2017-05-31 08:00] JeromSar commented on #1495
I believe this command is sometimes put to good use, and therefore shouldn't be blocked. One important aspect of adminship is the trust invested by the server manager into the admins. If admins do misuse this, they are not fit for admin. On the of chance that this command is necessary, I think it should be available.

[2017-05-31 08:01] JeromSar commented on #1496
Yeah, I think something along these lines would be cool. However, the specific gadgets to be implemented will need to be specified in this issue.

[2017-05-31 08:01] Wild1145 commented on #1495
@JeromSar I just cannot see a reason you should ever need to gcmd someone of a higher rank? That's why my suggestion of it being permission based so you can only gcmd someone of an equal or lower rank? That's what we did for a lot of the IcarusMod commands like this and it worked well.

[2017-05-31 08:03] JeromSar commented on #1495
@Wild1145 Okay, perhaps you're right. As long as you can at least /gcmd someone of equal rank.

[2017-05-31 08:04] Wild1145 commented on #1496
I will look at splitting this down then today and figuring out exactly what "type" of gadgets could be interesting to implement.

[2017-05-31 08:04] Wild1145 commented on #1495
@JeromSar Yeah, that's how we did it for IcarusMod, I just cant see a need for a super to gcmd a senior without it basically being abusive

[2017-05-31 08:07] JeromSar commented on #750
@Wild1145 The size of the change does not matter, as long as PRs don't have a small change size (due to overhead of reviewing/accepting the PR).

I like the idea of 'resetting' a player.

[2017-05-31 08:12] Wild1145 commented on #750
@JeromSar Its more that I cant see this being more than a 4 or 5 line change to the login event?

[2017-05-31 08:12] JeromSar commented on #762
@Wild1145 I have the exact same ideas. [This study](http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.431.5976&rep=rep1&type=pdf) shows that a significant fraction of IP addresses are indeed dynamic, so the functionality should not be removed altogether. However, blocking two octets of IP addresses would block a significant 65,536 IP addresses, which is too much, in my opinion.

[2017-05-31 08:13] JeromSar commented on #750
@Wild1145 Agreed, so this issue can not be implemented in a PR.

[2017-05-31 08:14] JeromSar commented on #781
I would like to add that admins should not be able to block anyone. Admins should always see the full chat in my opinion.

[2017-05-31 08:15] JeromSar commented on #770
@Wild1145 I think that's correct. Barriers block players from moving through them, and remain invisible.

[2017-05-31 08:18] JeromSar commented on #340
This might hook into a 'trusted player' system I had in mind some time ago. TFM would automatically select trusted players based on playtime, number of smites, bans, and the such. These trusted players would have a limited set of additional permissions. One of them could be opping players and themselves.

[2017-05-31 08:22] Wild1145 commented on #340
@JeromSar Im not sure as that would exactly be in the scope of this issue or not? I was thinking here at least more with automatically opping new players that have not joined before as existing players OP status will remain in place, and any OP can op another player anyway

[2017-05-31 09:24] Wild1145 commented on #1587
Is this still an issue?

[2017-05-31 09:26] Wild1145 commented on #1623
Its possible that the way the maps are being store is incorrect, however I am not sure if this is something we can set within TFM or if it has to be done within MC its self? @JeromSar

[2017-05-31 09:27] Wild1145 commented on #1430
I feel that this comes more down to an issue of admins being responsible and sensible on the server. We could add a cool down, but I dont feel it would be a valuable use of developers time...

[2017-05-31 09:27] #1430 closed

[2017-05-31 09:31] Wild1145 commented on #871
This issue has been superseded by #2031

[2017-05-31 09:31] #871 closed

[2017-05-31 09:32] Wild1145 commented on #2006
@JeromSar has put a plan in place to handle the patches, that is currently being rolled out.

[2017-05-31 09:32] #2006 closed, assigned to nobody

[2017-05-31 10:26] Wild1145 commented on #1637
Im not sure if we want to have alias's? I know we did go through a period of removing all but a few a little while ago?

[2017-05-31 10:47] Wild1145 commented on #1791
Resolved as part of #2002

[2017-05-31 11:21] MEGAF4IL commented on #340
I just thought up that possibly, there would be an ability to track whether or not someone's been punished in the past by using hash's, as Liam had mentioned 9 months ago.
We already have the gadmin hash thing, would it be possible to track that while it's already in the game and tie it in with the feature to allow an OP to type a command and get OP without asking.
It could be like the report syst

[2017-05-31 11:28] MEGAF4IL commented on #340
I can't figure out how to edit my comments on here with mobile.
As for it being like the report system, it would track the player's "malicious history" using a history-log identifying a user by their IP, or whichever is possible - and when the op-request cmd is used, it could alert admins to op the player (although this simple approach is pointless and nothing new could possibly come from figuring

[2017-05-31 13:11] Wild1145 commented on #1789
I have identified the issue, cages are only removed if the player LEAVES the server (quits), not kicked. I'll account for this.

[2017-05-31 13:45] Wild1145 commented on #1941
Updated initial comment to reflect the issue raised on the PR by @JeromSar

[2017-05-31 13:45] JeromSar commented on #340
I think @MEGAF4IL has a great idea: keep track of when punishments happen, and don't allow recently punished players to be reopped. Then we may give regular players the ability to op other players that have not been punished.

[2017-05-31 13:47] Wild1145 commented on #340
@JeromSar The issue comes down to one myself and Hockey have been discussing for another project, and thats how do you prevent players from imposing as one another? I could stop another OP from being seen as a good player by going on as them and getting smitten when they're offline.

[2017-05-31 13:48] JeromSar commented on #340
@Wild1145 You're right, but this is possible regardless. If a player is banned, their username is also banned. Resolving this is possible but is beyond the scope of this issue.

[2017-05-31 13:51] Wild1145 commented on #340
@JeromSar I feel it should be taken into consideration, the development of a system to handle players sanctions history is probably out of the scope of this particular issue is it not?

[2017-05-31 13:51] JeromSar commented on #1637
I don't think we want this as an alias. It's important to know the difference between /gtfo and /ban (as seen on many other servers). Making /ban an alias would instead rather confuse new admins in my opinion.

[2017-05-31 13:51] #1637 closed

[2017-05-31 13:53] JeromSar commented on #340
@Wild1145 Possible, it may be beneficial to host these three topics under one issue. Either way, this issue can not be directly implemented without first implementing either system. These should probably get separate issues.

[2017-05-31 14:35] Wild1145 commented on #1886
Could someone please confirm this is still in fact an issue? I cant see any reason it would be breaking...

[2017-05-31 16:21] MEGAF4IL commented on #340
The only easy way to prevent players as posing as one another would be to have online mode enabled. We could keep a record of the player's IP's and usernames that go with them, and use the IP for main recognition as done with TFM recognising an admin from an impostor.
Possibly add a feature where an OP impostor (or ban bypasser) gets temporarily caged automatically similar to how an admin impostor

[2017-05-31 16:28] MEGAF4IL commented on #340
As I was saying before I hit the wrong comment button trying to move my keyboard cursor (they're literally right next to eachother - smh github).

If it's the same username:IP combo, the 'player' is free to be on the server when they join, without containment. This is all to prevent impostors - obviously we'll add a whitelist/blacklist for certain usernames. (Such as any YouTubers or celebrities,

[2017-05-31 17:22] robingall2910 commented on #2022
It's just adding another command into TFM instead of adding it back to Essentials. It gives you, if I'm right, just invisibility in the tab list, in the actual command /list (if not running TFM), and you would be not able to see the player unless you're an administrator or OP in an original server without TFM.

[2017-05-31 20:01] lemonsked commented on #854
it's already blocked on the server.

[2017-05-31 22:52] mayokek commented on #770
@JeromSar, it does stay invisible until you have the barrier in your hand, it will reveal it.

[2017-06-01 00:02] Wild1145 commented on #340
@MEGAF4IL That works until Dynamic / Sticky IP's come into play...

[2017-06-02 10:02] JeromSar commented on #854
So possibly related to #2002.

[2017-06-02 18:35] Wild1145 commented on #854
Can confirm this is resolved as part of #2002

[2017-06-04 21:43] Alex33856 commented on #1587
I do not believe it's an issue anymore

[2017-06-05 03:22] mayokek opened #2044 "/gcmd bypasses target permissions."
Along this line - https://github.com/TotalFreedom/TotalFreedomMod/blob/devel/src/main/java/me/totalfreedom/totalfreedommod/command/Command_gcmd.java#L32 - it shows that it checks for sender's permission, where it should check for the player's permission.

[2017-06-05 10:37] JeromSar commented on #2044
I think this was added as a safety measure: Do not allow admins to run commands for others that they are themselves not allowed to run. When the command actually executes, its permission checks are still executed and thus the target command sender can never bypass permissions.

[2017-06-05 10:37] #2044 closed, assigned to nobody

[2017-06-05 16:35] #1587 closed

[2017-06-05 20:51] mayokek commented on #2044
@JeromSar, and that's how people become rogue by framing people. For example, if I execute this `/gcmd <op's name> rl`, it will make them reload the server because I have that permission to execute. If I am on telnet and I execute `gcmd <op's name> saconfig add <someone>`, that target will add someone to admin because I have that permission.

Maybe add another line to check for player's permission

[2017-06-05 23:03] lemonsked commented on #2044
@mayokek the command still goes through the perms check in the players side.

[2017-06-06 00:52] mayokek commented on #2044
@OxLemonxO, that is correct but how can an op reload the server when gcmd'd?

[2017-06-06 03:29] kobetricee opened #2048 "Add - Cooldown for commands"
For a PR, make a cooldown so the cmds are not spammed.

[2017-06-06 03:31] mayokek commented on #2048
You can do that in Command Listener Event.

[2017-06-06 06:06] JeromSar commented on #2044
@mayokek OPs shouldn't be able to do so. If they are, this is a bug, and that should be fixed. Are you sure that this is the case?

[2017-06-06 07:09] mayokek commented on #2044
Yes, I am sure. @JeromSar

[2017-06-06 15:39] Wild1145 commented on #2048
I'd agree to this, only if its a very very short delay, just enough to stop spambots, but not to stop people like me that can rattle out commands legitimately every second.

[2017-06-06 16:39] kobetricee opened #2049 "Cooldown for /report"
Open PR, adds a cooldown for /report

[2017-06-06 16:41] kobetricee opened #2050 "Adds to /Wildcard - smite, orbit, and glist"
Open PR, added smite, orbit, and glist

[2017-06-08 00:39] kobetricee opened #2051 "Let normal players go to the adminworld"
Let normal players go to the adminworld but not edit it

[2017-06-08 03:26] MEGAF4IL commented on #340
@Wild1145 Couldn't we add their username to a whitelist though?

[2017-06-08 12:03] ghost commented on #2051
object. it would be bypassable with worldedit.

[2017-06-08 16:31] Wild1145 commented on #2051
@marcocorriero Then implement a system to check what world they are in before allowing the command to execute?

Also, we already have this with the admin world guest system. Admin world is not designed for normal players, but for the server admins and any close friends of them, so I dont think this is a great idea myself.

[2017-06-08 16:40] Wild1145 commented on #340
@MEGAF4IL Just gives the option for abuse though. I jimmy knows that bobby always is on a whitelist, he can just login as him and abuse.

[2017-06-08 17:57] MEGAF4IL commented on #340
How often does a person's IP change? We could add another verification feature for people who are legit. I remember there being a mod implementing Twitter into the chat bar (I used it back when you could use Twitter to verify yourself as admin automatically).
I'm thinking we could use an IRC (catserve had one - not sure if it still works) or a (custom/implemented into TFM) plugin for improved veri

[2017-06-08 17:59] MEGAF4IL commented on #340
Just remembered there's already some verification plugins made in the past where it asks a newcomer to create a password for them to use everytime they join, or when they have an IP change.

[2017-06-08 18:02] Wild1145 commented on #340
Currently the plan is to have a type of Discord authentication system for admins, but the scope of that has not expanded and is limited to just admins currently. Other ideas are possible, I think the forums is another option but again its currently just scoped around admin authentication.

[2017-06-08 21:16] JeromSar commented on #2051
Is this desirable behavior? As far as I'm aware, admins want to have some place to be left alone, and probably not be followed by many players.

[2017-06-09 17:56] StevenLawson commented on #2051
I agree that adminworld should only be for admins and carefully selected guests. Closing issue.

[2017-06-09 17:56] #2051 closed, assigned to nobody

[2017-06-10 14:41] ghost opened #2063 "Updates are touching the server that aren't on GitHub"
I've increasingly noticed that developers are pushing updates to the TotalFreedomMod and they are going live on the server without any GitHub review.

Most notably, updates to the FUtil, new titles for markbyron, and also /blockpvp and /blockredstone

[2017-06-10 15:55] ghost commented on #2063
That, and, /gtfo was recently (allegedly one of marco's updates) broken as it doesn't rollback the player or undo their worldedits. It continues to be that way on the server.

[2017-06-10 17:40] Wild1145 commented on #2063
Unfortunately the custom modifications that are pushed to the server are out of our control, and we are unable to offer any form of support for them. They are unofficial patches, that were not designed to be used. As a result you would need to work with whoever put the version on the server, and whoever built the patch to resolve these issues, because I could not debug the problems even if I wante

[2017-06-10 21:06] ghost commented on #2063
GTFO will not rollback w/e for a while unfortunately, due to the nature of AsyncWorldEdit it overrides WorldEdit's API which is what the TFM uses, so until we hook into the Async API you will have to rollback manually.

[2017-06-14 03:50] VoltixG opened #2065 "Show disguised players"
Just like /invis we should have a command that will show disguised players. I am FuzziCakz.

[2017-06-14 04:59] mayokek commented on #2065
This would be useful for admins to see if the players is disguised. Useful if someone is trolling.

[2017-06-16 15:56] script-head opened #2066 "CoreProtect Integration"
Currently, the official TF server is running CoreProtect. The TFM plugin on the server has some what of a bridge, but it's not very well made and has a lot of issues. I propose the idea of adding CoreProtect integration, but have CoreProtect a completely optional plugin to have as not all servers may want to use it.  Also, as the database does get rather large over time it needs to be cleared. Las

[2017-06-16 18:29] Wild1145 commented on #2066
I was sure we'd already had an issue for this, apparently not.

The current Core Protect implementation method is not great, at all. I wont get into the discussion about it here, but the fact that this issue wasn't resolved prior to its addition to the server, is the reason I have continued to object its addition to the server.

In terms of implementation, I'd simply have a config option so you ca

[2017-06-16 19:03] OxLemonxO commented on #2066
@Wild1145 Can be done, but we'll need to write a custom plugin in C#.

[2017-06-19 12:05] lemonsked commented on #2004
@mayokek Command_gcmd is not the problem :)

[2017-06-19 13:13] mayokek commented on #2004
I realised.

[2017-06-26 08:10] aggelosQQ commented on #720
Yes, Telnet Clans cannot be added to the website since it is not an in-game rank.
The list is updated automatically and I can't really be bothered to add them manually.
In the end of the day, they're just telnets with panel access.

[2017-06-26 17:40] Wild1145 commented on #720
@aggelosQQ Works for me. Wasnt sure if they were manually added.

As TFM does not differentiate between being a "Telnet" and "Telnet Clan" and there are no plans to change that, im going to close this down im afraid.

[2017-06-26 17:40] #720 closed

[2017-06-27 13:43] ChargedCreeper opened #2070 "Optimize for CPU usage"
CPU usage is currently a bigger issue than memory or storage usage. That said, any optimizations to decrease CPU usage even at the cost of memory usage would help reduce lag.

[2017-06-27 16:52] Wild1145 commented on #2070
This is probably more of a Core Protect / WorldEdit issue more than TFM. We found running CJFreedom that its not the memory thats an issue, its the CPU, especially with a lot of players. MC isnt multi-threaded and doesnt cope well.

[2017-06-27 17:51] JeromSar commented on #2070
I don't know how much effects total tick/CPU utilization. I think we must first investigate this through some form of a profiling system.

[2017-06-29 22:37] ChargedCreeper opened #2071 "Permissions support"
Basically, my idea is that TFM would assign permission nodes to each admin based on their rank.

They could be something like this:
tfm.super
tfm.telnet
tfm.senior

If no permissions plugin is installed, this would not affect anything. If one is, then the permissions.yml file can be used to set permission nodes for the above. This should be the easiest method of adding permissions support to TFM.

[2017-06-30 01:14] ghost commented on #2071
Or the TFM could just be designed to be self-sustaining and not effect any other plugins, i.e. not executing player.setOp, but an alternative which only gives access to commands for the OP rank within the TFM. This means a permission plugin could have FULL control over all the other plugins (which use permissions to control what features are allowed or not) and allow things like the worldedit bloc

[2017-06-30 03:15] ChargedCreeper commented on #2071
Commodore, there are permissions plugins which can fully control permissions for ops, even overriding plugin defaults. What I am suggesting would allow easy integration with Permissions and TFM's admin system.

[2017-06-30 06:26] JeromSar commented on #2071
I like the idea. TFM would therefore act as its own permissions system, and thus improve the ability be hooked into as an API. (Also relevant: https://github.com/TotalFreedom/TotalFreedomMod/issues/1944). I don't see how this could be of harm, provided implementation is not costly.

[2017-06-30 06:27] JeromSar commented on #1944
@tylerhyperHD Aero does not form a problem here. It only provides core functionality for some TFM services. If anything, it improves TFM's API and consistency.

[2017-06-30 07:41] #1941 closed, assigned to Wild1145

[2017-06-30 07:46] #1872 closed, assigned to Wild1145

[2017-06-30 07:47] #1789 closed

[2017-06-30 09:27] JeromSar commented on #2071
Or maybe I'm getting at this from the wrong way, and you intend to replace TFM's permission system, and replacing it with the Bukkit permission system?

[2017-06-30 13:12] ChargedCreeper commented on #2071
What I want to see is TFM be able to control permission nodes either directly, or indirectly (i.e. via aliasing with the Bukkit spigot.yml). If TFM could act as its own Permissions plugin where nodes can be assigned to Non-op (for someone who gets smited or not opped yet), Op, Super, Telnet, Senior that'd be ideal.

[2017-06-30 13:44] ChargedCreeper commented on #2071
Also admins flagged as imposter should get non-op permissions instead of the admin. Either that or have an imposter group of permissions.

[2017-07-01 12:55] Wild1145 commented on #2071
I dont see the value to adding external permission handling into TFM in any capacity myself. The entire point of TFM is that it handles all appropriate permissions its self, adding PEX or Group Manager to actually manage these permissions just seems cluttered and messy. If you're looking to use TFM in place of PEX or Group Manager, then thats a different story, but otherwise I dont see this being

[2017-07-01 14:01] lemonsked commented on #2071
@Wild1145 Think he means using TFM in place of PEX so we can get rid of PEX.

[2017-07-01 16:44] ChargedCreeper commented on #2071
@OxLemonxO That would be ideal. Controlling who gets what permission nodes is the end goal.

[2017-07-02 02:37] savnith opened #2074 "Block commands repeating"
PR Suggestion: Block players from repeating there last sent command.

[2017-07-02 11:33] lemonsked commented on #2074
I don't think this is needed. Sometimes repeating commands is useful, and when/if they spam they can just be smitten by an admin.

[2017-07-06 16:13] Wild1145 commented on #2071
@Commodore64x @ChargedCreeper That is what I was trying to establish. Yes, I think that was always a longer term aim of the project so we could avoid having to modify some plugins too much. Currently any plugins can be modified to TFM handles its permissions if required.

[2017-07-09 10:08] ghost commented on #2071
I'm confused why we have to reinvent the wheel to make permissions work on a free op server. We don't have to override and remake every command. @ChargedCreeper If we just worked in a way to make the TFM compatible with other plugins without modifying them, or adding in repeat code into the TFM then we should do that, and as I see it there are ways to do that.

[2017-07-09 18:47] Wild1145 commented on #2071
@Commodore64x That is what this issue is about. This is about allowing TFM to handle permissions for other plugins in addition to its own in-house permissions system.

[2017-07-10 08:47] ghost commented on #2022
@Wild1145 Currently patched - PR has been made for this.

[2017-07-10 08:47] ghost commented on #2019
@Wild1145 Currently patched - PR has been made for this.

[2017-07-10 08:47] ghost commented on #2020
@Wild1145 Currently patched - PR has been made for this.

[2017-07-10 08:48] #2029 closed, assigned to nobody

[2017-07-10 08:48] #2027 closed, assigned to nobody

[2017-07-10 08:48] #2026 closed, assigned to nobody

[2017-07-10 08:49] ghost commented on #2032
@Wild1145 Currently patched - PR has been made for this.

[2017-07-10 09:51] ghost commented on #2071
@Wild1145 I know that, but why does the TFM need to handle permissions? There are an abundance of permission plugins out there that will be way more advanced than anything we could code with our current resources. The way I see it this is another logstick scenario - compared to CoreProtect logstick is inferior in every way, we risk repeating that and creating an inferior permission system where a

[2017-07-10 09:56] #2033 closed, assigned to nobody

[2017-07-10 18:23] Wild1145 commented on #2027
@Commodore64x Reason for closure?

[2017-07-10 18:23] Wild1145 commented on #2026
@Commodore64x Reason for close?

[2017-07-10 18:26] Wild1145 commented on #2071
@Commodore64x What you are suggesting undermines the entire system we have for TotalFreedom, and breaks the fact we are actually all-op. Otherwise we can no longer claim to be all-op. A wide amount of other servers have tried to run things in that way, and they failed horrifically. You also roll back YEARS of development on TFM, and undermine the entire purpose of this plugin.

The Core Protect an

[2017-07-10 18:28] Wild1145 commented on #2033
@Commodore64x Reason for close?

[2017-07-11 00:38] mgflames opened #2076 "Disregarded"
Disregard

[2017-07-11 03:57] 50In1 opened #2077 "Issue with /entitywipe"
It doesn't show how many entity's where cleared, it just says 0.

http://i.imgur.com/k6zSStE.jpg

[2017-07-11 12:56] mayokek commented on #2077
#1886

[2017-07-11 13:04] InfamousYT commented on #2076
I was going to see if the 2.x branch of TF-Essentials worked while I waited, but that just came with issue:

Failed to execute goal org.apache.maven.plugins:maven-antrun-plugin:1.7:run (default) on project EssentialsParent: An Ant BuildException has occured: The following error occurred while executing this line:
C:\Users\Infam\Downloads\TF-Essentials-2.x\EssentialsGroupManager\nbproject\build-imp

[2017-07-11 13:11] mayokek commented on #2076
Did you edit it? If not, use the released jar. https://github.com/TotalFreedom/TF-Essentials/releases/download/v2.1-TF/Essentials-TF.jar

[2017-07-11 13:12] InfamousYT commented on #2076
The problem with that is I wanted to use the latest versions of all of the TFMs.

[2017-07-11 14:14] InfamousYT commented on #2076
Is there any way of that?

[2017-07-11 16:14] #2076 closed, assigned to nobody

[2017-07-11 16:18] mgflames opened #2078 "Trying to compile TF-Essentials."
Hi there,

When I try to compile TF-Essentials (because I want the newest version of it), it comes up with this error: https://pastebin.com/96NYgZS7

Thanks.

[2017-07-11 21:22] #2078 closed, assigned to nobody

[2017-07-11 21:22] mgflames opened #2079 "Marked as an imposter"
Hi,

I've been marked as an imposter on my own server, how can I verify myself?

Thanks.

[2017-07-11 22:45] mayokek commented on #2079
Simply do /saconfig add <your name> from your console.

[2017-07-12 10:21] mgflames commented on #2079
@mayokek Also, a little off-topic, but do you know how I can also get the coloured staff chat? For example, superadmins get blue colour chat when they speak?

Thanks.

[2017-07-12 13:19] ChargedCreeper commented on #2071
@Wild1145 I agree, and my suggestion is designed to be in the best interest of TFM and the TF server as a whole.

Also, I will look into the permissions API.

[2017-07-12 18:44] Wild1145 commented on #2077
This issue has been superseded by #1886

[2017-07-12 18:44] #2077 closed, assigned to Wild1145

[2017-07-12 18:46] Wild1145 commented on #2079
@InfamousYT All chat formatting is purged through the chat event, to only allow white text. You could change this without too much effort, but it might make chat difficult / impossible to read especially if its in the public chat.

[2017-07-12 18:47] Wild1145 commented on #2071
@ChargedCreeper I have no issue what so ever with having TFM handle other plugins permissions, thats part of its purpose. I do have an issue with making TFM dependent on PEX or Group Manager, as that undermines the entire permissions system and current architecture that has been built on this plugin.

[2017-07-14 21:01] Wild1145 opened #2080 "Improvement to how imposters are handled"
So I've been taking a nosey at the Forge Mod that @marcocorriero made, and I think it solves a fairly valid problem. Its not always practical to try and dig out information on a player when they join as an imposter, having some information like any other IP's / Usernames have been joined with the same details can be exceptionally helpful.

I also think re-formatting how messages are handled and mo

[2017-07-15 18:33] BlazingFlames opened #2081 "Compiling TF-Essentials"
Hi there,

I'm currently trying to compile the latest version of TF-Essentials but I get this error on building:

[code]

[2017-07-15 19:42] Wild1145 commented on #2081
You havent added your dependencies properly.

[2017-07-15 19:44] BlazingFlames commented on #2081
Hey,

how can I do that with MVN?

[2017-07-15 20:39] BlazingFlames commented on #2081
Scrap that, I'll use Netbeans but do I need to add bPermissions AND GroupManager to the dependencies?

[2017-07-15 20:44] BlazingFlames commented on #2081
@Wild1145 How can I add the dependencies properly?

[2017-07-16 23:34] savnithyt opened #2082 "Let non-ops do /opme"
Let non-ops be able to do /opme when they are deop, http://totalfreedom.boards.net/thread/53382/meop-plugin

[2017-07-16 23:39] savnithyt commented on #2081
You need the dependency's, bPermissions, GroupManager, and Vault.

Make sure that they are in the lib

[2017-07-17 00:23] ChargedCreeper commented on #2071
@Wild1145 I had taken that into consideration when making the suggestion. What I'm suggesting is for TFM to provide the same sort of functionality as PEX and GM (in terms of managing permission node assignment), not to depend on them.

[2017-07-17 06:14] ghost commented on #2082
This has been denied in various suggestions on the forums, it is unlikely to be added.

[2017-07-17 06:18] ghost commented on #2071
Thats the problem here, 'some sort' doesn't cut it, I suggested a very valid method of working around this problem, the main tripping points seems to be the semantic of not actually getting player#setOp which makes no difference to player or admin experience anyway. I digress, what you are suggesting is overriding player#setOp which basically goes against how spigot was designed. Only trusted peop

[2017-07-17 06:24] ghost commented on #2071
On investigating this I found this: "OP get all permissions unless specifically stated by the plugin's yml file". i.e. unless the command has default: false you can't block individual permission nodes for players that have setOp(true). The only solution that came close to what you want is this:
**The easiest way to do this would be to take op away from them, then give them the following permission

[2017-07-17 18:56] Wild1145 commented on #2082
There is another issue raised that outlines the potential implementations of this, this issue does not cover one of those implementations.

This issue has been superseded by #1764

[2017-07-17 18:56] #2082 closed, assigned to nobody

[2017-07-17 19:01] Wild1145 commented on #2071
@Commodore64x We may have to customise plugins. The intent here is to provide an actual OP experience. Otherwise we may as well trash TFM and move to Pex / GM and a load of shitty plugins, and wait a few days before people exploit it and elevate their own privileges... This probably wont be a simple issue, and we will probably need to continue to customise 3rd party plugins, thats just the nature

[2017-07-18 16:00] BlazingFlames commented on #2081
I've added the rest of the dependencies, but where can I get net.ess3:GroupManager:jar:2.1-TF from?

[2017-07-18 16:00] BlazingFlames commented on #2081
I've added the rest of the dependencies, but where can I get net.ess3:GroupManager:jar:2.1-TF from? @savnithyt @Wild1145

[2017-07-18 16:06] BlazingFlames commented on #2081
I also added bPermissions to the lib folder, yet NetBeans still says that it's missing that dependency @savnithyt

[2017-07-19 23:10] mgflames opened #2085 "Could not load build properties!"
Hi there,

I've successfully compiled TotalFreedomMod but when I try running it on my server, I get this error:

`20.07 01:08:30 [Multicraft] Received start command
20.07 01:08:30 [Multicraft] Loading server properties
20.07 01:08:30 [Multicraft] Starting server!
20.07 01:08:30 [Multicraft] Loaded config for "Mod: Spigot"
20.07 01:08:30 [Multicraft] Updating eula.txt file
20.07 01:08:30 [Server] I

[2017-07-20 06:14] ghost commented on #2071
@Wild1145 but according to Windows the whole idea of this is to remove the need to edit plugins.

[2017-07-20 17:53] Wild1145 commented on #2071
@Commodore64x I cant see that being practical without removing the ability to actually op someone...

[2017-07-20 17:53] Wild1145 commented on #2085
That error you can ignore, its the second one that you cant. TFM all of a sudden has a dependency on Core Protect

[2017-07-20 18:50] mgflames commented on #2085
@Wild1145 I've fixed the second error but now I have a new one. I use apex minecraft hosting and they claim that all of their ports are open, yet I get the error below when I try connecting through bukkit telnet.

Connecting to **.***.***.***:58146
Connection refused: connect
java.net.ConnectException: Connection refused: connect
	at java.net.DualStackPlainSocketImpl.connect0(Native Method)
	at ja

[2017-07-20 18:55] mgflames commented on #2085
Fixed,  changed address option to "0.0.0.0"

[2017-07-20 18:55] #2085 closed, assigned to nobody

[2017-07-22 15:20] mgflames opened #2086 "Cannot use worldedit"
Hi there,

when I try to use TF-Worldedit and use //set, I get this error:

`22.07 17:19:46 [Server] ERROR [WorldEdit] An unexpected error while handling a WorldEdit command
22.07 17:19:46 [Server] INFO java.lang.NoSuchMethodError: com.google.common.base.Objects.firstNonNull(Ljava/lang/Object;Ljava/lang/Object;)Ljava/lang/Object;
22.07 17:19:46 [Server] INFO at com.sk89q.worldedit.function.factory

[2017-07-22 16:23] mgflames commented on #2086
As well as this question, is there a way to make it so that when you break blocks, they go into drops?

[2017-07-22 18:51] LiamTownsley commented on #2086
Are you running Spigot 1.11.2?

I am not sure about that one.

[2017-07-22 18:58] LiamTownsley commented on #2079
DO you require anymore help? If not please close this issue.

[2017-07-22 19:28] mgflames commented on #2086
@DUFC-Liam I am running Spigot 1.12.

[2017-07-22 19:39] #2079 closed, assigned to nobody

[2017-07-23 03:00] mayokek commented on #2086
I believe TF-WorldEdit isn't available for Spigot 1.12. So, you have to manually compile 1.12 onto TF-WorldEdit.

[2017-07-23 10:54] mgflames commented on #2086
Does Spigot 1.11.2 allow 1.12 clients to join though?

[2017-07-23 12:26] ItzLevvie commented on #2086
@InfamousYT No, you would need ProtocolSupport for that

[2017-07-24 01:38] aokod commented on #2086
TF-WorldEdit is pretty much depreciated. It doesn't support anything close to new and you really shouldn't be using it on anything above _1.8.3_.

[2017-07-24 01:40] aokod commented on #2086
@InfamousYT @ItzLevvie ProtocolSupport doesn't provide support for client versions newer than that of the server. Use [ViaVersion](https://www.spigotmc.org/resources/viaversion.19254/) for that.

[2017-07-24 16:59] Wild1145 commented on #2086
TF-WorldEdit should be working up to 1.11, the fact that you run a 1.11 Plugin on a 1.12 server would make little difference. ProticolSupport has nothing to do with WorldEdit at all.

[2017-07-24 17:51] ItzLevvie commented on #2086
**_ProtocolSupport doesn't provide support for client versions newer than that of the server. Use ViaVersion for that. - @ir1x_**

Actually, the ProtocolSupport I've linked is a nightly build which allows 1.11.2 clients and below to join a 1.12 server.

[2017-07-25 07:15] Wild1145 commented on #2086
Guys, Proticol support has nothing to do with this issue, WorldEdit has no dependency on ProticolLib, and it is of no use here.

[2017-07-25 14:45] Wild1145 commented on #2063
Due to the differences between TF and TFM Development, this is of little concern to me now. If TF wishes to add additional code to the plugin, it is theirs to maintain.

[2017-07-25 17:15] ItzLevvie commented on #2086
@InfamousYT to fix this issue you can compile from my [TF-WorldEdit](https://github.com/ItzLevvie/TF-WorldEdit)

[2017-07-26 11:37] ChargedCreeper opened #2087 "Null route management"
I think it'd be nice if TFM could add IPs to a temporary null route, especially for Unix like OS's. (most servers use this anyways). Null routing an IP of someone while they are connected has an interesting effect. It causes them to time out just as I thought it might and has proven effective in slowing down ban bypassing trolls.

[2017-07-26 17:23] Wild1145 commented on #2087
Given that nullrouting is handled at a firewall level, and this sits within an application layer, I feel that this is probably outside the scope of this project, and that utilising a decent firewall system should give this same functionality in a far more refined and efficient system.

[2017-07-26 20:17] MKVollmer25 opened #2088 "Three-strike auto-kick for thrown projectiles"
High-speed spamming of thrown projectiles (mostly potions and fireworks) has recently been an issue on the server which causes severe lag, so I am suggesting the three-strike auto-eject system for block placing/breaking or harmful commands to be implemented for thrown projectiles, where if someone is throwing projectiles too fast (not fastbow), they go through the three-strike auto ban system. (1

[2017-07-26 21:53] JeromSar commented on #2087
Maybe there is an abstraction/general API we could use to communicate to the link layer we could use? If there's no general solution on Linux, I don't think we can solve this efficiently.

[2017-07-27 02:50] Hockeyfan360 commented on #2088
Fireworks should never be blocked, imo. Unless someone's using hacked clients with the sole intention of crashing others, fireworks are fine in large quantities.

[2017-07-27 14:12] lemonsked commented on #2087
There's one way, send a terminal command that nullroutes the player's IP.

[2017-07-28 22:26] Wild1145 commented on #2087
What if TFM is running on a Windows based server? As I say, this is something that should be handled imo on a server by server basis by the Systems Administrator / Engineer that has built the server. Same goes for if you're on shared hosting. I dont feel that this is appropriate for TFM to attempt to handle as-is.

[2017-07-28 23:10] JeromSar commented on #2087
I agree with @Wild1145 here. There is no clean/efficient/applicable solution in this case.

Thanks for contributing. Closing the issue, please don't be offended. :)

[2017-07-28 23:10] #2087 closed, assigned to nobody

[2017-07-30 07:11] mgejay opened #2089 "Transferring the PM system to TFM."
The reasons I'd like to do this:

1. It's not very visible and formatting it to be could be a good idea.
2. We can implement it in and make it easier for admins to spy on it with a command.
3. People can't msg everybody with '*'.

[2017-07-30 14:05] Wild1145 commented on #2089
So you want to migrate the Essentials /msg commands to TFM?

[2017-07-31 06:20] mgejay commented on #2089
@Wild1145 Yes.

[2017-07-31 07:00] untuned opened #2090 "Actionbar message for /v"
Seeing how I can't code, I think it would be a good idea to show an actionbar message to admins who are vanished, saying something like "You are vanished".

[2017-08-01 18:03] #1888 closed, assigned to Wild1145

[2017-08-02 19:23] Wild1145 commented on #2089
Yeah, I am not opposed to the idea. In an ideal world TFM would remove the need for many if any other plugins. I see no reason why this sort of a system couldnt be migrated? Given its offlinemode design I'd probably say we just make it work for online players and scrap having a "MailBox"?

[2017-08-02 19:24] Wild1145 commented on #2090
Sounds good, I think thats a rather good idea.

[2017-08-02 19:27] #2003 closed, assigned to nobody

[2017-08-02 19:27] Wild1145 commented on #2063
Closed as above.

[2017-08-02 19:27] #2063 closed, assigned to nobody

[2017-08-02 19:29] Wild1145 commented on #2066
So looking at this on a practical level. CoreProtect does not open source their code, or host any sort of Maven repo that we can use. As a result we cannot build CoreProtect into the TFM project, and certainly cannot currently built it through our CI tools. As such I am inclined to go with TFM not supporting Core Protect until such a time it is available to build automatically with, otherwise all

[2017-08-02 23:14] untuned commented on #2090
Here's an example of what it could look like:

https://i.untuned.pw/030817001345.png

[2017-08-03 11:27] lemonsked commented on #2066
We can use something like this: https://github.com/rlf/XRayHunter/blob/master/coreprotect.xml
with the link:  https://addons-origin.cursecdn.com/files/2355/616/CoreProtect_2.14.2.jar
@Wild1145

[2017-08-03 17:54] Wild1145 commented on #2066
@OxLemonxO I dont think that would work with the CI systems? As you're just building it basically as an after thought?

[2017-08-04 09:12] lemonsked commented on #2066
@Wild1145 Well, that project uses CI so, it should work in theory.

[2017-08-04 11:25] mgejay commented on #2089
Sounds like a good idea to me.

[2017-08-07 11:57] StevenLawson commented on #2080
A system [like this](https://docs.google.com/document/d/1hFQffzolTr4ih5SjrZJK7JH4iDy-K4qMyI4VYmr9fTg/) would solve the impostor issue by not letting them log in to begin with.

[2017-08-07 12:39] JeromSar commented on #2080
@Wild1145 I don't have enough context to judge what is going on in his mod exactly. Could you provide a set of concrete additions/changes that would benefit TFM?

[2017-08-07 12:41] JeromSar commented on #2071
I originally misunderstood the suggestion. Removing the 'accepted' label. If after discussion it turns out this feature is desirable within TFM, we can readd the label.

[2017-08-07 17:27] Wild1145 commented on #2080
@JeromSar Providing @StevenLawson's changes are not implemented for whatever reason, this simply spits out what other players have joined on the same IP and what IP's have joined on that player recently. It also does some re-formatting to how the messages are handled to make it more obvious an imposter has joined. @marcocorriero would be the best person to give a run down on what has been added ho

[2017-08-08 17:23] LiamTownsley opened #2093 "GTFO Spam"
We can just make the server dispatch `co rb [NAME] t:1d r:#global #silent` and you do not get the massive spam.

[2017-08-08 20:58] Wild1145 commented on #2093
TFM currently does not support CoreProtect, and as such this is a server specific modification. You will need to raise this with the server based developers.

[2017-08-08 21:49] LiamTownsley commented on #2093
It does with /gtfo. @Wild1145

[2017-08-08 21:50] ghost commented on #2093
well, it has been loaded with coreprotect support ages ago, madgeek already loaded the fix on the server branch

[2017-08-08 22:03] Wild1145 commented on #2093
The server branch is not an officially supported branch, it is not supported features of the TFM development team. The server branch is 3rd party changes that were made to the TF Server. CoreProtect functionality is not officially supported in TFM and as such we are unable to offer support for such 3rd party changes.

[2017-08-09 10:36] LiamTownsley commented on #2093
I am meaning for the server as its effects our ability to read chat if we are spammed with 150+ messages everytime we ban someone.

[2017-08-09 10:36] LiamTownsley commented on #2093
(This is for TOTALFREEDOM)

[2017-08-09 19:34] ghost opened #2094 "Allow TNT for OP's, but without block damage."
i noticed ppls are using TNT
but
they want to explode
we can easily cancel the TNT block break event
and make TNT pure extetic
it can do knockback, but not damage builds or blocks
so ppls can make redstone TNT cannons(modificato)
what do you think?
oblivious blocked in worldedit, lol
same for creepers

So we can make the TNT doing just the expel on blocks
The explosion effect too, but we can abort

[2017-08-09 20:24] hitzzaf opened #2095 "A command to show ops how to save builds with worldedit"
We need a command to help ops with saving with world edit.

[2017-08-09 20:41] TangoMangoMC commented on #2095
There is already an auto broadcaster that EnderLolzeh created:
http://totalfreedom.boards.net/thread/54053/console-scheduled-events

[2017-08-09 23:38] hitzzaf commented on #2095
the auto broadcaster takes way too long, and it doesn't do it when we really need it. it only does it every hour, when lately the server has crashed almost every 20 minutes or so.

[2017-08-10 00:33] ncurran02 commented on #2095
But we wouldn't like a hard-coded `wall-of-text` in the plugin, do we?

[2017-08-10 04:14] lemonsked commented on #2095
this would be better in DaedalusMod.
https://github.com/Superior-Development/DaedalusMod

[2017-08-10 05:09] mayokek commented on #2095
@OxLemonxO, @Wild1145 said he won't be continuing developing the DaedalusMod plugin (that's what I heard).

[2017-08-10 09:51] JeromSar commented on #2093
@Wild1145 is right. We don't officially support the 'server' version of TFM.

[2017-08-10 09:51] #2093 closed, assigned to nobody

[2017-08-10 17:17] hitzzaf opened #2097 "Git not running with Netbeans"
Trying to compile TFM right now and I keep getting this error:
[code]
I've already tested my PATH and it's set up correctly, I'm not sure how to fix it.

[2017-08-10 17:27] hitzzaf commented on #2097
I've also read somewhere that Git only works with certain versions of maven, I'm running netbeans obviously and im not sure

[2017-08-10 17:27] lemonsked commented on #2097
You need to have Git installed and in your PATH. Type git in command prompt, what does it show?

[2017-08-10 17:27] hitzzaf commented on #2097
"I've already tested my PATH and it's set up correctly, I'm not sure how to fix it."
@OxLemonxO
It's in the PATH

[2017-08-10 17:32] lemonsked commented on #2097
I mean, what's the output of git in command prompt? Does it show something  like l`lC:\Users\Lemon\Desktop>git
usage: git [--version] [--help] [-C <path>] [-c name=value]
           [--exec-path[=<path>]] [--html-path] [--man-path] [--info-path]
           [-p | --paginate | --no-pager] [--no-replace-objects] [--bare]
           [--git-dir=<path>] [--work-tree=<path>] [--namespace=<name>]

[2017-08-10 17:34] hitzzaf commented on #2097
[code]

@OxLemonxO

[2017-08-10 18:57] hitzzaf opened #2098 "/requestadmin (Alternative/Addon to /report)"
Recently operators have been coming to me saying they have questions, but no admins listen to them in the normal chat. Some resort to abusing /report on innocent players just to get their attention. I suggest a command called /requestadmin or /question (possible aliases) to ask administrators questions without having to abuse commands or spam chat. This could improve many things, causing less spam

[2017-08-10 18:58] Wild1145 commented on #2098
This sounds more like an issue with poor administration on the server, and that admins need to be better trained / disciplined for failing to do their jobs...

[2017-08-10 18:59] Wild1145 commented on #2094
Sounds good.

[2017-08-10 18:59] hitzzaf commented on #2098
I agree @Wild1145 now-a-days thats what happens, but maybe even with more discipline or not adding as many administrators it could still be helpful and seems to cause no harm.

[2017-08-10 19:02] Wild1145 commented on #2095
@mayokek DadealusMod has had no need for an update. I am happy to continue working on it, however I was under the impression people didnt like having the plugin on the server, and I've gotten a serious amount of shit from TF developers over its being on the server, because people took to modifying it. Im happy for wall of text commands to be in DaedalusMod, as its designed to run in conjunction wi

[2017-08-10 19:02] #2095 closed, assigned to nobody

[2017-08-10 19:03] Wild1145 commented on #2098
@hitzzaf I dont see the value to spending time on implementing features, when server owners can just manage their staff better... Thats why I am inclined not to add this.

[2017-08-10 19:05] fionnn commented on #2098
I believe this should be a feature, I also believe it should have bright colors.
I get around 2-3 messages at the same time everyday, and it would be really helpful if we had this.

[2017-08-10 19:18] TangoMangoMC commented on #2098
I agree with Wild, the administrators should see a report or request for help in chat

[2017-08-11 01:18] hitzzaf commented on #2097
any suggestions?

[2017-08-11 01:51] hitzzaf commented on #2097
computer restart fixed it

[2017-08-11 01:51] #2097 closed, assigned to nobody

[2017-08-11 02:49] untuned commented on #2065
Something that would be nice is to show the person instead of the disguise for admins who are in spectator mode.

[2017-08-11 18:21] Wild1145 commented on #2098
I dont feel that this will add any value to offset the time that it will take to build from the time it'll save in game. Admins will just ignore this if they are that way inclined. Better training on the servers is needed.

[2017-08-11 18:22] #2098 closed, assigned to nobody

[2017-08-11 18:23] Wild1145 commented on #2065
@Untuned That is a vanilla feature already...

[2017-08-11 20:44] JeromSar commented on #2098
I agree with @Wild1145. You seem to be proposing something that the /report command was designed to solve. It might be that the /report command has shortcomings. If so, you could make another issue describing how you would instead solve the problems with /report.

[2017-08-12 07:35] DamonOnYT commented on #1624
use the command

/saconfig setrank [username] Owner

[2017-08-12 15:58] ghost opened #2103 "Add WipeRegions for worldguard region management"
#2102

it adds worldguard to /wiperegions to purge region list from specified worlds.

[2017-08-13 22:38] robingall2910 opened #2105 "rainbowtag bypasses character limit"
bringing this from http://totalfreedom.boards.net/thread/54292/fix-rainbowtag so they can stop fighting about it

rainbowtag doesn't have a current character limit and there should be one put in place like the normal tag limit.

[2017-08-13 22:40] mayokek commented on #2105
The thing is, Rainbow Tag command isn't on GitHub.

[2017-08-13 22:41] robingall2910 commented on #2105
@mayokek it's on the server branch

[2017-08-13 22:54] robingall2910 opened #2107 "Logviewer's config isn't updating"
Logviewer's configuration doesn't update once someone ingame has done /logs. It basically just stays the same that it still requires a password.

[2017-08-13 23:03] Wild1145 commented on #2105
We do not currently support the TF Server branch, it is only a temporary branch where we were intending try and merge support, but it has not worked so well. I'll leave this here as a server patched issue that one of the TF developers will need to address.

[2017-08-14 04:22] untuned commented on #2107
Note, this is only for the old logviewer. (http://madgeekonline.com/apps/logviewer/)

[2017-08-14 09:16] ghost opened #2108 "Allow custom "wall-of-text" messages with a single command backed by a YAML config"
So for commands like /ai /verify and the PR for /savebuild they are purely text based so what I am suggesting is this: We implement an engine of sorts that allows you to create custom text based commands that can be edited in config. So if you want a command like /ai you can specify this in the config and make it msg the user with the text. Thoughts?

[2017-08-14 09:47] LiamTownsley commented on #2107
Due to it being IPv4 you may have an IPv6 IP

[2017-08-14 09:47] LiamTownsley commented on #2107
So go on the admin server type /logs and it registers to the new logs

[2017-08-14 09:48] LiamTownsley commented on #2108
Can you explain more?

[2017-08-14 10:03] ghost commented on #2107
The new logviewer should have IPv6 functionality, the fact is I have this problem as well. The new logviewer does not work at all for me.

[2017-08-14 10:06] ghost commented on #2107
And the code here has been updated for the new logviewer btw.

[2017-08-14 10:08] ghost commented on #2108
As in, instead of hard coding command just to display text you have a specific config file where you can specify commands, i.e.
commands:
     ai:
        - Eat your brugers and fries
        - Visit the pasta factory
     verify:
        - the admins are coming for you!

Then those commands would be loaded and the given lines displayed when said command is run

[2017-08-14 18:21] untuned commented on #2108
customcommands.yml
[code]

[2017-08-14 21:05] JeromSar commented on #2107
Minecraft does not support IPv6 if I'm correct, so I assume the problem then lies with the the web browser connecting as an IPv6 address. Perhaps @StevenLawson could look into this and force IPv4 browsing.

[2017-08-14 22:32] robingall2910 opened #2109 "BukkitTelnet disconnecting automatically on 1st attempt"
I don't know if it's the same when you're connecting over the CreeperTelnetClient, FreedomTelnetClient, whateverTelnetClient, but if you try to connect via the usual Linux terminal or MobaXterm it'll disconnect on the first try and then the second time it'll connect successfully. I just started having this issue recently too.

I'm aware that this should be on the BukkitTelnet repository, but that

[2017-08-14 23:20] Secret-Chicken opened #2110 "Bans Not Working"
/tban and /tempban dont work. Whenever said command is done the player can join back easily.

[2017-08-15 02:12] Mafrans commented on #2108
could be done quite easily

[2017-08-15 13:38] StevenLawson commented on #2107
The latest version of the logviewer & TFM's logviewer registration script (on devel) shouldn't be affected by IPv6/IPv4 issues. Instead of relying on the IP as seen by the MC server, the new registration script prompts the user to click on a link with a special, one-use key. The web server validates this key and saves whatever connecting IP that it sees.

[2017-08-15 18:15] JeromSar commented on #2107
Great work! @robingall2910 could you confirm the issue is fixed with the latest TFM on the `devel` branch?

[2017-08-15 18:18] JeromSar commented on #2108
Duplicate of https://github.com/TotalFreedom/TotalFreedomMod/issues/317

[2017-08-15 18:19] #2108 closed, assigned to nobody

[2017-08-15 18:20] JeromSar commented on #2109
@robingall2910 Are there any errors in either the server (MC) terminal, or in the client?

[2017-08-15 18:28] Wild1145 commented on #2110
@Secret-Chicken Can you advise on which server this is happening on so we can investigate please?

[2017-08-15 18:33] ghost commented on #2110
if is TF , is already solved.

[2017-08-15 18:33] Wild1145 commented on #2109
I have been unable to replicate this on TF. Can you let me know what server you are having the issue?

[2017-08-15 20:30] robingall2910 commented on #2109
@Wild1145 on TF actually.
@JeromSar no errors, it'll just say the connection was closed by the remote host

[2017-08-15 20:35] robingall2910 commented on #2110
@Wild1145 this can be closed.

[2017-08-15 22:08] Wild1145 commented on #2109
@robingall2910 Interesting, I wasnt able to replicate myself on TF... Could have been poor timing as a re-start / reload was happning?

[2017-08-15 22:09] #2110 closed, assigned to nobody

[2017-08-15 22:23] Wild1145 opened #2111 "Glist Unbanning is not detecting /tempban"
In a test of the current 1.12 Alpha branch when running a /tempban wild1145 10mins test

And then running a /glist purge  and a /glist unban wild1145  the ban I previously had made is not detecting on the /glist unban, however on a /banlist purge it is.

This appears to be a bit of an edge case as trying /tempban wild1145 10mins test and then /glist unban wild1145 worked without issue, however its

[2017-08-15 22:26] Wild1145 opened #2112 "Update Ban Reasons"
Currently if you /tempban or /gtfo a player, the reason you used in that command it what is displayed whenever the player is banned, regardless of it you re-ban them later on. Given /glist ban  has the ability to now accept reasons, it would be preferable if it would overwrite the original ban reason with the updated one, it saves needing to /glist unban <player> and then /glist ban <same player>

[2017-08-16 01:31] robingall2910 commented on #2109
@Wild1145 it happens every time you try to connect. If you're trying to disconnect and then reconnect at first quickly, then that's fine. You'll have to eventually wait a while and then you'll see it happen.

[2017-08-16 02:17] robingall2910 commented on #2109
![alt text](http://this.dragonfire.me/website/sucks/56531b.png)
if you restart the session (reconnect) then it'll work fine
![alt text](http://this.dragonfire.me/website/sucks/07e3a4.png)
on linux:
![alt text](http://this.dragonfire.me/website/sucks/593047.png)

[2017-08-16 02:28] mayokek commented on #2109
@robingall2910, I'm having that issue with my terminal (Mac OS) as well...
![screen shot 2017-08-16 at 12 29 53 pm](https://user-images.githubusercontent.com/9478835/29345039-5844ece0-827f-11e7-8fbe-156232cbbfc7.png)

[2017-08-16 02:37] mayokek commented on #2109
So, I tested it with FTC, it came up like this...
![screen shot 2017-08-16 at 12 36 38 pm](https://user-images.githubusercontent.com/9478835/29345085-a446e602-827f-11e7-9d47-ad635f1a0938.png)

[2017-08-16 02:39] mayokek commented on #2109
Just tested with my telnet client (TelnetKek) as I only have it on my school computer....
![screen shot 2017-08-16 at 12 36 38 pm](https://user-images.githubusercontent.com/9478835/29345117-d936f55a-827f-11e7-9999-584be2bb16ad.png)

[2017-08-16 22:48] StevenLawson commented on #2109
Not sure what's causing this yet, but I've observed this behavior. Bug confirmed.

[2017-08-17 02:00] hitzzaf opened #2113 "Get a players gamemode easier"
We could have a command that simply displays the players gamemode without the other spam of /seen. Simple command and it does not wrong to the server and I believe it could help. If we wanted to we could also color code the answers so if they are in Survival its green if its Creative red etc.

[2017-08-17 10:45] lemonsked commented on #2113
The essentials command /whois already shows this with other information included.
It's not very spammy,  and why do we need a dedicated command for this? We could just have a solution to creative PvP overall (if that's what this is supposed to help with)

[2017-08-21 00:36] hitzzaf opened #2115 "/tag clearall fix"
Make /tag clearall only clear non admins tag's

[2017-08-21 08:47] Wild1145 commented on #2115
I think maybe /tag clearall should reset everyones tags back to their default tag (Not remove them). I would still like the option of resetting admins tags, as I have seen some of the stupid ones they've done, but yes by default perhapse it does just need to be OPS.

[2017-08-26 11:02] TheCool1Mike commented on #2109
@StevenLawson I've also noticed similar behaviour with the server and logviewer as well where it doesn't connect upon the first join - http://prntscr.com/gd8q5a.

This is obviously something with the server itself.

[2017-08-26 17:09] hitzzaf commented on #1886
bump - sstill not fixed

[2017-08-29 11:13] Wild1145 commented on #1886
@hitzzaf Please do not "Bump" issues, it simply wastes my time in trying to deal with the issues on this Github. The issue is still open and when the bug is resolved, this issue will be closed as a result. Until then please only post to add additional information / similar, bumping is not required.

[2017-09-04 08:32] ghost opened #2118 "Allow TNT To be used for OPS"
Allows OPS to use TNT without breaking other blocks.

[2017-09-04 08:32] ghost commented on #2118
#2117

[2017-09-04 08:33] #2118 closed, assigned to nobody

[2017-09-04 08:33] ghost commented on #2094
#2117

[2017-09-05 05:41] ghost commented on #2111
Glist purge should wipe bans, not all data. As this is not the case I believe implementing that will solve the issue.

[2017-09-06 05:33] ghost commented on #2118
@JeromSar replace declined with a duplicate

[2017-09-07 18:43] Wild1145 commented on #2111
@Commodore64x That is incorrect. /glist purge should purge all player data, that is the intended design functionality of the command...

[2017-09-09 14:12] Wild1145 opened #2119 "Build Properties No Longer Working"
I am not sure if this is an issue isolated to just myself, however when setting the build.properties to show my name and the build number locally (Though we may want this to also be updated on the latest release? Not sure), when you run /tfm everything is null instead of the actual field.

[2017-09-11 01:41] Telesphoreo commented on #2119
thats what always happens. its an error within the pom.xml. theres a little area that says ok lets make sure were in this directory but that part of it is broken, so you have to change each of the fields that the build properties read to include the project path thing

its explained somewhere in my tfm compile video (4/10/17) around the 4m mark

[2017-09-12 10:47] ghost commented on #2119
@Telesphoreo @Wild1145 actually all you have to do is move the build.properties file into src/main/resources

[2017-09-12 12:36] JeromSar commented on #2119
@Commodore64x That is not true.

[2017-09-13 08:03] ghost commented on #2119
@JeromSar That is true... It makes sense if you think about it. Resource filtering is set to src/main/resources yet the build.properties file is not in that directory. In the code it is referenced as a resource therefore placing it in the correct directory fixes the problem.

[2017-09-13 08:33] JeromSar commented on #2119
@Commodore64x It is a dirty hack and not the way the problem should be solved.

[2017-09-13 08:42] ghost commented on #2119
@JeromSar How is it dirty? The code points to that location.

[2017-09-13 15:50] Wild1145 commented on #2119
@Commodore64x I presume because technically the build properties should not be treated as a build artefact in any way shape or form, but as a separate entity that should not be packaged with the build its self.

[2017-09-14 08:57] ghost commented on #2119
@Wild1145 Then why is it mentioned in the code? It has to be packaged within the build otherwise that is the reason the code throws a NullPointerException, because the file does not exist.

[2017-09-14 17:33] Wild1145 commented on #2119
@Commodore64x The ANT build process doesn't handle build artefacts in the same way as Maven does. Thats why it was designed the way it was originally.

[2017-09-14 18:19] Wild1145 opened #2120 "TFM Not working when JAR is re-names"
It has been reported that TFM failed to start if the JAR is re-named from totalfreedommod.jar so we need to look into why this is happening and if it is a recurring issue.

[2017-09-14 18:46] lemonsked opened #2121 "/cake broken in 1.12 prerelease"
When you do /cake, it says ingame: Command error: not supported in this minecraft version.
This is due to the fact that achievements do not exist in versions of minecraft later then 1.12
Replaces with advancements.
Error in logs:

[code]

[2017-09-14 20:38] Wild1145 commented on #2081
Thanks for contributing. I am closing this issue for inactivity. Should you have anything further to add in the future please either re-open the issue yourself or tag a member of staff and we will re-open the issue for further discussion.

[2017-09-14 20:38] #2081 closed, assigned to nobody

[2017-09-14 20:39] Wild1145 commented on #2086
Thanks for contributing. I am closing this issue for inactivity. Should you have anything further to add in the future please either re-open the issue yourself or tag a member of staff and we will re-open the issue for further discussion.

[2017-09-14 20:39] #2086 closed, assigned to nobody

[2017-09-15 15:39] Wild1145 opened #2122 "GTFO Unreliable on 5.1.1-Alpha1"
GTFO appears to be unreliable on the 5.1.1-Alpha 1 release. The main error appears to be when a reason was listed, but further investigation is needed.

See http://totalfreedom.boards.net/thread/55163/gtfo-command-broken?page=1&scrollTo=633326

[2017-09-17 21:33] Wild1145 opened #2123 "Add the console as a host console"
Currently the "Console" is not classed as a host console. Due to the inability to track who the users on the console usually are and most panels using either RCON or CONSOLE as the name to interact with the server, I feel this should be treated as a host console, and has been confirmed to work properly when added.

[2017-09-17 21:48] Wild1145 opened #2124 "Restrict Host Console Access to SACONFIG"
Currently it appears the console can do anything it likes with the saconfig command, I would suggest we restrict this to just updating admin details (Re-Adding basically). Thoughts?

[2017-09-17 22:32] ncurran02 commented on #2124
@Wild1145, Console is already restricted to telnet permission, as set in the configuration.

[2017-09-17 22:33] Wild1145 commented on #2124
@Focusvity But I could still add random people to it without being able to be traced back. Im of the opinion that host consoles should not need to do anything more than add imposters to admin, as you can get on telnet the rest of the time?

[2017-09-17 22:34] ncurran02 commented on #2124
You do make a valid point.

[2017-09-19 05:49] JeromSar commented on #2124
I agree, but the level of console permissions should be configurable. Currently, we already have an option to set whether the host console is considered senior admin or telnet admin.

[2017-10-08 07:28] DeternoMC commented on #2080
To be honest, I'd prefer what @StevenLawson suggested.

[2017-10-14 01:22] DeternoMC opened #2125 "./tree and /bigtree"
Both commands are used for griefing; upon ban doesn't roll back any created blocks.

[2017-10-21 15:50] ChargedCreeper opened #2127 "Y=-30000000 + falling = ejected from server"
There is an issue where if you are teleported to that coordinate and drop, you get kicked from the server. However, you can rejoin. It is still an annoyance, and allows players to effectively kick each other.

[2017-11-06 09:45] cuijk commented on #1778
how do you fix it? i got this issue now , thx

[2017-11-06 11:44] JeromSar commented on #1778
@cuijk Make sure you have Git SCM installed.

[2017-11-12 15:12] Gusted commented on #2125
Why blocking?

[2017-11-12 15:12] Gusted commented on #2125
a reason please

[2017-11-12 15:13] Gusted commented on #2127
Fixed

[2017-11-12 15:34] Gusted commented on #2125
issue close!

[2017-11-12 16:06] JeromSar commented on #2125
Perhaps we can figure out a way to roll these back. @Wild1145 any ideas?

[2017-11-12 17:17] Gusted commented on #2125
Admins can rollback it

Issue close

[2017-11-12 17:17] Gusted commented on #2125
/ro

[2017-11-23 12:18] ajaxvp opened #2129 "TFM 5.0 Error"
I keep having this issue every time I run TFM on my server:
[07:14:32 ERROR]: Error occurred while enabling TotalFreedomMod v5.0 (Is it up to date?)

[2017-11-23 18:17] mandar-ghade opened #2130 "Marcocorriero --> Developer Title"
Marcocorriero should be added as a Developer in the FUtils class.

(Refer to http://totalfreedom.boards.net/user/12918 and https://github.com/TotalFreedom/TotalFreedomMod/blob/devel/src/main/java/me/totalfreedom/totalfreedommod/util/FUtil.java)

[2017-11-23 18:18] lemonsked commented on #2130
No, as he is only a TF developer and not a TFM developer, he will not be added.
Thanks for the suggestion :)

[2017-11-23 18:18] #2130 closed, assigned to nobody

[2017-11-23 18:18] lemonsked commented on #2129
Can we have the full stack trace please?

[2017-11-25 03:29] ajaxvp commented on #2129
Nevermind, issue was resolved.

[2017-11-25 03:29] #2129 closed, assigned to nobody

[2017-11-26 20:31] Gusted opened #2131 "/up Protected Area"
If you do /up 1 in a protect area work that so can you close spawn

[2017-12-01 19:09] Wild1145 commented on #2127
@Gusted What Commit was this fixed in? I dont see a PR or Commit for the patch?

[2017-12-01 19:10] Wild1145 commented on #2125
@Gusted /ro would risk removing more than the tree that was just placed.

The issue here is that //undo does not appear to roll it back, though I am not entirely sure why, as I understand it, the command simply creates a tree / big tree at the location you are looking at? Not sure why //undo would not work with it...

[2017-12-01 19:11] Wild1145 commented on #2131
/up is a WorldEdit command, currently protected areas does not reliably account for WorldEdit and WorldEdit commands. We might need to block all worldedit commands within a protected area? Sounds like the most reliable way to ensure this is no longer an issue...

[2017-12-02 06:51] ncurran02 commented on #2127
@Wild1145, it was patched in custom TFM.

[2017-12-19 01:04] ezAxeG opened #2135 "Unable to use WorldEdit"
Everytime i type //set 1 it says this

[InGame]
Missing value for <fillPattern>

[Console]
[code]
Anybody can help?

[2017-12-19 01:36] ncurran02 commented on #2135
It's outdated.

[2017-12-19 08:07] ItzLevvie commented on #2135
@ezAxeG https://github.com/ItzLevvie/TF-WorldEdit

[2017-12-20 11:09] ezAxeG commented on #2135
@ItzLevvie 6.1? Or 1.12.2?

[2017-12-20 13:51] ItzLevvie commented on #2135
@ezAxeG It's TF-WorldEdit 6.1.9 for 1.12.2 & below servers

[2017-12-20 17:39] aokod commented on #2135
Just don't use TF-WorldEdit. There's little benefit to having it.

[2017-12-20 17:44] aokod commented on #2125
Use CoreProtect. `/rollback` is very outdated.

[2017-12-22 02:07] ezAxeG opened #2136 "What branches should we use?"
Can anybody tell me what branches should we use to compile?

[2017-12-22 07:24] JeromSar commented on #2136
For 1.11 build, use `devel`. For a 1.12 "in development" build, use `TFM1.12-Alpha`.

[2017-12-22 07:24] #2136 closed, assigned to nobody

[2017-12-22 13:00] ncurran02 opened #2137 "Banning Impostor’s IP"
I think we should implement something like when an impostor joins, we can still use /gtfo \<player\> [reason] but it would check if the name is an admin, and if it is, the impostor’s IP would be banned instead of both. This is to avoid admins being banned if their IP isn’t supered. Thoughts? (Sorry if there’s any typo or anything, I am on my mobile at the moment.)

[2017-12-22 17:24] xChoatic opened #2138 "TF Locally Hosted Server"
help on my tf server. So what been happening is i have had tf servers before and know how to make new ones but i tried making a new one for TFMod 1.12 (pre release) and i also got the latest aero i could find (1.10) Also installed World-edit Essentials and essentials spawn and then i put the TFM into the plugin folder and i reloaded it and i did /pl and it showed Total Freedom Mod Aero and all the

[2017-12-22 21:25] xAtomik opened #2139 "A way for an admin to permanently set their tag."
Admins usually have to set their tag every time they join if they use a custom one, and it can be annoying. Surely there could be a command which can do this? Something like **/myadmin settag <tag>** or something along those lines. It would really help admins out.

[2017-12-23 06:32] robingall2910 commented on #2138
it took me a while to even read this but...

did you even super yourself at first?

[2017-12-23 07:57] ghost commented on #2138
@JeromSar This is an issue I've noticed with this build - for some reason none of the TFM commands work even though the plugins loads fine, and even more strangely once you host on a platform like server.pro the issue goes away. Do you think this is Aero related?

[2017-12-23 12:07] ncurran02 commented on #2138
@Commodore64x, it’s working just fine on my local hosted server, I know this as I was using it to test TFM earlier.

[2017-12-24 09:00] ghost commented on #2138
@Focusvity What branch are you using?

[2017-12-24 10:16] ezAxeG opened #2140 "Build failure"
I already have Git installed and it still says this

BUILD FAILURE
------------------------------------------------------------------------
Total time: 36.434s
Finished at: Sun Dec 24 17:12:23 ICT 2017
Final Memory: 12M/30M
------------------------------------------------------------------------
Failed to execute goal org.codehaus.mojo:buildnumber-maven-plugin:1.4:create (default) on project total

[2017-12-24 12:39] ItzLevvie commented on #2138
Fresh TotalFreedomMod build on the ``devel``` branch. Everything seems fine.

![image](https://user-images.githubusercontent.com/11600822/34326550-64a02502-e8a7-11e7-9e49-f2bd2392ec74.png)

[2017-12-24 12:45] ItzLevvie commented on #2140
@ezAxeG Are you sure you actually have Git installed?

This is how it should look like in your Control Panel

![image](https://user-images.githubusercontent.com/11600822/34326568-3f7b23b6-e8a8-11e7-89c1-5dfc3af15dd3.png)

[2017-12-24 13:59] Wild1145 commented on #2137
Technically TFM already does this, as if you are joining on a supered IP, you should bypass any bans against you. The issue comes if someone imposes as you, and you're on a Dynamic IP.

[2017-12-24 14:00] Wild1145 commented on #2127
@Focusvity Okay, thats not at all useful here... If its not patched on this Repo the issue is still valid.

[2017-12-24 14:03] Wild1145 commented on #2121
Doing some research 1.12 removed Achievements and replaced them with Advancements. We should be able to swap the awarding of the Achievement out for an Advancement.

[2017-12-24 14:05] Wild1145 commented on #2138
So can we clarify. Exactly what branch are you building?

[2017-12-24 14:07] Wild1145 commented on #2139
Duplicate of #208

[2017-12-24 14:07] #2139 closed, assigned to nobody

[2017-12-24 14:07] Wild1145 commented on #2135
Need to know more info, what server version are you running, what branches / builds are you running of TFM and TF-WorldEdit?

[2017-12-24 14:09] Wild1145 commented on #2125
@ir1x TFM does not officially support CoreProtect at the current time. The TFM version of Rollback or TF-WorldEdit are the plugins a solution should be found through. As I mentioned, WorldEdit does not appear to track these commands and that is an issue.

[2017-12-24 14:13] lemonsked commented on #2121
I already stated that in the OP, but thanks

[2017-12-24 14:14] Wild1145 commented on #2121
@OxLemonxO Apologies, assumed it hadn't been with #2133 just commenting it out, evidently this was not read properly when the PR was raised.

[2017-12-24 15:56] ghost opened #2142 "/nc removes italics when nicknames are cleared"
#2141

[2017-12-24 22:25] Wild1145 commented on #2142
Thank you for contributing to the project. Please read the [Contributing Guidelines](https://github.com/TotalFreedom/TotalFreedomMod/wiki/Contributing) carefully before contributing to the project in the future!

[2017-12-24 22:25] #2142 closed, assigned to nobody

[2017-12-28 14:09] ezAxeG commented on #2140
@ItzLevvie Okay, it's fixed.

[2017-12-28 20:09] #2140 closed, assigned to nobody

[2017-12-28 21:10] ghost opened #2143 "Add a set tag"
"This will hopefully clear up the "STA/TCA" issue.

I am asking for a new command for admins, namely /myadmin settag <tag>.  This is helpful if you want specific colors for your tag, or you're a TCA and not a STA.

It will automatically apply on join, so you will not need to apply it manually every time."
http://totalfreedom.boards.net/thread/57077/myadmin-settag

[2017-12-28 21:15] Wild1145 commented on #2143
TFM does not see TCA as a rank. This is also a duplicate of about 50 other issues if I get what you're asking for, which is persistent tags. I cant be bothered tagging it because I do it just about every other issue currently.

[2017-12-28 21:15] #2143 closed, assigned to nobody

[2018-01-02 23:57] Gusted commented on #2120
dont rename 👍 :)

[2018-01-03 01:04] ncurran02 commented on #2120
It seems to work for me with RigelMCMod.

[2018-01-05 12:16] samennis1 opened #2145 "./tptoggle can be used to toggle other peoples as well as yours"
Hi,

Not sure if this has been already discussed, but might aswell be sure;

Other players can do /tptoggle <name> and it will toggle that persons TP.

[2018-01-05 13:38] aokod commented on #2145
TF-Essentials.

[2018-01-08 06:12] Hockeyfan360 opened #2146 "Replace Telnet with SSH"
http://totalfreedom.boards.net/thread/57950/replace-telnet-ssh-bukkittelnet

SSH is a significantly more modern and secure protocol than telnet. The Apache Mina SSHD project is a library that lets you embed SSHD servers into Java applications. This is exactly what we would need for this project.

We would need to implement a custom PasswordAuthenticator service. Seeing as the PasswordAuthenticator

[2018-01-08 06:21] script-head commented on #2146
We'd have to rewrite almost everything related to telnet and re-make clients for this as many people probably wouldn't want to looking at black on white.

[2018-01-08 06:23] Hockeyfan360 commented on #2146
^ Yeah, it is a hurdle. And to be completely honest, I'm not sure it's worth it either. Yes, it's more secure than telnet, but we're losing a lot of functionality for a small gain. This is just a discussion thread, and I'm interested to see what others think, too.

[2018-01-08 07:06] JeromSar commented on #2146
I've thought of this before, and I like the idea very much. It just needs time and someone willing to implement it. It shouldn't be too hard but may require a little cleverness here and there. However, there are currently much more important issues that we should be focusing on.

[2018-01-08 18:19] ghost opened #2147 "Issue building TFM"
I get these errors when I try to build TFM. Any solutions to resolve this issue?

-------------------------------------------------------------
COMPILATION ERROR :
-------------------------------------------------------------
me/totalfreedom/totalfreedommod/admin/AdminList.java:[53,9] cannot access java.util.function.Function
  class file for java.util.function.Function not found
me/totalfreedom/t

[2018-01-08 18:21] Wild1145 commented on #2146
Im certainly open to the idea, though given Telnet has been retired for many years already I dont think we need to rush to change it just because people suddenly realise its not the most modern system.

[2018-01-08 18:22] Wild1145 commented on #2147
What branch are you trying to build?

[2018-01-08 18:23] ghost commented on #2147
The branch i'm using is TFM1.12-Alpha

[2018-01-08 19:19] Wild1145 commented on #2147
Have you made any changes to the code?

[2018-01-08 20:16] ghost commented on #2147
No. All I did was clone TFM and add the lib folder. No errors appear after compiling, but the error above for some reason keeps showing and failing to build when I build the plugin.

[2018-01-08 20:23] JeromSar commented on #2147
What version of Java are you building with? We recommend at least JDK 1.7

[2018-01-08 21:00] Wild1145 commented on #2147
@poppy44 The alpha branch contains fully automated maven building. Try running a clean & build instead of just a build, if not re-clone it and DO NOT add the lib folder this time, just launch the project and compile it with maven.

[2018-01-08 21:00] ghost commented on #2147
I'm using JDK version 1.7.0_80

[2018-01-08 21:01] ghost commented on #2147
oh Wild I forgot to mention. When I was building it, I was selecting clean and build the whole time.

[2018-01-08 22:33] ghost commented on #2147
@Wild1145 how do I compile it with maven? when I cloned TFM from git, it also came with the lib folder.

[2018-01-08 22:35] JeromSar commented on #2147
I see the issue. Whilst TotalFreedomMod should be compiled with JDK 1.7 (as indicated in pom.xml), it actually uses JDK 8 functionality (namely `java.util.function.Function`). This is a bug, but there's no fix right now. For now, I recommend upgrading to JDK 8.

[2018-01-08 22:36] JeromSar opened #2148 "TotalFreedomMod uses JDK 8 functionality"
Namely: `java.util.function.Function` is used.

Original issue: https://github.com/TotalFreedom/TotalFreedomMod/issues/2147

[2018-01-09 07:50] ghost commented on #2147
It works now, seems the older version of JDK I used was causing it to fail at building. Thanks for the help. :)

[2018-01-09 14:24] #2147 closed, assigned to nobody

[2018-01-10 16:08] Decyj145 opened #2149 "Compiling Errors"
COMPILATION ERROR :
-------------------------------------------------------------
me/totalfreedom/totalfreedommod/util/DepreciationAggregator.java:[18,38] incompatible types: java.util.HashSet<java.lang.Byte> cannot be converted to java.util.Set<org.bukkit.Material>
1 error
-------------------------------------------------------------
---------------------------------------------------------------

[2018-01-10 16:28] lemonsked commented on #2149
Which version of Spigot are you trying to compile with?

[2018-01-10 16:31] Decyj145 commented on #2149
1.12

[2018-01-10 17:26] lemonsked commented on #2149
which branch?

[2018-01-11 16:02] Decyj145 commented on #2149
@ItzLevvie Thanks, fixed.

[2018-01-11 20:13] xChoatic commented on #2138
The Newest One and i wasn't even compiling

On Sun, Dec 24, 2017 at 9:05 AM, Ryan <notifications@github.com> wrote:

[2018-01-11 22:07] #2149 closed, assigned to nobody

[2018-01-11 22:07] lemonsked commented on #2138
Are there any errors in the log?

[2018-01-12 23:59] Wild1145 commented on #2148
So this was on the 1.12-Alpha branch, which does require JDK 8 to compile, simply because that is what I had at the time to work with and it seems to work most places. If we need to revert support back to JDK 7 as well then that can be done, just not sure if we *need* to support JDK 7 or not, though probably a good idea really.

[2018-01-13 00:01] Wild1145 commented on #2138
@xChoatic What release was it that you are using? The pre-release or the latest stable release? Can you post the name of it or link it here please?

[2018-01-13 00:11] Wild1145 opened #2150 "Withdraw JDK 7 Support"
Currently JDK 7 is the main version we are supporting for TFM, Java 8 has been around for a considerable amount of time now, and the JDK 7 is not even easily downloadable (You have to go through the archives and disregard the massive warnings). The JDK 8 and even JDK 9 are now available to download and contain the latest security patching.

While #2148 is a bug and confirmed, I am intending on at

[2018-01-13 00:38] Wild1145 commented on #2120
I've just done some basic testing, and havent been able to replicate. Can anyone confirm if this issue is still happening and if so please provide a bit more information?

[2018-01-13 13:49] Wild1145 commented on #2120
I have been unable to replicate the bug, and all functionality appears to be working as expected even when renamed.

[2018-01-13 13:49] #2120 closed, assigned to nobody

[2018-01-13 13:52] Wild1145 commented on #2122
From the test I have done, I have been unable to replicate this issue. GTFO appears to function as expected both with and without reasons. I suspect this has been caused by 3rd party unsupported builds of TFM.

[2018-01-13 13:52] #2122 closed, assigned to nobody

[2018-01-13 19:05] TangoMangoMC opened #2151 "Issues"
Can the following things be fixed please, making my life so much harder
- Item Drops disabled
- Schematics will not load heads
- Signs cannot be duplicated with Ctrl + Mouse 3
- Chests cannot be duplicated
- Mutes can be bypassed by leaving and rejoining

Thank you.

[2018-01-14 18:54] Mafrans commented on #2151
and

are most likely due to itemfixer clearing nbt data from some items

are due to the muted players being stored using player objects, which means leaving the game will invalidate that player. (Could be fixed by storing usernames, UUIDs or IPV4 adresses instead?)

is a problem with the current TF-WorldEdit plugin and should probably be posted as an issue there

[2018-01-14 18:58] Mafrans commented on #2145
/tptoggle is part of TF-Essentials and this problem should thus be posted there.
Other than that I believe as long as we can get a good bridge to TFM (which right now doesn't exist) it should be fairly simple to fix this problem.

[2018-01-19 18:39] Wild1145 commented on #2146
https://dev.bukkit.org/bukkit-plugins/sshd - A plugin that we could probably use and integrate with for the server side.

[2018-01-22 19:42] TangoMangoMC commented on #2151
Can you link me the TF World Edit plugin @Mafrans so I can post that issue there?

[2018-01-25 13:13] mgflames commented on #2151
For breaking items and them not dropping, this is a gamerule.

For the ability to drop items, I believe that's in the configuration files.

This has already been talked about and was accepted for the 5.1 milestone yet hasn't been dealt with yet: #1874 #1921

[2018-01-25 18:54] mgflames commented on #2151
This has already been talked about and was accepted yet hasn't been dealt with yet: #1874 #1921

[2018-01-29 21:03] Gusted commented on #2145
@Wild1145 Close this

this issuesie is setted to TF-Essentials

[2018-02-09 16:03] #2145 closed, assigned to nobody

[2018-02-22 12:49] untuned commented on #208
done in https://github.com/TFPatches/TotalFreedomMod/commit/2bffcef9a90505d8605b7a49748624fb4000d9ef

[2018-02-22 13:22] Wild1145 commented on #208
@untuned Smashing, but its not part of this repo.....

[2018-02-23 21:48] TangoMangoMC commented on #2151
Any update on this, Chests and Signs still cannot be duplicated with Ctrl + Mouse 3, and heads and chests will not paste in with items or faces using world edit.

[2018-02-23 22:53] ncurran02 commented on #2151
The WorldEdit is out-dated.

[2018-02-24 15:54] NebulaKick14 opened #2153 "Bypassing /noob"
You can bypass the 5 minute te.pban if you reconnect fast enough after being banned.

[2018-02-24 15:54] NebulaKick14 commented on #2153
You can bypass the 5 minute te.pban if you reconnect fast enough after being banned.

[2018-02-25 03:44] hy3064 opened #2154 "Version 4.3 (Auto Admin)"
Hello,

When i run freedom op ver 4.3 on spigot 1.8.3, everyone seems to be super admin?

When a new player joins it says "[Username] is a senior admin" and when they talk it has a [Super Admin] prefix in front?  Even though I never added them to the super admin list

Proof:  https://gyazo.com/fcb4c658f5ee2fa97c5ce521c9e6f6a1
How can you fix?

[2018-02-25 19:00] robingall2910 commented on #2151
it's possible to just add the latest worldedit build, but things might break

[2018-02-26 18:39] mgflames opened #2155 "Building"
Hi there,

when I try to build the TFM 1.12-Alpha branch, I get the error below, I'm hoping someone can help.

`Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.3:compile (default-compile) on project totalfreedom: Fatal error compiling: java.lang.NoSuchFieldError: pid -> [Help 1]

To see the full stack trace of the errors, re-run Maven with the -e switch.
Re-run Maven using

[2018-02-26 19:00] #2155 closed, assigned to nobody

[2018-02-27 02:53] hy3064 commented on #2154
The problem has been solved

[2018-02-27 22:18] Wild1145 commented on #2154
@hy3064 Can you elaborate on what the solution to the problem was in case other people get this in the future?

[2018-02-28 04:24] ncurran02 commented on #2154
The solution was to remove an entry with the ip of 127.0.0.1

[2018-03-23 21:08] iGaps opened #2156 "Person on same wifi network gets the same rank as me"
Whenever there are people on my wifi network playing on the server it just adds them to the same rank as I am (Btw I am on TotalFreedomMod 1.12 pre release).

[2018-03-23 23:49] Wild1145 commented on #2156
This is intended functionality as we match by IP if the server is in onlinemode = false. If you switch to onlinemode = true I think it should resolve the issue but it is intended functionality of TFM.

[2018-03-24 01:46] iGaps commented on #2156
It's happening with onlinemode = true

[2018-03-24 20:09] Wild1145 commented on #2156
Matching by IP appears to be working on both the onlinemode = true / false in that case which is intended functionality. Only way to work around this would be to have two different home networks running but this is 100% intended functionality.

[2018-04-05 18:29] tylerhyperHD opened #2157 "Schematic List Too Full"
Hello friends, it's been awhile.

When I load up the 28966 HTTPD schematic list, it literally crashes my browser before I even load it, and I have 1GB/s upload/download on my internet provider and more than enough RAM to load it.

My proposals that we could do:

1. Re-design this page by making an external server load the schematic list every 15 or so minutes therefore removing tons of stress on t

[2018-04-06 17:40] SamD22323 opened #2158 "/cake"
I have replaced Achievements with Advancements for /cake. the version has changed. what do i do for BAKED_CAKE. There is an error there

[2018-04-07 21:19] Wild1145 commented on #2158
Mojang changed how achievements work so it is a confirmed bug we are aware of.

[2018-04-07 21:20] Wild1145 commented on #2157
Sounds like we just need to have some pagination in place and have a drop down to set how many should be displayed per page?

[2018-04-08 18:54] robingall2910 commented on #2157
yes, pretty much @Wild1145

[2018-04-10 09:45] Modiserre opened #2159 "Total Freedom Mod Related Commands not working"
So, today I was making a Minecraft server with TFM and I got the latest release. I use spigot and it is the latest version, I am currently using server.pro because the .jar file for Minecraft doesn't work either. However the Minecraft Server JAR Had TFM displayed on /pl and they were able to announce things like  "Be sure to check us out at here: " or things like "Griefing is not allowed!" But whe

[2018-04-10 13:55] ncurran02 commented on #2159
What version is your server running on?

[2018-04-24 13:08] aokod commented on #2156
The best way to combat this is by utilising a VPN (virtual private network), considering this issue isn't unique to TFM.

[2018-05-03 21:58] Wild1145 commented on #2159
Thanks for contributing. I am closing this issue for inactivity. Should you have anything further to add in the future please either re-open the issue yourself or tag a member of staff and we will re-open the issue for further discussion.

[2018-05-03 21:58] #2159 closed, assigned to nobody

[2018-05-15 14:51] ghost opened #2160 "NetBeans won't open latest TFM source files"
[messages.log](https://github.com/TotalFreedom/TotalFreedomMod/files/2005462/messages.log)
![error](https://user-images.githubusercontent.com/17501381/40064595-277487c6-5860-11e8-826d-31cdccbe54fc.PNG)
This never happened to me when i tried compiling TFM, it happens when i select the tfm folder from open project

[2018-05-16 09:43] JeromSar commented on #2160
This seems to me like a NetBeans issue, and not a TFM issue.

[2018-05-16 09:43] #2160 closed, assigned to nobody

[2018-05-17 15:47] #2154 closed, assigned to nobody

[2018-05-17 15:47] #2156 closed, assigned to nobody

[2018-05-17 15:48] Wild1145 opened #2161 "Add SSH Option for remote console access"
Telnet is generally seen as an insecure protocol especially when exposed to the internet. We should look at adding support for SSH and eventually look to phase out Telnet entirely.

[2018-05-20 13:19] Wild1145 commented on #2150
Java JDK 7 support was dropped from April 2015 onwards so we need to probably expedite this. Java 8 is likely the next step, though Java 9 support has already been dropped and Java 10 is now out however Netbeans does not support it yet.

[2018-05-20 13:59] Wild1145 commented on #2161
Duplicate of #2146

[2018-05-20 13:59] #2161 closed, assigned to nobody

[2018-05-20 14:48] Wild1145 commented on #2158
Duplicate of #2121

[2018-05-20 14:48] #2158 closed, assigned to nobody

[2018-05-20 20:52] Wild1145 commented on #2119
Some work has been started on this here - https://github.com/TotalFreedom/TotalFreedomMod/commit/0b9960b0d9a2b5f81aa93dfff7869e4f8a99c4b0 - Though there is some work that needs doing, only the build number is currently updating whereas the timestamp and similar are not updating properly in real time.

[2018-05-20 21:03] Telesphoreo commented on #2119
I fixed it in Fuse. I had a git.properties though as I used a different plugin.

[2018-05-20 21:06] Wild1145 commented on #2119
@Telesphoreo Are you able to link to where you've done this before?

[2018-05-21 04:43] Telesphoreo commented on #2119
Pom -https://github.com/FuseMinecraft/Fuse/blob/master/pom.xml

Main class - it has the same BuildProperties and another GitProperties -
https://github.com/FuseMinecraft/Fuse/blob/master/src/main/java/us/flowdesigns/fuse/Fuse.java

The downside is that you have to regenerate the git properties every time you want the build date. I use the git properties for the build time and date because I couldn

[2018-05-21 20:24] Wild1145 commented on #2119
@Telesphoreo Thanks for the help here, that Maven plugin made life a lot easier :)

[2018-05-27 12:28] Wild1145 commented on #2153
@NebulaKick14 When you say fast enough after being banned, how fast is that?

[2018-05-27 12:29] Wild1145 commented on #2138
Thanks for contributing. I am closing this issue for inactivity. Should you have anything further to add in the future please either re-open the issue yourself or tag a member of staff and we will re-open the issue for further discussion.

[2018-05-27 12:29] #2138 closed, assigned to Wild1145

[2018-05-27 12:31] Wild1145 commented on #2113
I think given this functionality already exists we do not need to create more work for ourselves by re-inventing the wheel.

[2018-05-27 12:31] #2113 closed, assigned to nobody

[2018-05-27 12:39] Wild1145 commented on #2105
@robingall2910 Is this even still a command on TotalFreedom?

[2018-05-27 12:46] Wild1145 commented on #2017
Based on the fact nobody has argued against my previous comment I am declining this issue as it unnecessarily restricts a players freedom.

[2018-05-27 12:46] #2017 closed, assigned to Wild1145

[2018-05-27 12:46] Wild1145 commented on #2016
Again, nobody has chimed in to say they disagree that this unnecessarily restricts players freedom so I am closing this issue as declined.

[2018-05-27 12:46] #2016 closed, assigned to nobody

[2018-05-27 12:47] Wild1145 commented on #2015
As per my last comments, I can not see the value to this... Closing as declined.

[2018-05-27 12:47] #2015 closed, assigned to nobody

[2018-05-27 12:48] Wild1145 commented on #2004
Now we no longer have Clanforge is this still an issue?

[2018-05-27 12:50] Wild1145 commented on #2022
Im inclined not to reinvent the wheel. What serious benefits would this have over the essentials vanish command?

[2018-05-27 13:59] NebulaKick14 commented on #2153
Around a second.

[2018-05-28 13:54] Wild1145 commented on #2004
@marcocorriero What was the reason for the issue closing?

[2018-05-28 14:07] ghost commented on #2004
Cause im not  helping tf

________________________________
From: Ryan <notifications@github.com>
Sent: Monday, May 28, 2018 3:54:11 PM
To: TotalFreedom/TotalFreedomMod
Cc: marcocorriero; Mention
Subject: Re: [TotalFreedom/TotalFreedomMod] Make execute a TFM command. (#2004)

@marcocorriero<https://github.com/marcocorriero> What was the reason for the issue closing?

—
You are receiving this becaus

[2018-05-28 14:24] Wild1145 commented on #2004
So given there has been no valuable contribution I'm re-opening until we can validate the issue is in fact solved or no longer relevant.

[2018-05-28 14:50] #2004 closed, assigned to nobody

[2018-05-28 15:00] Wild1145 opened #2164 "Make execute a TFM command"
Due to some petty bitching on another issue I'm duplicating it here. Previous ticket #2004

Make it overrides real console execute, soo it doesn't run or bypass all command blocks.

This has been made to solve the issue with clanforge breaches as they uses execute to gcmd all admins and bypasses all rank checks.

This has been already loaded and tested on TF

What I am currently unsure on is if th

[2018-05-28 15:00] Wild1145 commented on #2004
So you're going to act like a child. Rasing a new ticket on #2164

[2018-06-10 08:20] Telesphoreo commented on #2119
@Wild1145 By the way, there are still issues. I figured out a better way to get the buildDate with build.properties. However, by putting the build properties AND the git properties in the same function, if one is null, they both will return null. Not everyone will have git setup, but everyone will have the build properties. You should split them up into two different functions so that the build pr

[2018-06-16 19:28] PremintexMC opened #2165 "OPs are able to use /day and /night"
OPs are allowed to use the commands /day and /night which change the time of the day on the server globally
disable pls

[2018-06-19 13:12] peclarke opened #2166 "/glist banip not kicking a player if their IP matches"
Not sure if this is a design thing or an actual bug - I thought it might be worthwhile to post it.
On banning a player today using /banip, I found I had to kick them after the banip had gone through in order for it to work. It might be handy if banip would kick the player if their IP matched the ban.

Cheers, Filez.

[2018-06-19 13:27] Wild1145 commented on #2166
Your IP is only checked when you login to the server so when you run the /banip command it would only ban the user when they login the next time. Why would you not use /gtfo if you're banning someone who is on the server?

[2018-06-22 01:16] peclarke commented on #2166
I think I had a mind snap or similar and decided to use /banip instead. I guess I was a little surprised when it didn't kick him and he was banned. It might be an idea to put a kick functionality in there, but I can also see why you wouldn't. Either way, I will leave it to the developers to decide.

[2018-07-06 13:30] berwil-1 commented on #2166
Did I miss something?
I'm pretty sure this happens for /gtfo, /tempban and all other forms of punishments.
Correct me If I'm wrong.

[2018-07-06 13:40] Wild1145 commented on #2166
It does happen with most other forms of punishment, however /glist was originally intended for banning offline players as I recall.

[2018-08-09 19:57] Wild1145 opened #2167 "Investigate Improving Git Build Properties"
"I figured out how to merge the git properties into the build properties. You can see how I've done it here:
pom.xml: https://github.com/Telesphoreo/TotalFreedomMod/blob/1.13/pom.xml
TotalFreedomMod.java: https://github.com/Telesphoreo/TotalFreedomMod/blob/1.13/src/main/java/me/totalfreedom/totalfreedommod/TotalFreedomMod.java"

[2018-08-09 20:00] Wild1145 commented on #1903
Thanks for contributing. I am closing this issue for inactivity. Should you have anything further to add in the future please either re-open the issue yourself or tag a member of staff and we will re-open the issue for further discussion.

[2018-08-09 20:00] #1903 closed, assigned to nobody

[2018-10-07 18:52] Wild1145 opened #2168 "Update Wiki - Compiling TFM"
We've not updated the wiki with how to compile TFM with the new Maven build process and I probably need to do that at some point... Also need to check versions and such are correct.

[2018-10-09 21:28] Wild1145 opened #2169 "Update Tab, Prefixes & Similar Automatically"
Auto display updating when you are added to admin, your rank is changed, or removed from admin

Include:

- Tab
- Prefix
- Name above player head (if we even do this already)

[2018-10-11 19:32] Wild1145 commented on #785
Wrapping this into #1830

[2018-10-11 19:32] #785 closed

[2018-10-13 15:11] Wild1145 opened #2171 "Resolve build issue"
There is currently a dependency issue with the latest build due to the TF-WorldEdit trying to use a 1.7 build of Craftbukkit. The 7.0.0.-SNAPSHOT version of WorldEdit removes this dependency and works fine, we just need to merge that into the main WorldEdit branch and do some testing there.

This will block the 5.0.1 and future releases going live until we've gotten to the bottom of this.

[2018-10-13 15:11] Wild1145 commented on #2171
This is also why the PR @ZeroEpoch1969 has raised is not building at the moment, currently working on fixes but Gradle takes a while to run...

[2018-10-14 11:15] Wild1145 opened #2172 "Move away from MCStats"
As pointed out by @Telesphoreo on the TF Forums, MCStats is now dead and no longer maintained so we need to look to move to an alternative system or drop the collecting of Metrics all together. I suspect we do want to continue collecting Metrics so will need to look at an alternative solution.

[2018-10-14 11:31] Wild1145 opened #2173 "Make Permban HTTPD Module Admin Only"
I believe the current perm ban list HTTPD module is open to the public, but we need to probably consider locking it down to just admins. That is how TF Patches have handled it but I'm not sure what the rational behind this decision was.

I hope that @ZeroEpoch1969 @Telesphoreo or @robingall2910 might be able to give some guidance as to why this decision was made before we accept the request / reje

[2018-10-14 16:27] Telesphoreo commented on #2173
There was a suggestion made quite a while ago to block it, apparently because the other ban module showed the ips and we wanted the permbans blocked as well

[2018-10-14 16:29] Wild1145 commented on #2173
@Telesphoreo IP's are not private information so were there any other reasons to block it to just admins?

[2018-10-14 16:47] Telesphoreo commented on #2173
I believe it was to keep it consistent, but it could be fixed the other way around by unblocking the ban module but I personally don't think it's a good idea for any op to just see all banned players and the reason (same with permbans)

[2018-10-14 16:49] Telesphoreo commented on #2172
TFM has been using bStats for a while @ https://bstats.org/plugin/bukkit/TotalFreedomMod

We could just replace the mcstats class with the bStats one and it would start logging automatically

[2018-10-14 20:26] Wild1145 commented on #2172
@Telesphoreo Not sure "who" has been using bStats... This repo certainly has not, so I'm not sure who / why someone has registered TotalFreedomMod with them...

I'll look into them though for moving our metrics solution over to.

[2018-10-14 20:27] Wild1145 commented on #2173
I agree that we probably want it to be consistent, or at least justified why it's not consistent. Personally I don't see a massive issue with it being public or private, given the main reason for HTTPD was for things like the website to hook into it originally, and not end users. I'll have a think and see what makes more logical sense.

[2018-10-14 20:28] script-head commented on #2172
@Wild1145 I registered it on bStats so no one else could grab it

[2018-10-14 20:30] Telesphoreo commented on #2173
Well I mean I don't think it's a good idea because then an op could look at the banlist and see op did x and then they could blackmail them into doing something else and then they could check the permbans to see if they got the victim permbanned

[2018-10-14 20:32] Wild1145 commented on #2173
I'm not sure we should be making architectural decisions based on the odd chance someone decides they wanna have a stab at blackmailing someone... That ultimately is something I'd be seeing as a very low risk scenario in general, much less the odds of someone doing it right. Plus to blackmail you need something to hold over someone, and a ban on a Minecraft server isn't really that...

[2018-10-14 21:21] Wild1145 opened #2174 "Investigate WorldEdit Dependency Requirements"
@Telesphoreo has flagged that on their builds of TFM they only need WorldEdit - Bukkit and not WorldEdit - Core as well.

I think WorldEdit - Core is where the custom changes were made, but we need to do some looking into this to make sure we're only importing as a dependency what TFM actually requires.

[2018-10-14 21:46] Telesphoreo commented on #2174
[code]

Mine compiles just fine without having a .bukkit or .core

[2018-10-15 13:41] Wild1145 commented on #2174
So you import in the entire WorldEdit project, including Core, Bukkit and Sponge there. So it probably does make more sense for us to just import Bukkit and core then as we don't need the sponge code.

[2018-10-15 17:43] #1652 closed

[2018-10-15 17:43] #2121 closed, assigned to nobody

[2018-10-15 17:43] #2123 closed, assigned to nobody

[2018-10-15 17:43] #2150 closed, assigned to nobody

[2018-10-15 17:43] #1884 closed, assigned to nobody

[2018-10-15 17:43] #2119 closed, assigned to nobody

[2018-10-15 17:45] Wild1145 commented on #2171
Build now passes.

[2018-10-15 17:45] #2171 closed, assigned to Wild1145

[2018-10-15 17:45] Wild1145 commented on #2148
Closed as we've moved from 1.7 to 1.8.

[2018-10-15 17:45] #2148 closed, assigned to nobody

[2018-10-15 18:30] Telesphoreo commented on #2174
Actually no, I deleted the sponge and forge project folders completely so it doesn't build those at all

[2018-10-15 19:10] Wild1145 commented on #2174
That would explain it then. If we keep those within TF-WorldEdit we will need to continue using sub-projects but if we wipe them out we can just use the main repo without sub-projects.

[2018-10-18 21:43] tylerhyperHD commented on #2174
After implementing the code, I was eventually able to compile it due to bukkit-classloader-check being removed from the sk89q repo. The version of bukkit that must be implemented with it is 1.8 as well as adding the new classloader check: com.sk89q.spigot:bukkit-classloader-check:1.8-R0.1-SNAPSHOT.

As far as the new changes to WorldEdit, they added a new licensing plugin which needs to be removed

[2018-10-19 02:15] Telesphoreo commented on #2174
@tylerhyperHD you don't need to remove the licensing plugin, you just have to add the header. The new worldedit still compiles fine with 1.12 or 1.13 but is not compatible in game. I had issues with that class also, but the problem solved itself

[2018-11-01 18:37] tylerhyperHD commented on #2174
@Telesphoreo Weird - Once I added TF modifications for the 7.0.0 snapshot the licensing plugin spat out errors and since I didn't wanna deal with it I just removed it. Seems to work on my test server even if I removed it though.

[2018-11-20 02:53] Telesphoreo commented on #2174
One of the things you can do to get the other version of WorldEdit to compile is to use the CodeMC repo. They have all of the NMS (for 1.12/1.13 that works properly) and has the old version of CB (1.6.4) on it. After adding that as a repo and replacing it with the spigot nexus one, it worked for me 100% of the time

[2019-03-03 21:35] Wild1145 opened #2175 "Update to Java 11"
Java 8 will be going EOL for personal use very shortly and Java 11 is the next supported version that is not already EOL or will be EOL shortly. We should look at updating and seeing what the implications may be.

[2019-04-09 20:02] Creeperdude2409 opened #2177 "Error occurred while enabling TotalFreedomMod v5.2 (is it up to date?)"
I have the plugins TF-Worldedit, Essentials-TF, Aero 2.0, and TFM installed on my server, and TFM appears when I do /pl, but there are no commands, and I also get this error: https://pastebin.com/XurnDUL0

In the error, I see that it mentions AeroPlugin a lot, so I think maybe I'm using the wrong Aero, and if I am, where can I find the download for the correct Aero?

Thanks,

~ Creeperdude2409
EDI

[2019-04-12 22:19] JeromSar commented on #2177
You might not have the latest (or correct) version of Aero installed. Make sure that your version of Aero has at least this class: `net/pravian/aero/command/handler/SimpleCommandHandler` having this method: `int loadFrom(java/lang/Package)`.

[2019-04-12 23:34] Creeperdude2409 commented on #2177
Oh, I don't have the latest Aero xD I got that one from the 1.10 one what was I thinking. Do you know a link to the 1.13.2 Aero? I can't seem to find it.

[2019-04-13 00:41] ncurran02 commented on #2177
I have updated Aero to support 1.13.2 and made some modification to make it work - https://github.com/Focusvity/Aero although I don't recommend you to use it until the PR (https://github.com/Pravian/Aero/pull/14/) has been approved and merged.

[2019-04-13 00:42] Creeperdude2409 commented on #2177
Okay I will use my netbeans to make it a jar file and try it with TFM

[2019-04-13 00:54] Creeperdude2409 commented on #2177
Where can I find an Aero with the SimpleCommandHandler because I keep getting this error: https://pastebin.com/gwuKkLYB

[2019-04-13 01:32] Creeperdude2409 commented on #2177
I keep getting this error: https://pastebin.com/6j0xjc6q

[2019-04-13 01:37] Creeperdude2409 commented on #2177
Oh, now my TF WorldEdit's acting up. From the error, I am seeing a lot about craftbukkit. Is it a plugin or something?

[2019-04-13 02:19] Creeperdude2409 commented on #2177
I reinstalled TFM and Aero and got these 7 errors: https://pastebin.com/X6uRLFV6

[2019-04-13 04:21] ncurran02 commented on #2177
You need to get WorldEdit

[2019-04-13 14:03] Creeperdude2409 commented on #2177
Oh right I forgot I needed that when I reinstalled TFM and Aero (I had it before I reinstalled the two)

[2019-04-13 14:10] Creeperdude2409 commented on #2177
Okay, that seemed to fix it but I'm still getting these 6 other errors: https://pastebin.com/6j0xjc6q

[2019-04-13 14:38] Creeperdude2409 commented on #2177
Okay I just got WorldEdit and the commands are working now

[2019-04-13 14:40] #2177 closed, assigned to nobody

[2019-04-13 15:24] Creeperdude2409 opened #2178 "How do I make myself admin on my server?"
I have a server that runs on TFM and I need help getting myself to be an Owner and when I do /saconfig setrank hellow123 Senior_admin it says, "Unknown Admin: hellow123"

Thanks,

~ Creeperdude2409

[2019-04-13 16:26] Creeperdude2409 commented on #2178
Nevermind I did saconfig add hellow123 then saconfig setrank hellow123 SENIOR_ADMIN and it worked.

[2019-04-13 16:26] #2178 closed, assigned to nobody

[2019-04-20 21:47] FruztalProjects opened #2179 "How do I add owners to the list"
I want access to all of the commands on my server but I can't use commands like "/ban"

[2019-04-21 11:41] Wild1145 commented on #2179
@FruztalProjects You will need to still be added as an admin (saconfig add <username>) as the owner settings is nothing more than a title, it comes with no additional permissions. If you're in the owner list, added as an admin and use saconfig setrank to set yourself as a senior admin, you should have all the required permissions and show up as an owner.

[2019-04-22 19:25] #2179 closed, assigned to nobody

[2019-04-22 19:25] JeromSar commented on #2179
@Wild1145 is correct. Let us know if you have any other questions.

[2019-09-14 19:31] Wild1145 commented on #1968
Resolved in https://github.com/TotalFreedom/TotalFreedomMod/commit/de55ead09a00018da5c21e44c48f71297e223543

[2019-09-14 19:31] #1968 closed, assigned to OxLemonxO

[2019-11-09 11:56] ghost opened #2182 "serious issue"
When u do /v and u are vanished u can just do /invis and it'll show who is in vanish and also u can just see particles

[2019-11-09 13:11] ncurran02 commented on #2182
Wrong repo, please report it at https://github.com/TFPatches/TotalFreedomMod

[2019-11-09 13:12] ghost commented on #2182
ok

[2019-12-21 13:32] Wild1145 commented on #2182
This is not functionality supported in TFM I'm afraid, I would suggest posting it on https://www.totalfreedom.boards.net and asking them to assist.

[2019-12-21 13:32] #2182 closed, assigned to Wild1145

[2020-03-10 15:57] DragonSlayer2189 opened #2184 "Command blocker not working"
For some reason, In the latest version of tfm, if you add arguments to blocked cmds it won’t be blocked

There’s a forum post about it from TotalFreedom
https://totalfreedom.boards.net/thread/66156/tfms-command-blocker-marcod

[2020-05-02 22:54] Wild1145 commented on #2184
@DragonSlayer2189  -  Could you confirm if that is running the latest TFM release from this repo or if that is the TF-Patches one?

[2020-05-03 00:37] ncurran02 commented on #2184
@Wild1145 It’s for TFPatches

[2020-05-03 00:46] Wild1145 commented on #2184
Perfect. In that case I'll close this and suggest the issue be raised on the TF patches repo.

[2020-05-03 00:46] #2184 closed, assigned to nobody

[2020-05-04 21:21] ghost commented on #1783
this has been dead for 4 years

[2020-12-26 16:43] arrayindex-dev commented on #2153
Update: This still works with any tempban. Reconnecting after around 30 minutes gets you unbanned.

[2021-03-19 19:07] godveno opened #2186 "TF doesn't work at all"
I want to get the newest version of TF (5.0.2) but it is not working

*
![TotalFreedom](https://user-images.githubusercontent.com/80982209/111830561-75824e00-88ee-11eb-9ca5-cd887d248c9a.png)

What should I do?

[2021-03-19 19:43] Wild1145 commented on #2186
The error there is that you're missing the "Aero" plugin which is a requirement for the original versions of TFM which are on this project. Aero can be found here - https://github.com/Pravian/Aero

There are more up to date versions of TFM which can be found here - https://github.com/AtlasMediaGroup/TotalFreedomMod Which is what currently runs on TotalFreedom and supports newer Minecraft versions.

[2021-03-19 23:19] JeromSar commented on #2186
Talking about Aero, @Wild1145: is it still being used? Is the latest version recent enough?

[2021-03-19 23:30] Wild1145 commented on #2186
@JeromSar It isn't any-more, the previous set of developers moved away from it some time ago if memory serves me right, the only TFM repo that still uses it is this one, the "TFPatches" and the one in the ATLAS Media Group Repo's don't use Aero at all.

[2021-03-22 09:28] JeromSar commented on #2186
Ah, got it. I hope your question is answered @godveno.

[2021-03-22 09:28] #2186 closed, assigned to nobody

[2021-12-10 01:44] commandarmy opened #2188 "You need a plugin that cant be downloaded."
Im right now running a test build of TFMod [for some new project ideas im making] And it says i need to have "Aero". But then when i try and get the "required" plugin it just wont download. You cant access the website to download it [it says its down]. Any help?

[2021-12-10 01:45] commandarmy commented on #2188
or any "aero" plugin downloads

[2021-12-10 15:16] ghost commented on #2188
try searching for an archived version of the webpage with archive.org

[2021-12-10 16:01] Wild1145 commented on #2188
It's worth noting that this repo for TFM is no longer actively maintained, the version running on the TotalFreedom server is now https://github.com/AtlasMediaGroup/TotalFreedomMod which is actively maintained.

If you do want to compile / play with this older version though, you can find Aero here: https://github.com/Pravian/Aero

[2021-12-23 15:56] commandarmy commented on #2188
thank you. closed

[2021-12-23 15:56] #2188 closed, assigned to nobody